@use '../abstracts/variables' as *;
@use '../abstracts/screenwidth' as *;
@use '../abstracts/mixins' as *;

@use '../base/animations' as *;
@use "sass:math";

.d {
   &-none {
      display: none !important;
   }

   &-block {
      display: block;
   }

   &-unset {
      display: unset;
   }
}

.is {
   &-hidden {
      display: none !important;
   }
}

* {
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

   &:active {
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   }
}

.tmblr-lightbox {
   backdrop-filter: blur(12px);

   .lightbox-image {
      max-width: none;
   }
}

@keyframes fadeIn {
   0% {
      opacity: 0;
   }

   100% {
      opacity: 1;
   }
}

body {
   font-family: var(--body-font);
   background-color: rgba(var(--bg-color-1), 1);
   background: linear-gradient(0deg, rgba(var(--bg-color-1), 1) 30%, rgba(var(--bg-color-2), 1) 70%);
   background-attachment: fixed;

   &.is-bg {
      background-image: var(--bg-img);
   }

   &.is-covered {
      background-size: cover;
      background-repeat: no-repeat;
   }

   &.is-repeat {
      background-repeat: repeat;
   }

   &.is-menu-clicked {
      overflow: hidden;

      .nav {
         background: transparent;
         border-color: transparent;
         box-shadow: none;
         backdrop-filter: blur(0px);

         &__link {
            opacity: 0;
            visibility: hidden;
         }
      }
   }

   &.is-removed-credit {
      overflow: hidden;
      .credits {
         width: 100%;
         height: 100%;

         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;

         position: fixed;
         left:0;
         top:0;

         background-color: rgba(0, 0, 0, .65);
         backdrop-filter: blur(12px);

         z-index: 999999999999;

         &__inner {
            max-width: 60ch;
            margin:auto;

            position: relative;
            width: 100%;

            background-color: rgba(var(--bg-card), 1);
            color: rgba(var(--body-text), 1);

            border: 1px solid rgba(var(--border-color), 1);
            box-shadow: rgba(0, 0, 0, 0.05) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
            border-radius: 6px;

            padding:0 1rem;
            h2,p {
               margin:1rem 0;
            }
            h2 {
               border-bottom: 1px solid rgba(var(--border-color), 1);
               padding-bottom: 1rem;
            }
            a {
               color:rgba(var(--accent), 1);
               font-weight: bold;
            }
         }
      }
   }

   &[data-blog-style="list"] {

      .nav,
      .wrapper,
      .nav__search {
         &__inner {
            max-width: 680px;
            margin-left: auto;
            margin-right: auto;
         }
      }
   }

   &[data-blog-style="grid"] {
      .wrapper {
         &__blog {
            --grid-cols: 4;
            --grid-gap: 2rem;
            display: grid;
            grid-template-columns: repeat(var(--grid-cols), minmax(0, 1fr));
            grid-auto-flow: row dense;
            grid-auto-rows: auto;
            gap: var(--grid-gap);

            @media (max-width:$max-md) {
               grid-template-columns: minmax(0, 1fr);
               gap: 1rem;
            }

            .grid-sizer {
               display: none;
            }

            .posts {
               position: relative;
               aspect-ratio: 1/1;
               margin-bottom: 0;

               overflow: hidden;
               transition: 0.4s;

               @media (min-width:$min-md) {
                  &.expand {
                     grid-column-end: span 2;
                     grid-row-end: span 2;
                  }
               }

               &:hover {
                  transform: translateY(-6px);
               }

               .is-not-displayed {
                  display: none;
               }

               &-answer {
                  background-color: rgba(var(--accent), 1);
                  color: rgba(var(--bg-card), 1);

                  .posts__question {
                     border: 0;
                     height: 100%;

                     mask-image: linear-gradient(to top, transparent 5%, black 45%);
                     mask-size: auto 100%;
                     mask-repeat: no-repeat;

                     margin: 0;
                     padding: 0;

                     &::after {
                        display: none;
                     }

                     &__user {
                        font-size: 1.25rem;
                     }

                     &__asker {
                        display: none;
                     }

                     &__inner {
                        height: 100%;
                        overflow: hidden;
                        background-color: rgba(var(--accent), 1);
                        color: rgba(var(--bg-card), 1);

                        padding: 1.5rem;
                     }
                  }

                  .posts__answerer {
                     display: none;
                  }

                  .posts__body {
                     display: none;
                  }
               }

               &-photo {
                  .html_photoset {
                     padding:0;
                     border:0;
                     margin:0;
                  }
                  .posts__body {
                     position: absolute;
                     left: 0;
                     top: 0;
                     z-index: 1;

                     .reblog-list, .original {
                        &:not(:first-child),
                        >*:not(.reblog-post-avatar) {
                           display: none;
                        }

                        .reblog-post-avatar {
                           .user-blog {
                              background-color: rgba(var(--accent), 0.65);
                              color: rgba(var(--bg-card), 1);
                              -webkit-backdrop-filter: blur(8px);
                              backdrop-filter: blur(8px);
                              padding: .5rem .85rem;
                              border-radius: 30px;
                              font-size: .85rem;
                           }
                        }
                     }
                  }
               }

               &:where(.posts-text):not(.posts-photo-text):not(.posts-photoset-text):not(.posts-audio) {
                  &::before {
                     font-family: "Line Awesome Free";
                     font-weight: 900;
                     font-size: 45px;
                     content: "\f15c";

                     position: absolute;
                     left: 0;
                     top: 0;

                     display: flex;
                     align-items: center;
                     justify-content: center;
                     flex-direction: column;

                     width: 100%;
                     height: 100%;

                     background: rgba(var(--bg-card), 1);
                     color: rgba(var(--body-text), 1);

                     z-index: 2;
                  }
               }

               &-video {
                  @include icon-style("\f03d", var(--bg-card), var(--body-text), 2);
               }
              
               &-audio {
                  @include icon-style("\f001", var(--accent), var(--bg-card), 3);
               }
              
               &-link {
                  @include icon-style("\f0c6", var(--accent), var(--bg-card), 3);
               }

               &-photo-text {
                  .posts__body {
                     padding: 0;

                     .original {
                        padding: 0;
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;

                        p:empty {
                           display: none;
                        }

                        .reblog-post-avatar {
                           position: absolute;
                           left: 0;
                           top: 1rem;
                           margin: 0 1ch;
                           z-index: 2;

                           img {
                              border-radius: 50%;
                           }

                           .user-blog {
                              background-color: rgba(var(--accent), 0.65);
                              color: rgba(var(--bg-card), 1);
                              backdrop-filter: blur(8px);
                              padding: 0.5rem 0.85rem;
                              border-radius: 30px;

                              font-size: 0.85rem;
                           }
                        }

                        .npf_row {
                           position: absolute;
                           left: 0;
                           top: 0;
                           z-index: 1;
                           margin: 0;

                           background-color: rgba(var(--bg-card), 1);

                           .npf_col ~ * {
                              display: none;
                           }

                           figure.tmblr-full {
                              img {
                                 aspect-ratio: 1/1;
                                 object-position: top;
                                 object-fit: cover;
                                 height: 100%;
                                 width: 100%;
                              }
                           }
                        }

                        > figure.tmblr-full {
                           > img {
                              aspect-ratio: 1/1;
                              object-position: top;
                              object-fit: cover;
                              height: 100%;
                              width: 100%;
                           }
                           a[class*="anchor"] {
                              img {
                                 aspect-ratio: 1/1;
                                 object-position: top;
                                 object-fit: cover;
                                 height: 100%;
                                 width: 100%;
                              }
                           }
                        }

                        :is(.npf_row) ~ * {
                           display: none;
                        }

                        &:not(:first-child) {
                           display: none;
                        }
                     }

                     .reblog-list {
                        &:first-child {
                           padding: 0;
                           position: absolute;
                           left: 0;
                           top: 0;
                           width: 100%;
                           height: 100%;

                           p:empty {
                              display: none;
                           }

                           .reblog-post-avatar {
                              position: absolute;
                              left: 0;
                              top: 1rem;
                              margin: 0 1ch;
                              z-index: 2;

                              img {
                                 border-radius: 50%;
                              }

                              .user-blog {
                                 background-color: rgba(var(--accent), 0.65);
                                 color: rgba(var(--bg-card), 1);
                                 backdrop-filter: blur(8px);
                                 padding: 0.5rem 0.85rem;
                                 border-radius: 30px;

                                 font-size: 0.85rem;
                              }
                           }

                           > figure.tmblr-full {
                              a[class*="anchor"], & > {
                                 img {
                                    aspect-ratio: 1/1;
                                    object-position: top;
                                    object-fit: cover;
                                    height: 100%;
                                    width: 100%;
                                 }
                              }
                           }

                           .npf_row {
                              position: absolute;
                              left: 0;
                              top: 0;
                              z-index: 1;
                              margin: 0;

                              background-color: rgba(var(--bg-card), 1);

                              .npf_col ~ * {
                                 display: none;
                              }

                              figure.tmblr-full {
                                 img {
                                    aspect-ratio: 1/1;
                                    object-position: top;
                                    object-fit: cover;
                                    height: 100%;
                                    width: 100%;
                                 }
                              }
                           }

                           :is(.npf_row) ~ * {
                              display: none;
                           }
                        }

                        &:not(:first-child) {
                           display: none;
                        }
                     }
                  }
               }

               &-photoset-text {
                  .posts__body {
                     padding: 0;

                     > :where(h1, h2) {
                        display: none;
                     }

                     p:empty {
                        display: none;
                     }

                     .original {
                        padding: 0;
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;

                        p:empty {
                           display: none;
                        }

                        .reblog-post-avatar {
                           position: absolute;
                           left: 0;
                           top: 0;
                           margin: 0 1ch;
                           z-index: 2;

                           img {
                              border-radius: 50%;
                           }

                           .user-blog {
                              background-color: rgba(var(--accent), 0.65);
                              color: rgba(var(--bg-card), 1);
                              backdrop-filter: blur(8px);
                              padding: 0.5rem 0.85rem;
                              border-radius: 30px;

                              font-size: 0.85rem;
                           }
                        }

                        .npf_row {
                           position: absolute;
                           left: 0;
                           top: 0;
                           z-index: 1;
                           margin: 0;

                           background-color: rgba(var(--bg-card), 1);

                           ~ .npf_row {
                              display: none;
                           }

                           > .npf_col:not(:first-child) {
                              display: none;
                           }

                           figure.tmblr-full {
                              height: 100% !important;

                              img {
                                 aspect-ratio: 1/1;
                                 object-position: top;
                                 object-fit: cover;
                                 height: 100%;
                                 width: 100%;
                              }
                           }
                        }
                     }

                     .reblog-list {
                        &:first-child {

                           padding: 0;
                           position: absolute;
                           left: 0;
                           top: 0;
                           width: 100%;
                           height: 100%;
   
                           p:empty {
                              display: none;
                           }
   
                           > :where(h1, h2) {
                              display: none;
                           }
   
                           .reblog-post-avatar {
                              position: absolute;
                              left: 0;
                              top: 0;
                              margin: 0 1ch;
                              z-index: 2;
   
                              img {
                                 border-radius: 50%;
                              }
   
                              .user-blog {
                                 background-color: rgba(var(--accent), 0.65);
                                 color: rgba(var(--bg-card), 1);
                                 backdrop-filter: blur(8px);
                                 padding: 0.5rem 0.85rem;
                                 border-radius: 30px;
   
                                 font-size: 0.85rem;
                              }
                           }
   
                           .npf_photoset {
                              position: absolute;
                              left: 0;
                              top: 0;
                              z-index: 1;
                              margin: 0;
   
                              background-color: rgba(var(--bg-card), 1);
   
                              figure.tmblr-full {
                                 height: 100% !important;
   
                                 img {
                                    aspect-ratio: 1/1;
                                    object-position: top;
                                    object-fit: cover;
                                    height: 100%;
                                    width: 100%;
                                 }
                              }
                           }
                        }
                        &:not(:first-child) {
                           display: none;
                        }
                     }
                  }
               }

               &:not(.posts-photo-text):not(.posts-photoset-text):not(.posts-photo) {

                  .posts__body,
                  .posts__media {
                     mask-image: linear-gradient(to top, transparent 5%, black 45%);
                     mask-size: auto 100%;
                     mask-repeat: no-repeat;
                  }
               }

               &__media {
                  .photo {
                     border: 0;

                     img {
                        border-radius: 0;
                        aspect-ratio: 1/1;
                     }
                  }

                  .npf_quote {
                     font-size: 1.15rem;
                  }

                  .source {
                     font-size: 0.85rem;
                  }
               }

               &__body,
               &__media {
                  aspect-ratio: 1/1;
                  width: 100%;
                  height: 100%;

                  &:empty {
                     display: none;
                  }
               }

               &__body {

                  .npf_video {
                     margin: -1rem;
                  }

                  .npf_video,
                  .tmblr-full {
                     >video {
                        display: none;
                     }

                     ~* {
                        display: none;
                     }
                  }
               }

               &__bottom {
                  display: none;
               }

               &__dated {
                  display: none;

                  &__pinned {
                     font-size: 0;
                     gap: 0;

                     position: absolute;
                     right: -3px;
                     bottom: -3px;
                     border-radius: 6px 0 0 0;
                  }
               }

               &__view {
                  cursor: pointer;

                  display: flex;
                  align-items: center;
                  justify-content: center;

                  width: 100%;
                  height: 100%;

                  position: absolute;
                  left: 0;
                  top: 0;
                  z-index: 3;

                  opacity: 0;
                  visibility: hidden;

                  background-color: rgba(var(--bg-card), 0.75);
                  color: rgba(var(--heading-text), 1);
                  backdrop-filter: blur(10px);

                  transition: 0.25s;

                  &__trigger {
                     font-size: 1.25rem;
                     font-weight: bold;

                     display: inline-flex;
                     align-items: center;
                     gap: 0.5rem;
                  }
               }
               
               .npf-video-block {
                  display: flex;
               }

               .reblog-post-badges {
                  display: none;
               }

               &:hover .posts__view {
                  opacity: 1;
                  visibility: visible;
               }
            }
         }
      }
   }

   &[data-blog-style="masonry"] {
      &.is-three-column {
         .grid-sizer {
            width: calc(33.333% - 20px);

            @media (max-width:1400px) {
               width: calc(50% - 20px);
            }

            @media (max-width:768px) {
               width: 100%;
            }
         }

         .posts {
            float: left;
            width: calc(33.333% - 20px);
            margin-bottom: 30px !important;

            @media (max-width:1400px) {
               width: calc(50% - 20px);
            }

            @media (max-width:768px) {
               width: 100%;
            }
         }

         .wrapper {
            padding-top: calc(var(--padding-lg)*1.5);

            &__toggle {
               display: none;
            }
         }
      }

      &.is-two-column {
         .wrapper {
            padding-top: calc(var(--padding-lg)*1.5);

            &__toggle {
               display: none;
            }

            &__blog {
               .grid-sizer {
                  width: calc(50% - 20px);

                  @media (max-width:1400px) {
                     width: calc(50% - 20px);
                  }

                  @media (max-width:768px) {
                     width: 100%;
                  }
               }

               .posts {
                  float: left;
                  width: calc(50% - 20px);
                  margin-bottom: 30px !important;

                  @media (max-width:1400px) {
                     width: calc(50% - 20px);
                  }

                  @media (max-width:768px) {
                     width: 100%;
                  }
               }
            }
         }
      }

      .wrapper {
         &__blog {
            article.posts {
               opacity: 0;
               transition: opacity 1s ease-in;

               &.load {
                  opacity: 1;
               }
            }
         }
      }
   }
}

.tippy-tooltip.custom-theme {
   background-color: rgba(var(--accent), 1);

   .tippy-svg-arrow {
      fill: rgba(var(--accent), 1);
   }
}

html {
   scroll-behavior: smooth;


   &.is-scrollbar {

      ::-webkit-scrollbar {
         width: 6px;
      }

      ::-webkit-scrollbar-thumb {
         background-color: rgba(var(--accent), 1);
         border-radius: 5px;
      }
   }
}

pre {
   max-width: 100%;
   overflow: hidden;
   white-space: pre-line;
   word-break: keep-all;
}

/* fade in */
@keyframes fadein {
   from {
      opacity: 0
   }

   to {
      opacity: 1
   }
}

@-webkit-keyframes fadein {
   from {
      opacity: 0
   }

   to {
      opacity: 1
   }
}

/* sparkling stars */
@keyframes comeInOut {
   0% {
      transform: scale(0);
   }

   50% {
      transform: scale(1);
   }

   100% {
      transform: scale(0);
   }
}

@keyframes spin {
   0% {
      transform: rotate(0deg);
   }

   100% {
      transform: rotate(180deg);
   }
}

.sparkling {
   position: relative;
   z-index: 0;
   overflow: visible;

   >span {
      z-index: -1;
      position: absolute;
      display: block;
      animation: comeInOut 700ms forwards;

      >svg {
         display: block;
         animation: spin 1000ms linear;
      }
   }
}

.wrapper {
   position: relative;

   &__toggle {
      // position: sticky;
      // top:6rem;
      // z-index: 3;

      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      margin-top: -30px;
      margin-bottom: 5rem;
      margin-left: auto;
      margin-right: auto;

      &__inner {
         position: relative;
         display: inline-flex;
         align-items: center;
         gap: 0.65rem;

         background-color: rgba(var(--bg-card), 1);
         padding: .65rem .65rem;
         border-radius: 8px;
         box-shadow: rgba(var(--heading-text), 0.15) 1.95px 1.95px 2.6px;

         z-index: 2;

         >button {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;

            cursor: pointer;
            border-radius: 4px;
            border: 0;

            padding: 0.5rem 1rem;
            background-color: rgba(var(--heading-text), 0.15);
            color: rgba(var(--heading-text), 1);

            &.activated {
               font-weight: bold;
               background-color: rgba(var(--btn-primary), 1);
               color: rgba(var(--btn-text-primary), 1);
            }
         }
      }
   }

   &__inner {
      @media (max-width:$max-md) {
         padding: 0 1rem;
      }
   }

   &__blog {

      position: relative;
      animation: fadein 2s;
   }
}

.pagination {
   display: flex;
   align-items: center;
   justify-content: space-between;

   position: relative;
   background-color: rgba(var(--bg-card), 1);
   color: rgba(var(--body-text), 1);
   border-radius: 10px;
   border: 1px solid rgba(var(--border-color), 1);
   padding: 1rem 1rem 1rem 1.5rem;
   box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;

   margin: 8rem 0;

   @media (max-width:$max-md) {
      flex-direction: column;
   }

   &__info {
      @media (max-width:$max-md) {
         margin-bottom: 2.5rem;
      }
   }

   &__inner {
      >*+* {
         margin-left: 1.25rem;
      }

      >a {
         display: inline-flex;
         align-items: center;
         justify-content: center;
         transition: 0.4s;

         &:not(.is-link) {
            opacity: 0.35;
            cursor: not-allowed;
            background: transparent;
            color: rgba(var(--body-text), 1);
         }

         &:is(.is-jump) {
            opacity: 1;
            cursor: pointer;
            background: transparent;
            color: rgba(var(--body-text), 1);
            width: 50px;

            &:hover {
               background: rgba(var(--btn-primary), 1);
               color: rgba(var(--btn-text-primary), 1);
            }
         }

         &:is(.is-current) {
            background-color: rgba(var(--body-text), 0.35);
            color: rgba(var(--btn-text-primary), 1);
         }

         &:is(.is-jump, .is-current) {
            width: 50px;
            height: 50px;

            @media (max-width:$max-md) {
               display: none;
            }
         }

         &:is(.is-link) {
            background-color: rgba(var(--btn-primary), 1);
            color: rgba(var(--btn-text-primary), 1);
         }


         border-color: transparent;

         &:hover {
            background-color: rgba(var(--btn-primary-hover), 1);
            color: rgba(var(--btn-text-primary-hover), 1);
         }

         padding:1rem 1.25rem;
         border-radius: 5px;
         transition: 0.15s;

         text-decoration: none;

         &:focus,
         &:focus-within {
            transform: translateY(2px);
         }
      }
   }
}

.tumblr_video_container {
   position: relative;
   width: 100% !important;
   height: 0 !important;
   padding-bottom: 52.65%;

   iframe {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
   }
}

#ask_form,
#submit_form {
   margin: 2rem 0;
}

.soundcloud_audio_player {
   margin: 1.25rem 0;
   width: 100% !important;
}

.is-spotify {
   position: relative;
   padding-bottom: 80px;

   margin: 1rem 0;
}

.is-spotify .spotify_audio_player {
   position: absolute;
   width: 100%;
   height: 100%;
}

.is-bandcamp iframe.bandcamp_audio_player {
   width: 100% !important;
}

.like {
   color: currentColor;
}

.like .liked+svg {
   opacity: 1
}

.like .liked+svg path {
   fill: #ec5a5a;
   stroke: #ec5a5a;
}

.like .like_button {
   position: relative
}

.like .like_button iframe {
   position: absolute;
   top: -10px;
   left: -2px;
   bottom: 0;
   right: 0;
   z-index: 2;
   opacity: 0
}

.tumblr_audio_player {
   height: 90px;
   width: 100%;
}


.poll-post {
   margin: 1rem 0;

   .poll-question {
      text-align: center;
      margin-top: 0;

      font-size: 22px;
      line-height: 1.25;
   }

   a.poll-row {
      background: transparent;
      border: 2px solid rgba(var(--accent), 1);
      color: rgba(var(--accent), 1);
      transition: 0.14s;

      &:hover {
         background: rgba(var(--accent), 1);
         color: rgba(var(--bg-card), 1);
      }
   }

   .poll-post-date {
      margin-top: 1.5rem;
      text-align: center;
      font-size: 0.8rem;

      >span {
         display: block;
      }
   }
}

.popover.tutorial {
   font-family: var(--body-font);
   border: 2px solid rgba(var(--body-text), 0.1);

   .ok_button {
      cursor: pointer;
      border: 0;
      width: 100%;
      padding: 10px 15px !important;
      border-radius: 8px;
      background: rgba(var(--btn-primary), 1);
      color: rgba(var(--btn-text-primary), 1);
   }
}

.btn__wrapper__more-posts {
   @media (max-width:$max-md) {
      margin-top: -2rem;
   }
}

.page-load-status {
   display: none;
   text-align: center;
   padding: 1.25rem 0;
   grid-column: 1/1;

   overflow: hidden;
   color: rgba(var(--body-text), 1);
}


@keyframes reveal {
   from {
      transform: scale(0.001);
   }

   to {
      transform: scale(1);
   }
}

@keyframes slide {
   to {
      transform: translateX(1.5em);
   }
}

.loader-ellips {
   font-size: 20px;
   position: relative;
   width: 4em;
   height: 1em;
   margin: 10px auto;
}

.loader-ellips__dot {
   display: block;
   width: 1em;
   height: 1em;
   border-radius: 0.5em;
   background: #555;
   position: absolute;
   animation-duration: 0.5s;
   animation-timing-function: ease;
   animation-iteration-count: infinite;

   &:nth-child(1) {
      left: 0;
      animation-name: reveal;
   }

   &:nth-child(2) {
      left: 0;
      animation-name: slide;
   }

   &:nth-child(3) {
      left: 1.5em;
      animation-name: slide;
   }

   &:nth-child(4) {
      left: 3em;
      animation-name: reveal;
      animation-direction: reverse;
   }
}

/* sparkling stars */
@keyframes comeInOut {
   0% {
      transform: scale(0);
   }

   50% {
      transform: scale(1);
   }

   100% {
      transform: scale(0);
   }
}

@keyframes spin {
   0% {
      transform: rotate(0deg);
   }

   100% {
      transform: rotate(180deg);
   }
}

.sparkling {
   position: relative;
   z-index: 0;
   overflow: visible;

   >span {
      z-index: -1;
      position: absolute;
      display: block;
      animation: comeInOut 700ms forwards;

      >svg {
         display: block;
         animation: spin 1000ms linear;
      }
   }
}

.w {
   &-50 {
      width: 50%;
   }

   &-100 {
      width: 100%;
   }
}

.community-label-cover__wrapper {
   display: none;
}

.grid-loader {
   font-size: 24px;
   text-align: center;
   width: 100%;
   color: rgba(var(--body-text), 1);
}

.popup {
   margin: unset;
   inset-inline-start: unset;

   width: 100vw;
   height: 100vh;
   max-width: 100%;
   max-height: 100%;
   border: 0;

   overflow-x: hidden;

   background: rgba(0, 0, 0, .65);
   backdrop-filter: blur(10px);

   &__close {
      position: fixed;
      right: 0;
      top: 0;
      margin: 3ch;
      -webkit-tap-highlight-color: transparent;
      width: 50px;
      height: 50px;

      display: inline-flex;
      align-items: center;
      justify-content: center;
      border: 0;
      border-radius: 50%;

      cursor: pointer;
      z-index: 9;

      background-color: rgba(var(--btn-primary), 1);
      color: rgba(var(--btn-text-primary), 1);

      span {
         display: none;
      }

      @media (max-width:$max-md) {
         position: sticky;
         bottom: 1ch;
         width: 100%;
         height: 3rem;
         border-radius: 6px;

         span {
            display: block;
         }
      }
   }

   &__container {
      @media (min-width:$min-md) {
         display: grid;
         align-items: center;
         height: 100%;
      }
   }

   &__inner {
      max-width: 680px;
      min-width: 680px;
      margin: auto;

      padding-top: calc(var(--padding-lg)*1);
      padding-bottom: calc(var(--padding-lg)*1.75);
      padding-left: calc(var(--padding-lg)*1);
      padding-right: calc(var(--padding-lg)*1);

      @media (max-width:$max-md) {
         max-width: 100%;
         min-width: 100%;
         padding: 0.5rem;
      }

      .posts {
         margin-bottom: 0;
      }
   }
}