@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/screenwidth' as *;

.nav {
    position: fixed;
    top: 0rem;
    left: 0;

    width: 100%;
    height: auto;

    background-color: rgba(var(--header-navigation-bg), 1);
    z-index: 999;
    padding: 0 1rem;

    box-shadow: rgba(25, 24, 24, 0.1) 0px 1px 3px 0px,
        rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

    @media (max-width:$max-xs) {
        padding: 0;
    }

    &__inner {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width:$max-md) {
            padding: 0 1rem;
            justify-content: flex-end;
        }
    }

    &__actions {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;

        button {
            position: relative;
            -webkit-tap-highlight-color: transparent;
            width: 40px;
            height: 40px;

            display: inline-flex;
            align-items: center;
            justify-content: center;
            border: 0;
            border-radius: 50%;

            cursor: pointer;

            background-color: rgba(var(--header-navigation-text), 0.15);
            color: rgba(var(--header-navigation-text), 1);

            &[data-button-type="hamburger"] {
                background-color: rgba(var(--btn-primary), 1);
                color: rgba(var(--btn-text-primary), 1);
                border-color: transparent;

                svg {
                    width: 18px;
                    height: 18px;
                }

                &::after {
                    content: "";
                    position: absolute;
                    top: calc(100% + 1rem + 5px);
                    right: 0;
                    transform: rotate(-45deg);
                    display: block;
                    height: 42px;
                    width: 42px;
                    background-color: rgba(var(--bg-card), 1);
                    border-radius: 0.35em;
                    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

                    opacity: 0;
                    visibility: hidden;
                    transition: 0.2s;

                    @supports((-webkit-clip-path: inset(50%)) or (clip-path: inset(50%))) {
                        -webkit-clip-path: polygon(0% 0%, 100% 100%, 100% 0%);
                        clip-path: polygon(0% 0%, 100% 100%, 100% 0%)
                    }

                    @media (max-width:$max-md) {
                        top: calc(100% + 1rem);
                        right: 0;
                    }
                }

                &.is-activated {
                    &::after {
                        top: calc(100% + 1rem + 0px);
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }

            &[data-button-type="info"] {
                background-color: #fcc659;
                box-shadow: inset 0 0 0.5em 0 #e37738, 0 0 0.5em 0 #e37738;
                backdrop-filter: blur(15px);
            }

            &.is-disabled {
                cursor: not-allowed;
                opacity: 0;
                filter: grayscale(1);
                box-shadow: none;

                z-index: -1;
            }

            &.is-activated {
                opacity: 1;

                background-color: rgba(var(--btn-primary-hover), 1);
                color: rgba(var(--btn-text-primary-hover), 1);
                border: 1px solid rgba(var(--btn-text-primary-hover), 1);

                box-shadow: inset 0 0 0.5em 0 #e37738, 0 0 0.5em 0 #e37738;
            }
        }
    }

    &__link {
        width: 100%;
        list-style: none;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 0;
        margin: 0;

        li {
            position: relative;

            @media (max-width:$max-md) {
                &:not(:first-child) {
                    display: none;
                }
            }

            &.active {
                a {
                    color: rgba(var(--header-navigation-text), 1);
                    font-weight: bold;

                    &::before {
                        opacity: 1;
                    }
                }
            }

            &:hover {
                >a {
                    &::before {
                        opacity: 1;
                    }
                }
            }

            a {
                position: relative;
                display: inline-flex;
                align-items: center;
                gap: 0.5rem;

                padding: 1.5rem 1rem;

                font-size: 0.95rem;

                color: rgba(var(--header-navigation-text), 1);
                text-decoration: none;
                border-bottom: 2px solid transparent;

                transition: 0.5s;

                &::before {
                    content: '';
                    width: 100%;
                    height: 70%;
                    background-color: rgba(var(--accent), 0.15);

                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    border-radius: 8px;
                    transition: 0.5s;
                    opacity: 0;
                }
            }
        }
    }

    &__navigations {
        position: absolute;
        right: 0;
        top: calc(100% + 1rem);

        max-width: 21.25rem;
        padding: 1.25rem;

        background-color: rgba(var(--header-navigation-bg), 1);
        color: rgba(var(--header-navigation-text), 1);
        backdrop-filter: blur(8px);

        border-radius: 8px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

        opacity: 0;
        visibility: hidden;
        transition: 0.3s cubic-bezier(0, 0, 0.2, 1);

        transform: translateY(9px);

        @media (max-width:$max-md) {
            max-width: 100%;
            width: 100%;
            right: 0;
            left: 0;
            top: calc(100% + 0rem);

            border-radius: 0;
            padding: 1rem;
        }

        &.is-shown {
            opacity: 1;
            visibility: visible;
            transform: translateY(0px);
        }

        h2 {
            border-bottom: 1px solid rgba(var(--heading-text), 0.1);
            padding-bottom: 1rem;
            font-family: var(--heading-font);
            font-size: calc(var(--text-xl)*0.85);
            text-align: center;
            color: rgba(var(--heading-text), 1);
            margin: 0rem -1.25rem 1.25rem -1.25rem;

            @media (max-width:$max-md) {
                margin: 0rem -1rem 1rem -1rem;
            }
        }

        &__links {
            position: relative;
            list-style: none;
            margin: 0;
            padding: 0;

            display: flex;
            flex-wrap: wrap;

            li {
                a {
                    display: inline-block;

                    background-color: rgba(var(--heading-text), 0.2);
                    font-size: 0.95em;
                    color: rgba(var(--heading-text), 1);
                    font-weight: bold;
                    margin: 0.5em 0.3em;
                    padding: 0.45em 1em;

                    border-radius: 30px;

                    text-decoration: none;
                    transition: 0.35s;

                    @media (max-width:$max-md) {
                        font-size: 0.85rem;
                    }

                    &:hover {
                        background-color: rgba(var(--accent), 1);
                        color: rgba(var(--bg-card), 1);
                    }
                }
            }
        }
    }

    &__additional {
        position: absolute;
        right: -30px;
        top: calc(100% + 1rem);

        max-width: 30rem;
        padding: 0 1.25rem 1.25rem 1.25rem;

        background-color: rgba(var(--header-navigation-bg), 1);
        color: rgba(var(--header-navigation-text), 1);
        backdrop-filter: blur(8px);

        border-radius: 8px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

        opacity: 0;
        visibility: hidden;
        transition: 0.3s cubic-bezier(0, 0, 0.2, 1);

        transform: translateY(9px);

        &::after {
            content: "";
            position: absolute;
            top: -15px;
            right: 30px;
            transform: rotate(-45deg);
            display: block;
            height: 42px;
            width: 42px;
            background-color: rgba(var(--bg-card), 1);
            border-radius: 0.35em;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

            @supports((-webkit-clip-path: inset(50%)) or (clip-path: inset(50%))) {
                -webkit-clip-path: polygon(0% 0%, 100% 100%, 100% 0%);
                clip-path: polygon(0% 0%, 100% 100%, 100% 0%)
            }

            @media (max-width:$max-md) {
                top: 0px;
                right: 15px;
            }
        }

        @media (max-width:$max-md) {
            max-width: 100%;
            width: 100%;
            right: 0;
            left: 0;
            top: 100%;
            border-radius: 0;
        }

        &.is-shown {
            opacity: 1;
            visibility: visible;
            transform: translateY(0px);
        }

        #avatar {
            display: flex;
            align-items: center;

            img {
                border-radius: 50%;
                background-color: rgba(var(--bg-card), 1);
                max-width: 48px;
            }
        }

        h2 {
            border-bottom: 1px solid rgba(var(--heading-text), 0.1);
            padding: 0 1rem 1rem 1rem;
            font-family: var(--heading-font);
            font-size: calc(var(--text-xl)*0.85);
            color: rgba(var(--heading-text), 1);
            margin: 0rem -1.25rem 1.25rem -1.25rem;

            @media (max-width:$max-md) {
                margin: 0rem -1rem 1rem -1rem;
            }

            margin-top: 1rem;
        }

        p {
            font-size: calc(var(--text-lg)*0.85);

            a {
                color: rgba(var(--body-text), 1);
                font-weight: bold;
            }
        }

        &__info {
            display: flex;
            align-items: center;
            flex-direction: row;
            gap: 16px;
            margin-bottom: 1rem;
        }

        &__featured {
            .tns-outer {
                position: relative;
            }

            .tns-controls {
                position: absolute;
                top: 42%;
                transform: translateY(-50%);

                width: 100%;
                z-index: 2;

                >button {
                    border: 0;

                    font-size: 1.25rem;
                    padding: 0;
                    border: 0;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;

                    display: inline-flex;
                    align-items: center;
                    justify-content: center;

                    transition: 0.25s;

                    background-color: rgba(var(--heading-text), 1);
                    color:rgba(var(--bg-card), 1);
                    border-color: transparent;

                    @media (max-width:$max-md) {
                        width: 25px;
                        height: 25px;
                        font-size: 1rem;
                    }

                    &[data-controls="prev"] {
                        position: absolute;
                        left: 1rem;
                    }

                    &[data-controls="next"] {
                        position: absolute;
                        right: 1rem;
                    }

                    &[disabled] {
                        opacity: 0;
                        visibility: hidden;
                    }
                }
            }
            
            .tns-inner {
                margin: 0px -15px 0px 0px !important;
            }
            .slideshow {
                position: relative;

                &-all {
                    &:empty {
                        &::after {
                            content: 'This user has not featured any posts yet.';
                            padding: 1rem;
                            background: lightyellow;
                            border-radius: 8px;
                            color: #8d7657;
                            font-weight: bold;

                            width: 100%;
                            grid-column: 1/-1;
                            border: 1px solid currentColor;
                        }
                    }
                }

                display: flex;
                &-item {
                    >a {
                        text-decoration: none;
                        color: rgba(var(--body-text), 1);
                    }
                }

                &__item {
                    position: relative;
                    aspect-ratio: 1/1;
                    overflow: hidden;
                    border-radius: 8px;
                    z-index: 2;
                    border: 1px solid rgba(var(--border-color), 1);
                    background-color: rgba(var(--bg-card), 1);
                    box-shadow: rgba(0, 0, 0, .1) 0px 1px 3px 0px, rgba(0, 0, 0, .06) 0px 1px 2px 0px;

                    transition: 0.3s;
                    margin-bottom: 5px;

                    figure.tmblr-full {
                        padding: 0;
                    }

                    .npf-link-block {
                        height: 140px;

                        .poster {
                            height: 85px;

                            .title {
                                font-size: 15px;
                                line-height: 1;
                            }
                        }

                        .bottom {
                            .description {
                                font-size: 12px;
                                line-height: 1;
                            }

                            .site-name {
                                font-size: 11px;
                                line-height: 1;
                            }
                        }
                    }

                    .npf_video {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;

                        .npf-video-block {
                            width: 100%;
                            height: 100%;

                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: cover;

                            display: flex;
                            align-items: center;
                            justify-content: center;

                            &::before {
                                content: '';
                                width: 100%;
                                height: 100%;
                                background-color: rgba(0, 0, 0, 0.5);

                                position: absolute;
                                left: 0;
                                top: 0;
                                z-index: 2;
                            }

                            >i {
                                position: relative;
                                z-index: 2;

                                display: inline-flex;
                                align-items: center;
                                justify-content: center;

                                width: 65px;
                                height: 65px;
                                font-size: 30px;

                                border-radius: 50%;

                                text-decoration: none;
                                z-index: 2;

                                background-color: rgba(var(--heading-text), 0.65);
                                color:rgba(var(--bg-card), 1);
                                backdrop-filter: blur(10px);

                                transition: 0.5s;
                            }

                            &:hover>i {
                                transform: scale(1.25);
                            }
                        }
                    }

                    div[class*="npf_row"] {
                        position: relative;
                        z-index: 1;
                        margin: -1rem;
                        background: rgba(var(--bg-card), 1);

                        >*:not(:first-child) {
                            display: none;
                        }

                        figure.tmblr-full {
                            img {
                                aspect-ratio: 1/1;
                                object-fit: cover;
                                height: 100%;
                                width: 100%;
                            }
                        }
                    }

                    figure.is-photo {
                        width: 100%;
                        height: 100%;

                        img {
                            aspect-ratio: 1/1;
                            object-fit: cover;
                            object-position: top;
                            height: 100%;
                        }
                    }

                    &__source {
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        padding: 1ch;

                        width: 100%;
                        height: auto;
                        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #000 100%);
                        color: #fff;

                        &-username {
                            display: flex;
                            align-items: center;
                            gap: 8px;

                            img {
                                width: 21px;
                                height: 21px;

                                border-radius: 4px;
                            }

                            span {
                                font-size: 14px;
                                font-weight: bold;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                overflow: hidden;
                            }
                        }

                        &-date {
                            margin-top: 1rem;
                        }
                    }

                    &__inner {
                        position: relative;
                        padding: 1rem;
                        height: calc(100% - 0px);
                        overflow: hidden;

                        &.npf-image {
                            .trail-item {
                                .trail-item-username {
                                    position: absolute;
                                    z-index: 2;
                                    bottom: 0;
                                    left: 0;
                                    margin: 0;

                                    width: 100%;
                                    color: white;
                                    padding: 1ch;
                                    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #000 100%);
                                }

                                div[class*="npf_row"] {
                                    position: absolute;
                                    left: 0;
                                    top: 0;
                                    z-index: 1;
                                    background: rgba(var(--bg-card), 1);

                                    >*:not(:first-child) {
                                        display: none;
                                    }

                                    figure.tmblr-full {
                                        img {
                                            aspect-ratio: 1/1;
                                            object-fit: cover;
                                            height: 100%;
                                            width: 100%;
                                        }
                                    }
                                }
                            }
                        }

                        &.npf-audio {
                            &::after {
                                display: none;
                            }

                            .trail-item {
                                .trail-item-username {
                                    display: none;
                                }

                                ~.slideshow__item__inner-content {
                                    display: none;
                                }
                            }

                            .npf-audio-inner {
                                .audio-caption {
                                    position: absolute;
                                    left: 0;
                                    top: 0;
                                    width: 100%;
                                    height: 100%;

                                    display: flex;
                                    align-items: center;
                                    justify-content: center;

                                    i.las.la-play {
                                        position: relative;
                                        z-index: 2;

                                        display: inline-flex;
                                        align-items: center;
                                        justify-content: center;

                                        width: 65px;
                                        height: 65px;
                                        font-size: 30px;

                                        border-radius: 50%;

                                        text-decoration: none;
                                        z-index: 3;

                                        background-color: rgba(var(--heading-text), 0.65);
                                        color:rgba(var(--bg-card), 1);
                                        backdrop-filter: blur(10px);

                                        transition: 0.5s;
                                    }

                                    .audio-details {
                                        position: absolute;
                                        left: 0;
                                        bottom: 0;
                                        width: 100%;
                                        height: auto;

                                        display: flex;
                                        align-items: center;
                                        flex-direction: column;
                                        justify-content: flex-end;

                                        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #000 100%);
                                        z-index: 2;
                                        padding: 1rem;
                                        color: white;

                                        >span {
                                            display: block;
                                            width: 100%;
                                        }

                                        .title {
                                            font-size: 1.25rem;
                                            font-weight: bold;
                                        }
                                    }

                                    .album-cover {
                                        position: absolute;
                                        left: 0;
                                        top: 0;
                                        aspect-ratio: 1/1;
                                        width: 100%;
                                        height: 100%;
                                    }
                                }
                            }
                        }

                        &::after {
                            content: '';
                            width: 100%;
                            height: 100px;
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(var(--bg-card), 1) 100%);
                        }

                        h1 {
                            font-size: calc(var(--text-xl)*0.99);
                            font-family: var(--heading-font);
                            line-height: 1.25;
                            margin: 0.5rem 0;
                        }

                        h2 {
                            font-size: var(--text-lg);
                            margin: 0.5rem 0;
                        }

                        a {
                            color: rgba(var(--body-text), 1);
                            font-weight: bold;
                        }

                        blockquote {
                            margin-bottom: 15px;

                            &.trail-item {
                                &:not(:nth-child(-n+3)) {
                                    display: none;

                                    div[class*="npf_row"] {
                                        display: none;
                                    }
                                }

                                ~.slideshow__item__inner-content {
                                    display: none;
                                }
                            }

                            .trail-item-username {
                                display: flex;
                                align-items: center;
                                gap: 12px;
                                margin-bottom: 6px;
                                font-size: 14px;
                                font-weight: bold;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                overflow: hidden;
                            }

                            .trail-item-avatar {
                                width: 21px;
                                height: 21px;

                                border-radius: 4px;
                            }

                            &:first-child:has(.npf_row) {}
                        }

                        &-content {}
                    }

                    &__question {
                        padding: 1rem;
                        background-color: rgba(var(--accent), 1);
                        color: rgba(var(--bg-card), 1);
                        height: 100%;

                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        font-size: 14px;

                        &-icon {
                            font-size: 40px;
                        }

                        >a:first-child {
                            display: flex;
                            flex-direction: column;
                            height: 100%;

                            .slideshow__item__question-icon {
                                margin-bottom: auto;
                            }
                        }

                        a {
                            text-decoration: none;
                            color: rgba(var(--bg-card), 1);
                        }
                    }

                    &__quote {
                        padding: 1rem;
                        background-color: rgba(var(--bg-card), 1);
                        color: rgba(var(--body-text), 1);
                        height: 100%;

                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        font-size: 16px;
                        font-family: var(--heading-font);

                        &-icon {
                            font-size: 32px;
                        }

                        &-source {
                            margin-top: auto;
                            font-size: 12px;
                            font-family: var(--body-font);
                            font-weight: bold;
                        }

                        >a:first-child {
                            display: flex;
                            flex-direction: column;
                            height: 100%;

                            .slideshow__item__question-icon {
                                margin-bottom: auto;
                            }
                        }

                        a {
                            text-decoration: none;
                            color: rgba(var(--body-text), 1);
                        }
                    }
                }
            }
        }

    }

    &__search {
        position: absolute;
        top: 100%;
        left: 0;

        width: 100%;
        padding: calc(var(--padding-sm)*0.5) 0;
        // background-color: rgba(var(--bg-card), 0.85);
        // backdrop-filter: blur(10px);

        opacity: 0;
        visibility: hidden;
        transition: 0.3s cubic-bezier(0, 0, 0.2, 1);
        transform: translateY(9px);
        // box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
        //     rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

        @media (max-width:$max-md) {
            padding: calc(var(--padding-sm)*0.5) 1rem;
        }

        &.is-shown {
            opacity: 1;
            visibility: visible;
            transform: translateY(0px);
        }

        &__form {
            position: relative;
            background-color: rgba(var(--bg-card), 1);

            display: inline-flex;
            align-items: center;
            border-radius: 10px;

            width: 100%;

            padding: 0.5rem 0.525rem;
            border: 1px solid rgba(var(--border-color), 1);
            box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;

            input[type=text] {
                flex: 1;
                border: 0;
                border-radius: 6px;
                padding: 0.25rem 1rem 0.25rem 0.65rem;
                background-color: transparent;
                color: rgba(var(--body-text), 1);

                &:focus,
                &:focus-visible,
                &:active {
                    outline: 0;
                }
            }

            button[type=submit] {
                cursor: pointer;
                border: 0;
                background: transparent;
                width: 30px;
                height: 30px;

                display: inline-flex;
                align-items: center;
                justify-content: center;
                border: 1px solid transparent;
                border-radius: 6px;
                background-color: rgba(var(--btn-primary), 1);
                color: rgba(var(--btn-text-primary), 1);
                transition: 0.25s;

                &:hover {
                    background-color: rgba(var(--btn-primary-hover), 1);
                    color: rgba(var(--btn-text-primary-hover), 1);
                }

                span {
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            &::after {
                content: "";
                position: absolute;
                top: -10px;
                right: 45px;
                transform: rotate(-45deg);
                display: block;
                height: 42px;
                width: 42px;
                background-color: rgba(var(--bg-card), 1);
                border-radius: 0.35em;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

                @supports((-webkit-clip-path: inset(50%)) or (clip-path: inset(50%))) {
                    -webkit-clip-path: polygon(0% 0%, 100% 100%, 100% 0%);
                    clip-path: polygon(0% 0%, 100% 100%, 100% 0%)
                }

                @media (max-width:$max-md) {
                    top: -10px;
                    right: 45px;
                }
            }
        }
    }

    &__overlay {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .5);
        backdrop-filter: blur(12px);
        z-index: 99;
        transition: 0.25s;
    }

    &.is-transparent {
        background-color: rgba(var(--header-navigation-bg), 0.85);
        backdrop-filter: blur(12px);
    }

    &.is-border {
        border-top: 3px solid rgba(var(--accent), 1);
    }
}

.hero {
    position: relative;
    width: 100%;

    background-color: var(--hero-bg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    min-height: var(--hero-height);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    padding-top: calc(var(--padding-sm)*1.5);

    // https://css-generators.com/wavy-shapes/
    &.is-wave {
        --mask: radial-gradient(17.61px at 50% calc(100% - 24.50px), #000 99%, #0000 101%) calc(50% - 20px) 0/40px 100%, radial-gradient(17.61px at 50% calc(100% + 14.50px), #0000 99%, #000 101%) 50% calc(100% - 10px)/40px 100% repeat-x;
        -webkit-mask: var(--mask);
        mask: var(--mask);
    }

    &.is-gradient {

        // mask-image: linear-gradient(to top, transparent 5%, black 95%);
        // mask-position: 0 0px;
        // mask-size: auto 100%;
        &::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0px;
            top: auto;
            width: 100%;
            height: 100%;
            background: rgba(var(--bg-color-1), 1);
            background: linear-gradient(0deg, rgba(var(--bg-color-1), 1) 0%, rgba(var(--bg-color-1), 0) 35%);
            z-index: 2;
        }
    }

    &[style] {
        .hero__overlay {
            width: 100%;
            height: 100%;
            background-color: rgba(var(--hero-overlay), var(--hero-overlay-level));

            position: absolute;
            inset: 0;
        }
    }

    &__inner {
        position: relative;
        text-align: center;
        z-index: 2;

        // margin-top: calc(-1* var(--hero-height)/7);

        @media (max-width:$max-md) {
            padding: 0 1.25rem;
        }

        #avatar {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 1rem;

            img {
                border-radius: 50%;
                padding: 6px;
                background-color: rgba(var(--bg-card), 1);
                max-width: 100px;

                @media (max-width:$max-md) {
                    max-width: 80px;
                }
            }
        }

        h1,
        h2 {
            font-size: 2.85rem;

            @media (max-width:$max-lg) {
                font-size: 2.35rem;
            }
        }

        :where(h1, h2, h3, h4, h5) {
            font-family: var(--title-font);
            font-weight: var(--title-font-weight);
        }

        :where(h1, h2, h3, h4, p) {
            margin: 1rem 0;
            color: rgba(var(--hero-color), 1);
        }

        a {
            color: rgba(var(--hero-color), 1);
            font-weight: bold;
        }
    }

    &__socmed {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;

        width: 100%;

        gap: 0.65rem;
        list-style: none;
        margin: 2rem 0 0 0;
        padding: 0;

        li {
            margin: 0;

            a {
                display: inline-flex;
                align-items: center;
                justify-content: center;

                text-decoration: none;
                font-size: 18px;
                background: rgba(var(--social-media-btn), 1);
                color: rgba(var(--social-media-btn-text), 1);
                border: 1px solid rgba(var(--social-media-btn-text), 0.35);
                padding: 1rem;
                border-radius: 8px;

                transition: 0.3s;

                &:hover {
                    background: rgba(var(--social-media-btn-hover), 1);
                    color: rgba(var(--social-media-btn-text-hover), 1);
                }

                svg {
                    width: 15px;
                    height: 15px;
                    vertical-align: middle;
                }
            }
        }
    }
}