@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/screenwidth' as *;

.nav {
    position: sticky;
    top: 0rem;
    background-color: rgba(var(--header-navigation-bg), 1);
    z-index: 999;
    padding: 0 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
        rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

    @media (max-width:$max-xs) {
        padding: 0;
    }

    &__inner {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width:$max-md) {
            padding: 0 1rem;
            justify-content: flex-end;
        }
    }

    &__actions {
        display: flex;
        flex-direction: row;
        gap:0.5rem;
        
        button {
            -webkit-tap-highlight-color: transparent;
            width: 40px;
            height: 40px;

            display: inline-flex;
            align-items: center;
            justify-content: center;
            border:0;
            border-radius: 50%;

            cursor: pointer;

            background-color: rgba(var(--header-navigation-text), 0.15);
            color:rgba(var(--header-navigation-text), 1);

            &[data-button-type="hamburger"] {
                background-color: rgba(var(--btn-primary), 1);
                color:rgba(var(--btn-text-primary), 1);
                border-color: transparent;

                svg {
                    width: 18px;
                    height: 18px;
                }
            }

            &.is-disabled {
                cursor: not-allowed;
                opacity: 0.15;
                filter:grayscale(1);

                z-index: -1;
            }

            &.is-activated {
                opacity: 1;

                background-color: rgba(var(--btn-primary-hover), 1);
                color:rgba(var(--btn-text-primary-hover), 1);
            }
        }
    }

    &__link {
        width: 100%;
        list-style: none;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 0;
        margin: 0;

        li {
            position: relative;
            @media (max-width:$max-md) {
                &:not(:first-child) {
                    display: none;
                }
            }

            &.active {
                a {
                    color: rgba(var(--header-navigation-text), 1);
                    font-weight: bold;
                    &::before {
                        opacity: 1;
                    }
                }
            }

            &:hover {
                > a {
                    &::before {
                        opacity:1;
                    }
                }
            }

            a {
                position: relative;
                display: inline-flex;
                align-items: center;
                gap: 0.5rem;

                padding: 1.5rem 1.25rem;

                font-size: 0.95rem;

                color: rgba(var(--header-navigation-text), 1);
                text-decoration: none;
                border-bottom: 2px solid transparent;

                transition: 0.5s;

                &::before {
                    content:'';
                    width: 100%;
                    height: 70%;
                    background-color: rgba(var(--accent), 0.15);

                    position: absolute;
                    left:50%;
                    top:50%;
                    transform: translate(-50%, -50%);
                    border-radius:8px;
                    transition: 0.5s;
                    opacity:0;
                }
            }
        }
    }

    &__navigations {
        position: absolute;
        right: 0;
        top:calc(100% + 1rem);

        max-width: 21.25rem;
        padding:1.25rem;
        
        background-color: rgba(var(--header-navigation-bg), 1);
        color: rgba(var(--header-navigation-text), 1);
        backdrop-filter: blur(8px);

        border-radius: 8px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

        opacity: 0;
        visibility: hidden;
        transition: 0.24s;

        transform: translateY(5px);

        @media (max-width:$max-md) {
            max-width: 100%;
            width: 100%;
            right: 0;
            left: 0;
            top:calc(100% + 0rem);

            border-radius: 0;
            padding:1rem;
        }

        &.is-shown {
            opacity: 1;
            visibility: visible;
            transform: translateY(0px);
        }

        h2 {
            border-bottom: 1px solid rgba(var(--heading-text), 0.1);
            padding-bottom: 1rem;
            font-family: var(--heading-font);
            font-size: calc(var(--text-xl)*0.85);
            text-align: center;
            color: rgba(var(--heading-text), 1);
            margin: 0rem -1.25rem 1.25rem -1.25rem;
            @media (max-width:$max-md) {
                margin: 0rem -1rem 1rem -1rem;
            }
        }

        &__links {
            position: relative;
            list-style: none;
            margin:0;
            padding:0;

            display: flex;
            flex-wrap: wrap;

            &::before {
                content: "";
                position: absolute;
                top:calc(-100% + 2.5rem);
                right: 1.85rem;
                transform: rotate(-45deg);
                display: block;
                height: 42px;
                width: 42px;
                background-color: rgba(var(--bg-card), 1);
                border-radius: 0.35em;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

                @supports((-webkit-clip-path: inset(50%)) or (clip-path: inset(50%))) {
                    -webkit-clip-path:polygon(0% 0%, 100% 100%, 100% 0%);
                    clip-path: polygon(0% 0%, 100% 100%, 100% 0%)
                }
                @media (max-width:$max-md) {
                    top:calc(-100% + 3.45rem);
                    right:3rem;
                }
            }

            li {
                a {
                   display: inline-block;
 
                   background-color: rgba(var(--heading-text), 0.2);
                   font-size: 0.95em;
                   color: rgba(var(--heading-text), 1);
                   font-weight: bold;
                   margin: 0.5em 0.3em;
                   padding: 0.45em 1em;
 
                   border-radius: 30px;
 
                   text-decoration: none;
                   transition: 0.35s;

                   @media (max-width:$max-md) {
                    font-size: 0.85rem;
                   }
 
                   &:hover {
                      background-color: rgba(var(--accent), 1);
                      color: rgba(var(--bg-card), 1);
                   }
                }
            }
        }
    }

    &__search {
        position: absolute;
        top:100%;
        left:0;

        width: 100%;
        padding:calc(var(--padding-sm)*0.5) 0;
        background-color: rgba(var(--bg-card), 0.85);
        backdrop-filter: blur(10px);

        opacity: 0;
        visibility: hidden;
        transition: 0.25s;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
            rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

        @media (max-width:$max-md) {
            padding:calc(var(--padding-sm)*0.5) 1rem;
        }

        &.is-shown {
            opacity: 1;
            visibility:visible;
        }

        &__form {
            background-color: rgba(var(--bg-card), 1);

            display: inline-flex;
            align-items: center;
            border-radius: 10px;

            width: 100%;

            padding: 0.5rem 0.525rem;
            border: 1px solid rgba(var(--border-color), 1);
            box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;

            input[type=text] {
               flex: 1;
               border: 0;
               border-radius: 6px;
               padding: 0.25rem 1rem 0.25rem 0.65rem;
               background-color: transparent;
               color: rgba(var(--body-text), 1);

               &:focus,
               &:focus-visible,
               &:active {
                  outline: 0;
               }
            }

            button[type=submit] {
               cursor: pointer;
               border: 0;
               background: transparent;
               width: 30px;
               height: 30px;

               display: inline-flex;
               align-items: center;
               justify-content: center;
               border: 1px solid transparent;
               border-radius: 6px;
               background-color: rgba(var(--btn-primary), 1);
               color: rgba(var(--btn-text-primary), 1);
               transition: 0.25s;

               &:hover {
                  background-color: rgba(var(--btn-primary-hover), 1);
                  color: rgba(var(--btn-text-primary-hover), 1);
               }

               span {
                  display: inline-flex;
                  align-items: center;
                  justify-content: center;
               }
            }
         }
    }
    
    &.is-transparent {
        background-color: rgba(var(--header-navigation-bg), 0.85);
        backdrop-filter: blur(8px);
    }
    
    &.is-border {
        border-top: 3px solid rgba(var(--accent), 1);
    }
}

.hero {
    position: relative;
    width: 100%;

    background-color: var(--hero-bg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    min-height: var(--hero-height);
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &.is-gradient {
        // mask-image: linear-gradient(to top, transparent 5%, black 95%);
        // mask-position: 0 0px;
        // mask-size: auto 100%;
        &::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0px;
            top: auto;
            width: 100%;
            height: 100%;
            background: rgba(var(--bg-color-1), 1);
            background: linear-gradient(0deg, rgba(var(--bg-color-1), 1) 0%, rgba(var(--bg-color-1), 0) 35%);
            z-index: 2;
        }
    }

    &[style] {
        .hero__overlay {
            width: 100%;
            height: 100%;
            background-color: rgba(var(--hero-overlay), var(--hero-overlay-level));

            position: absolute;
            inset: 0;
        }
    }

    &__inner {
        position: relative;
        text-align: center;
        z-index: 2;

        // margin-top: calc(-1* var(--hero-height)/7);

        @media (max-width:$max-md) {
            padding:0 1.25rem;
        }

        #avatar {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 1rem;
            
            img {
                border-radius: 50%;
                padding: 6px;
                background-color: rgba(var(--bg-card), 1);
                max-width: 100px;
            }
            &.header__inner__icon-no-border {
                img {
                    padding: 0;
                }
            }
            &.header__inner__icon-square {
                img {
                    border-radius: 6px;
                }
            }
        }

        h1,h2 {
            font-size: 2.85rem;
            @media (max-width:$max-lg) {
                font-size:2.35rem;
            }
        }

        :where(h1,h2,h3,h4,h5) {
            font-family: var(--title-font);
            font-weight: var(--title-font-weight);
        }

        :where(h1,h2,h3,h4,p) {
            margin: 1rem 0;
            color: rgba(var(--hero-color), 1);
        }
    }

    &__socmed {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
  
        width: 100%;
  
        gap: 0.65rem;
        list-style: none;
        margin: 2rem 0 0 0;
        padding: 0;
  
        li {
           margin: 0;
  
           a {
              display: inline-flex;
              align-items: center;
              justify-content: center;
  
              text-decoration: none;
              font-size: 18px;
              background: rgba(var(--social-media-btn), 1);
              color: rgba(var(--social-media-btn-text), 1);
              border:1px solid rgba(var(--social-media-btn-text), 0.35);
              padding: 1rem;
              border-radius:8px;
  
              transition: 0.3s;
  
              &:hover {
                 background: rgba(var(--social-media-btn-hover), 1);
                 color: rgba(var(--social-media-btn-text-hover), 1);
              }
  
              svg {
                 width: 15px;
                 height: 15px;
                 vertical-align: middle;
  
                 fill: currentColor;
              }
           }
        }
    }
}