$color-primary:#E62638;
$color-secondary:#0B6DB6;

$color-light-grey:#ECECEC;
$color-grey:#C4C4C4;
$color-white: #FFFFFF;
$color-black: #000000;
$color-transparent: transparent;

$gridWidth: 10rem;
$gridGap: 2rem;
