.footer {
    padding-bottom: 3.5rem;
    margin-top: 4.5rem;
    color:var(--heading-text);

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width:60rem) {
            flex-direction: column;
            justify-content: center;
        }
    }

    &__credit {
        @media (max-width:60rem) {
            margin-top: 0.85rem;
        }

        a {
            color:#111;
            font-weight: bold;
        }
    }
}