.nav {
    width: 100%;
    padding:1.25rem 0;

    @media (max-width:60rem) {
        padding:1.25rem 1.5rem;
    }

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width:60rem) {
            padding:0.75rem 0;
        }
    }

    &__logo {
        display: inline-flex;
        align-items: center;

        > * + * {
            margin-left: 0.65rem;
        }

        .circle {
            width:18px;
            height: 18px;

            border-radius: 50%;

            background-color:var(--body-text);

            &--is-primary {
                background-color: var(--primary-color);
            }
        }
    }

    &__links, &__link ul {
        display: flex;
        align-items: center;
    }

    &__link {
        @media (max-width:60rem) {
            display: none;
        }
        ul {
            list-style: none;
            li {
                & + li {
                    margin-left: 1.65rem;
                }

                &.nav__menu--actived {
                    a {
                        font-weight: bold;
                        
                        &::before {
                            content:'';

                            display: inline-flex;
                            width:14px;
                            height: 14px;

                            margin-right: 0.5rem;
                            transform: translateY(1px);

                            background:var(--header-navigation-link);

                            mask-position: center;
                            mask-repeat: no-repeat;
                            mask-size: 14px;
                            mask-image: url("data:image/svg+xml,<svg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 0L13.971 8.029L22 11L13.971 13.971L11 22L8.029 13.971L0 11L8.029 8.029L11 0Z' fill='%23111'/></svg>");
                        }
                    }
                }

                a {
                    display: inline-flex;
                    align-items: center;
                    
                    position: relative;
                    font-family: var(--heading-font);
                    color:var(--header-navigation-link);

                    text-decoration: none;

                    &::after {
                        content:'';
                        position: absolute;
                        left:0;
                        bottom: -0.15rem;

                        display: block;
                        width:0%;
                        height: 2px;

                        background-color: currentColor;
                        transition: all 500ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
                    }

                    &:hover::after {
                        width: 100%;
                    }
                }
            }
        }
    }

    &__button {
        display: inline-flex;
        align-items: center;
        margin-left:2rem;

        > * + * {
            margin-left: 0.65rem;
        }

        button {
            cursor: pointer;

            display: inline-flex;
            align-items: center;
            justify-content: center;

            width:40px;
            height: 40px;
            border:0;

            border-radius: 50%;

            &.btn-nav {
                border:2px solid var(--header-navigation-link);
                background:transparent;

                color:var(--header-navigation-link);

                transition: all 500ms cubic-bezier(0.230, 1.000, 0.320, 1.000);

                &.is-actived {
                    transform: rotate(90deg);
                    background-color: rgba(#111, 0.1);
                }
            }

            &.btn-dark {
                background-color:var(--button-switch);
                color:var(--white);
           }
        }
    }

    &__navigation {
        position: relative;

        display: flex;
        align-items: center;
        justify-content: flex-end;

        overflow: hidden;
        height: 0;
        transform:scaleY(0);
        transform-origin:top;

        transition: all 500ms cubic-bezier(0.230, 1.000, 0.320, 1.000);

        &.is-shown {
            transform:scaleY(1);
            height: auto;
        }
        
        &::after {
            content:'';
            position: absolute;
            right:3.5rem;
            top:0;

            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 15px 20px 15px;
            border-color: transparent transparent #111 transparent;

            @media (max-width:60rem) {
                right: 3.85rem;
                top:0rem;
            }
        }
       
        ul {
            width:max-content;
            background-color:#111;

            padding:1rem 1.75rem;

            list-style: none;

            display: flex;
            align-items: center;
            flex-direction: row;

            border-radius: 12px;

            @media (max-width:45rem) {
                flex-direction: column;
                width: 100%;

                padding:1.5rem 1.75rem;
            }

            li {
                & + li {
                    margin-left: 1.85rem;

                    @media (max-width:45rem) {
                        margin-left: 0;
                        margin-top: 0.85rem;
                    }
                }

                @media (max-width:45rem) {
                    display: block;
                    width: 100%;

                    a {
                        display: inline-flex;
                        align-items: center;

                        width: 100%;
                        font-size: 1.05rem;

                        &::before {
                            display: none!important;
                        }
                    }
                }

                a {
                    position: relative;
                    font-family: var(--heading-font);
                    color:var(--white);
                    text-decoration: none;

                   

                    &::before {
                        content:'';
                        position: absolute;
                        left:0;
                        bottom: -0.15rem;

                        display: block;
                        width:0%;
                        height: 2px;

                        background-color: currentColor;
                        transition: all 500ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
                    }

                    &:hover::before {
                        width: 100%;
                    }
                }
            }
        }
    }

    &__search {
        margin-left: 2rem;
        display: flex;

        align-items: center; 
        border-radius: 30px;
        padding:0.45rem 1rem; 
        border:2px solid #aaa;
        background-color: var(--bg-card);

        @media (max-width:60rem) {
            display: none;
        }

        &::before {
            font-family: 'Line Awesome Free';
            font-weight: 900;
            font-size: 1.25rem;
            content:"\f002";
              
            color:var(--body-text);
            margin-right: 0.5rem;
        }

        form {
            input {
                position: relative;
                min-width: 13.5rem;
                background-color: var(--bg-card);
                color:var(--body-text);

                font-family: var(--body-font);

                border:0;
                &:focus {
                    box-shadow: none;
                    outline: none;
                }
                &::placeholder {
                    color:var(--body-text);
                }
            }
        }
    }
}