.slider {
    position: relative;
    border-radius: 16px;
    overflow: hidden;

    padding-bottom: 100%;

    background-color:var(--bg-card);

    &.audio {
        background-color:var(--primary-color);
    }

    &.chat {
        border:3px dashed rgba(#111, 0.35);
    }

    &.quote {
        background-color:#ddd;
        border:3px solid rgba(#111, 0.2);
    }

    &.answer {
        background-color:#222;
        > * {
            color:var(--white);
        }
    }
    
    &__body, &__question, &__quote, &__audio {
        position: absolute;
        left:0;
        bottom:0;
        width: 100%;
        height: auto;
        z-index: 5;

        padding:2.5rem 2.5rem;

        color:var(--body-text);

        h2 {
            font-family: var(--heading-font);
            margin-block-end: 0.75ch;
        }
    }

    &__audio {
        h4 {
            font-family: var(--heading-font);
            font-size: 1.65rem;
        }
    }

    &__question, &__quote {
        font-size: 1.25rem;
        font-family: var(--heading-font);

        &--source {
            margin-top: 1rem;
            font-size: 0.95rem;
            font-family: var(--body-font);
        }
    }

    &__image {
        position: absolute;
        left:0;
        top:0;
        width:100%;
        height: 100%;
        overflow: hidden;

        > img {
            width: 100%;
            height: 100%;

            object-fit: cover;
            object-position: center;
        }
    }

    &__icon {
        position: absolute;
        inset:0;

        margin:2.5rem;
        color:var(--body-text);

        &.is-center {
            display: flex;
            align-items: center;
            justify-content: center;

            &-top {
                transform: translateY(-35px);
            }
        }
    }

    &__caption {
        position: absolute;
        left:0;
        bottom:0;
        width: 100%;
        height: auto;
        z-index: 5;

        padding:2rem 2rem;

        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #000000 100%);

        color:var(--white);

        .tumblr_blog_img {
            display: inline-flex;
            align-items: center;

            width:24px;
            height: 24px;

            vertical-align: middle;

            margin-right: 0.65rem;
            border-radius: 50%;
        }

        a {
            color:var(--white);
            font-weight: bold;
        }

        p {
            margin-top: 0.85rem;
        }
       
        h2 {
            font-size: 1.25rem;
            font-family: var(--heading-font);
        }
    }

    &__date {
        margin-top: 0.75rem;
    }
}

#tns1-iw.tns-inner {
    @media (min-width:60rem) {
        margin:0 320px 0 0!important;
    }
}