
body {
    background-color: rgba(var(--bg-color), 1);   
    color: rgba(var(--body-text), 1);
}

* {
    scrollbar-width: thin;
    scrollbar-color: rgba(var(--heading-text), 0.25) rgba(var(--bg-color), 1);
}
  
::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background-color:rgba(var(--heading-text), 0.25);
}

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;   
}

.wrapper {
    max-width: 60ch;
    margin: 0 auto;
    padding:3rem 1rem;

    &__pagination {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding:3rem 0;

        a {
            display: inline-flex;
            align-items: center;
            background-color: rgba(var(--bg-card), 1);
            color: rgba(var(--body-link), 1);

            overflow: hidden;
            border-radius: 10px;
            box-shadow: 3px 4px 9px rgba(0, 0, 0, 0.06);

            padding: 0.85rem 1rem;
            text-decoration: none;
        }
    }
}