@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/screenwidth' as *;

.btn {
    &__wrapper {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        margin:1.5rem 0;
        gap:1rem;

        &:first-of-type {
            margin-bottom: 0;
        }

        &[data-wrapper-type="row"] {
            flex-direction: row;

            gap:0.75rem;
        }
        &[data-wrapper-type="column"] {
            flex-direction: column;
            gap:1rem;
        }
    }

    display: inline-flex;
    align-items: center;

    padding-top: 0.815rem;
    padding-bottom: 0.815rem;
    padding-left: 1.45rem;
    padding-right: 1.45rem;

    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    cursor: pointer;

    border-radius: 30px;
    word-break: normal;
    border:2px solid;

    transition: 0.4s;
    

    &[data-icon-position="left"] {
        svg, i {
            margin-right: 0.35rem;
        }
    }

    &[data-icon-position="right"] {
        svg, i {
            margin-left: 0.35rem;
        }
    }

    &__full {
        width: 100%;
        text-align: center;
        justify-content: center;
    }

    &__link {
        color:rgba(var(---btn-primary), 1);
        padding-top: 0;
        padding-bottom:0;
        padding-left: 0.25rem;
        padding-right: 0.25rem;
    }

    &__primary {
        background-color: rgba(var(--btn-primary), 1);
        color:rgba(var(--btn-text-primary), 1);
        border-color: transparent;
            
        &:hover {
            background-color: rgba(var(--btn-primary-hover), 1);
            color:rgba(var(--btn-text-primary-hover), 1);
        }
    }
}