@charset "UTF-8";
@import '../fonts/worksans/font.css';
@import '../fonts/notoserif/font.css';
@import '../fonts/themify-icons/themify-icons.css';
.color-turquoise {
  color: #549190;
}

.underlined {
  font-family: "worksans";
  font-weight: 500;
  color: #549190;
}
.underlined::after {
  content: "";
  display: block;
  max-width: 100px;
  width: 70px;
  margin: 1rem auto;
  height: 2px;
  background: #549190;
}

.has-text-align-center {
  text-align: center;
}

html {
  scroll-padding-top: 200px;
  scroll-behavior: smooth;
}

body {
  font-family: "notoserif";
  overflow-x: hidden;
  color: #152f4a;
  font-size: 11pt;
}

hr {
  opacity: 0.2;
}

a.button,
input[type=button],
input[type=submit] {
  min-width: 150px;
  width: auto;
  height: auto;
  padding: 0.5rem 1rem;
  line-height: 1.5;
  font-size: 10pt;
  background: transparent;
  color: #549190;
  border: 2px solid #549190;
  animation: none !important;
  text-transform: uppercase;
  text-align: center;
  font-family: "worksans";
  font-weight: 500;
}
a.button:hover,
input[type=button]:hover,
input[type=submit]:hover {
  background: #549190;
  color: white;
}

.group {
  max-width: 1168px;
}
.group.narrow {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.page-title {
  padding: 0 !important;
}
.page-title h1 {
  color: #549190;
  padding-top: 49px;
  padding-bottom: 73px;
}

.ui-widget {
  font-family: "worksans";
  font-weight: 300 !important;
}

.realty.search-results .panel-items {
  padding: 5rem 0;
  justify-content: center;
}
.realty.search-results .panel-items a.item {
  color: #549190;
  padding: 0 3rem;
  width: auto;
  height: auto;
  border-radius: 0;
}
.realty.search-results .panel-items a.item:hover, .realty.search-results .panel-items a.item.active {
  color: #152f4a;
}
.realty.search-results .panel-items a.item:hover::after, .realty.search-results .panel-items a.item.active::after {
  background: #152f4a;
}
.realty.search-results .panel-items a.item::after {
  content: "";
  display: block;
  max-width: 100px;
  width: 70px;
  margin: 1rem auto;
  height: 2px;
  background: #549190;
}
.realty.search-results button#load-listings {
  background: none;
  border: none;
  cursor: pointer;
}
.realty.search-results button#load-listings img {
  max-height: 20px;
}
.realty.search-results .information {
  font-family: "worksans";
  padding: 0 2rem;
  color: #549190;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}
@media (max-width: 767px) {
  .realty.search-results .information {
    padding: 0;
    justify-content: flex-end;
  }
  .realty.search-results .information .left {
    display: none;
  }
}
.realty.search-results .information .left {
  flex: auto;
}
.realty.search-results .information .right {
  display: flex;
  align-items: center;
}
.realty.search-results .information .right label {
  flex: 0 0 auto;
}
.realty.search-results .information .right select {
  background-color: transparent;
  background-image: url("../images/multiple-select.png");
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: 100% center;
  border: none;
  padding-right: 25px;
  color: inherit;
  text-transform: lowercase;
}
.realty.search-results .panel[data-panel=map-view] {
  flex-wrap: wrap;
}
.realty.search-results .panel[data-panel=map-view].active {
  display: flex;
}
.realty.search-results .panel[data-panel=map-view] > div {
  flex: 0 0 100%;
  max-width: 100%;
}
/* @media (min-width: 768px) {
  .realty.search-results .panel[data-panel=map-view] > div {
    flex: 0 0 50%;
    max-width: 50%;
  }
} */
.realty.search-results .panel[data-panel=map-view] > div#map-listing .listing .image {
  flex: 0 0 100%;
  max-width: 100%;
}
.realty.search-results .panel[data-panel=map-view] > div#map-listing .listing .image .add-fav {
  position: absolute;
  right: 20px;
  top: 20px;
}
.realty.search-results .panel[data-panel=map-view] > div#map-listing .listing .image .add-fav a {
  color: #549190;
  border-radius: 100%;
  background: white;
  width: 30px;
  height: 30px;
  display: inline-block;
  text-align: center;
  line-height: 30px;
}
.realty.search-results .panel[data-panel=map-view] > div#map-listing .listing .details {
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
}
.realty.search-results .panel[data-panel=map-view] > div#map-listing .listing .details .title {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #549190;
}
.realty.search-results .panel[data-panel=map-view] #map-canvas {
  padding-bottom: 125%;
}
@media (max-width: 767px) {
  .realty.search-results #properties .panels {
    width: 100vw;
    max-width: 100vw;
    margin-left: calc(50% - 50vw);
  }
}

.full-width-block {
  width: 100vw;
  max-width: 100vw;
  margin-left: calc(50% - 50vw);
}

.embed-responsive {
  position: relative;
  height: 0;
  overflow: hidden;
}
.embed-responsive-21by9 {
  padding-bottom: calc(100% * 9/21);
}
.embed-responsive-16by9 {
  padding-bottom: calc(100% * 9/16);
}
.embed-responsive-4by3, .realty.search-results .panel[data-panel=map-view] > div#map-listing .listing .image > a {
  padding-bottom: calc(100% * 3/4);
}
.embed-responsive-1by1 {
  padding-bottom: 100%;
}
.embed-responsive > * {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.panel-items a {
  font-family: "worksans";
  font-size: inherit;
  text-transform: uppercase;
}

.wp-block-carousel.owl-carousel {
  display: block;
}
.wp-block-carousel.owl-carousel .wp-block-group__inner-container {
  display: none;
}
.wp-block-carousel.owl-carousel .wp-block-group__inner-container.owl-loaded {
  display: block;
}
.wp-block-carousel.owl-carousel .wp-block-group__inner-container .owl-dots {
  position: static;
  padding-top: 3rem;
}

.mfp-forms {
  max-width: 500px;
}
.mfp-forms .title {
  padding: 2rem 0;
  text-align: center;
}
.mfp-forms .title#contract-title {
  font-size: 25pt;
  padding: 3rem 0;
  color: #549190;
}
.mfp-forms form li {
  margin-bottom: 1rem;
}
.mfp-forms form li.input-button {
  text-align: center;
  padding: 1rem 0;
}
.mfp-forms form input[type=text], .mfp-forms form textarea, .mfp-forms form select {
  background: transparent !important;
  border-bottom: 2px solid #549190 !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  font-size: 10pt !important;
  color: #549190;
  font-family: "worksans" !important;
}
.mfp-forms form input[type=text]::placeholder, .mfp-forms form textarea::placeholder, .mfp-forms form select::placeholder {
  color: #549190;
}
.mfp-forms form input[type=text]:focus, .mfp-forms form textarea:focus, .mfp-forms form select:focus {
  background-color: unset;
}
@media (max-width: 767px) {
  .mfp-forms form input[type=button] {
    max-width: 70%;
  }
}
.mfp-forms form .captcha {
  position: relative;
}
.mfp-forms form .captcha .image {
  position: absolute;
  right: 0;
  bottom: 2px;
  top: 0;
}
.mfp-forms form .captcha .image img {
  height: 100%;
}
.mfp-forms form .captcha a {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  background: #e8e9ea;
}
.mfp-forms form .ginput_container_select {
  position: relative;
}
.mfp-forms form .ginput_container_select::after {
  content: "";
  font-family: "FontAwesome";
  font-size: 1.5rem;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #549190;
}
.mfp-forms .form-logo img {
  max-width: 300px;
  margin: 0 auto;
}
.mfp-forms button.mfp-close {
  top: unset;
  bottom: 0;
  font-size: 3rem;
  width: 60px;
  height: 60px;
}

.owl-dots button {
  background: white !important;
  margin: 0 12px !important;
}
.owl-dots button.active {
  background: #b2d1b9 !important;
}
@media (max-width: 767px) {
  .owl-dots button {
    margin: 0 8px !important;
  }
}
.owl-dots.disabled {
  display: flex !important;
}

figure.full-width-block figcaption {
  height: auto;
  bottom: 100px;
  text-align: center;
  font-size: max(2rem, 3vw);
  color: white;
  z-index: 2;
}
@media (max-width:768px) {
  figure.full-width-block figcaption {
    /* bottom:20%;
    transform:translateY(-50%); */
  }
}

figure.full-width-block::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.not-full, #agent section.testimonials .testimonials-carousel, #agent section.agent-info .agent-bio {
  max-width: 650px;
  margin: 0 auto;
}

.css-tabs {
  display: none;
}
.css-tabs:target {
  display: block;
}

[class*=grid] {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 767px) {
  [class*=grid] > .column {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

body.onscroll #header .hamburger a.toggle, body.expand-quick-search #header .hamburger a.toggle {
  border-color: #152f4a;
}
body.onscroll #header .hamburger a.toggle::before, body.onscroll #header .hamburger a.toggle::after, body.expand-quick-search #header .hamburger a.toggle::before, body.expand-quick-search #header .hamburger a.toggle::after {
  background: #152f4a;
}
body.onscroll #header .find a.toggle, body.expand-quick-search #header .find a.toggle {
  color: #152f4a;
}
body.expand-quick-search .find a.toggle.active span {
  font-family: "themify";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body.expand-quick-search .find a.toggle.active span::before {
  content: "";
}
body:not(.home) header .hamburger a.toggle {
  border-color: black !important;
}
body:not(.home) header .hamburger a.toggle::before, body:not(.home) header .hamburger a.toggle::after {
  background: black !important;
}
body:not(.home) header .find a.toggle {
  color: black;
}

@media (min-width: 992px) {
  #header {
    position: static;
  }
  #header .hamburger {
    display: none;
  }
  #header .find {
    position: static;
    transform: none;
    order: 2;
  }
  #header .find a {
    color: #152f4a;
  }
  #header .logo {
    display: block;
    min-height: unset !important;
    margin-right: auto;
  }
  #header .logo img {
    max-width: 200px !important;
  }
  #header .hgroup {
    position: relative;
    background: white !important;
  }
  #header .hgroup .group {
    display: flex;
    align-items: center;
    position: static;
  }
  #header #primary-menu {
    display: block;
    position: static;
    background: none !important;
  }
  #header #primary-menu .container {
    position: static;
    overflow: unset;
  }
  #header #primary-menu .container .image, #header #primary-menu .container .menu-close-bt {
    display: none;
  }
  #header #primary-menu .container .main-menu {
    padding: 0;
    overflow: unset;
    height: auto;
  }
  #header #primary-menu .container .main-menu .menu {
    display: flex;
  }
  #header #primary-menu .container .main-menu .menu > li {
    width: auto;
    margin: 0;
    padding: 15px 25px;
    position: relative;
  }
  #header #primary-menu .container .main-menu .menu > li > a {
    color: #152f4a;
    font-size: inherit;
  }
  #header #primary-menu .container .main-menu .menu > li > a::after {
    display: none;
  }
  #header #primary-menu .container .main-menu .menu > li .sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    text-align: left;
    background: white;
    width: max-content;
  }
  #header #primary-menu .container .main-menu .menu > li .sub-menu li {
    padding-left: 25px;
    padding-right: 25px;
    transition: 0.3s;
  }
  #header #primary-menu .container .main-menu .menu > li .sub-menu li:hover {
    background: #e8e9ea;
  }
  #header #primary-menu .container .main-menu .menu > li .sub-menu li:not(:last-child) {
    border-bottom: 1px solid #e8e9ea;
  }
  #header #primary-menu .container .main-menu .menu > li .sub-menu li a {
    color: #152f4a;
    font-size: inherit;
  }
  #header #quick-search {
    top: 100%;
    position: absolute;
  }
}
#header .find {
  right: 0;
  left: unset;
}
#header .hamburger {
  left: 0;
  right: unset;
}
#header .hamburger a.toggle.active {
  display: none;
}
#header .logo {
  min-height: 70px;
  opacity: 1 !important;
}
#header .logo img {
  max-width: 250px;
}
#header .hgroup {
  background: white;
}
#header #primary-menu {
  background: #152f4a;
}
#header #primary-menu .image {
  min-height: 100px;
}
#header #primary-menu .image img {
  max-width: 250px;
}
#header #primary-menu .menu-close-bt {
  padding: 20px 50px;
  text-align: right;
}
#header #primary-menu .menu-close-bt a {
  font-size: 2.5rem;
  color: #f2f2f2;
}
#header #primary-menu .main-menu {
  height: calc(100% - 200px);
  overflow: scroll;
}
#header #primary-menu .main-menu a {
  display: inline-block;
  text-transform: uppercase;
}
#header #primary-menu .main-menu .menu {
  font-family: "worksans";
  font-weight: 500;
  font-size: inherit;
}
#header #primary-menu .main-menu .menu > li {
  width: fit-content;
  width: -moz-fit-content;
  margin-left: auto;
  margin-right: auto;
}
#header #primary-menu .main-menu .menu > li > a {
  font-size: 20pt;
}
#header #primary-menu .main-menu .menu > li > a::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background: #f2f2f2;
  margin: 2rem auto 1rem;
}
#header #primary-menu .main-menu .menu > li:hover a::after {
  background: #549190;
}
#header #primary-menu .main-menu .menu > li:hover .sub-menu {
  max-height: 20rem;
}
#header #primary-menu .main-menu .sub-menu {
  transition: 0.3s;
  overflow: hidden;
  max-height: 0;
}
#header #primary-menu .main-menu .sub-menu > li {
  padding: 5px 0;
}
#header #primary-menu .main-menu .sub-menu > li > a {
  font-size: inherit;
}

#quick-search {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
#quick-search #main-options {
  justify-content: center;
  max-width: 1168px;
  margin: 0 auto;
}
@media (min-width: 768px) and (max-width: 1249px) {
  #quick-search #main-options {
    margin-right: 40px;
    margin-left: 40px;
  }
}
@media (max-width: 767px) {
  #quick-search #main-options {
    margin-right: 20px;
    margin-left: 20px;
  }
}
#quick-search #main-options .field {
  border: none;
}
#quick-search #main-options .field.keywords {
  flex: 1;
  width: auto;
}
#quick-search #main-options .field.keywords input {
  text-align: center;
}
#quick-search #main-options .field.keywords input::placeholder {
  text-align: center;
}
#quick-search #main-options .field.actions {
  width: auto;
}
#quick-search #main-options .field.actions a.action {
  background: none !important;
  color: black !important;
  width: auto;
  height: auto;
}

body:not(.expand-quick-search):not(.onscroll) #page.page-landing #header .hgroup {
  background: 0 0 !important;
}
@media (max-width: 767px) and (orientation: portrait) {
  body .page-landing {
    height: inherit;
  }
  body .page-landing #main, body .page-landing #content {
    height: inherit;
  }
  body .page-landing #section-1 {
    height: inherit;
  }
  body .page-landing #section-1 .image {
    height: inherit;
  }
  body .page-landing #section-1 .image img {
    height: inherit;
    object-fit: cover;
  }
}
body .page-landing #header {
  position: fixed;
}
body .page-landing #header #primary-menu {
  position: fixed;
  background: #152f4a !important;
}
body .page-landing #header #primary-menu:not(.expand) {
  display: none !important;
}
body .page-landing #header #primary-menu .container {
  position: absolute;
  overflow: auto;
}
body .page-landing #header #primary-menu .container .image {
  display: flex;
}
body .page-landing #header #primary-menu .container .menu-close-bt {
  display: block;
}
body .page-landing #header #primary-menu .container .main-menu {
  height: calc(100% - 200px);
  overflow-y: scroll;
  padding-bottom: 80px;
}
body .page-landing #header #primary-menu .container .main-menu a {
  display: inline-block;
  text-transform: uppercase;
}
body .page-landing #header #primary-menu .container .main-menu .menu {
  font-family: "worksans";
  font-weight: 500;
  font-size: inherit;
  display: block;
}
body .page-landing #header #primary-menu .container .main-menu .menu > li {
  width: fit-content;
  width: -moz-fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 0;
  position: static;
}
body .page-landing #header #primary-menu .container .main-menu .menu > li > a {
  font-size: 20pt;
  color: white;
}
body .page-landing #header #primary-menu .container .main-menu .menu > li > a::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background: #f2f2f2;
  margin: 2rem auto 1rem;
}
body .page-landing #header #primary-menu .container .main-menu .menu > li:hover a::after {
  background: #549190;
}
body .page-landing #header #primary-menu .container .main-menu .menu > li:hover .sub-menu {
  max-height: 20rem;
}
body .page-landing #header #primary-menu .container .main-menu .sub-menu {
  transition: 0.3s;
  overflow: hidden;
  max-height: 0;
  position: static;
  background: transparent;
  width: auto;
  text-align: center;
}
body .page-landing #header #primary-menu .container .main-menu .sub-menu > li {
  padding: 5px 0;
  border: none !important;
}
body .page-landing #header #primary-menu .container .main-menu .sub-menu > li:hover {
  background: transparent;
}
body .page-landing #header #primary-menu .container .main-menu .sub-menu > li > a {
  font-size: inherit;
  color: white;
}
body .page-landing #header #quick-search {
  top: unset;
  position: fixed;
}
body .page-landing #header .hgroup .group {
  display: block;
  position: relative;
}
body .page-landing #header .find {
  position: absolute;
  transform: translateY(-50%);
}
body .page-landing #header .find a {
  color: white;
}
body .page-landing #header .logo {
  opacity: 1 !important;
  display: flex !important;
  margin: unset !important;
  min-height: 100px !important;
}
body .page-landing #header .hamburger {
  display: block;
}
body .page-landing #section-1 .image .overlay {
  font-size: max(2rem, 5vw);
}
body .page-landing #section-1 a.arrow-button {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3rem;
}

.page-home #section-1 .image {
  height: 100vh;
}
@media (min-width: 992px) {
  .page-home #section-1 .image {
    height: calc(100vh - 52px);
  }
}
.page-home #section-1 .image img {
  height: 100%;
  object-fit: cover;
}
@media (min-width: 992px) {
  .page-home #section-1 .image .placeholder {
    padding-bottom: calc(100% * 9/21);
  }
}
.page-home #section-1 .image .overlay {
  font-size: max(2rem, 5vw);
}
@media (max-width: 767px) {
  .page-home #section-1 .image .overlay {
    width: 80%;
  }
  .page-home #section-1 .image {
    height: 60vh;
  }
  .page-home #section-1 a.arrow-button {
    display: none;
  }
}
.page-home #section-1 a.arrow-button {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3rem;
}
.page-home #section-2 {
  padding: 100px 0 50px;
}
.page-home #section-2 .slider-text .item .title {
  margin-bottom: 2rem;
  font-size: 2em;
  color: #549190;
}
@media (max-width: 767px) {
  .page-home #section-2 {
    padding-top: 30px;
  }
  .page-home #section-2 .slider-text .item .blurb p br {
    display: none;
  }
}
.page-home #section-2 .slider-text .owl-dots {
  position: static;
  transform: none;
  text-align: center;
  padding: 3rem 0;
}
.page-home #section-2 .cta-links a {
  color: #549190;
  font-family: "worksans";
  font-weight: 500;
}
.page-home #section-2 .cta-links a::after {
  content: "";
  display: block;
  max-width: 100px;
  width: 70px;
  margin: 1rem auto;
  height: 2px;
  background: #549190;
}
@media (max-width: 992px) {
  .page-home #section-2 .grid-3 .column {
    width: 100%;
    float: none;
  }
}
.page-home #featured-listings {
  padding: 5rem 0 3rem;
}
.page-home #featured-listings h1.title {
  margin-bottom: 3rem;
  color: #549190;
}
.page-home #featured-listings .panel-items .item {
  display: inline-block;
  color: #549190;
  font-weight: 500 !important;
}
.page-home #featured-listings .panel-items .item::after {
  content: "";
  display: block;
  height: 1px;
  width: 60px;
  background: #549190;
  margin: 1rem auto;
}
@media (max-width: 767px) and (orientation: portrait) {
  .page-home #featured-listings .panel-items .item {
    display: block;
  }
}
@media (max-width: 767px) {
  .page-home #featured-listings .panel-items .item {
    margin: 0 20px;
  }
}
.page-home #featured-listings .owl-carousel {
  padding-bottom: 50px;
}
.page-home #featured-listings .owl-carousel .owl-dots {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.page-home #stats {
  padding-bottom: 3rem;
}
.page-home #stats .back-blue {
  background: #152f4a;
  padding: 2rem 0;
  color: #549190;
}
.page-home #stats h1.title {
  margin-bottom: 3rem;
  color: #549190;
}
@media (min-width: 768px) {
  .page-home #stats .grid-5 {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 767px) {
  .page-home #stats .grid-5 .column {
    flex: 1;
    padding-left: 5px;
    padding-right: 5px;
  }
  .page-home #stats .grid-5 .column .blurb {
    color: white;
    font-size: 13px;
  }
}
.page-home #stats .grid-5 .column .number {
  font-size: max(4rem, 4vw);
  border-bottom: 1px solid #549190;
  margin-bottom: 1rem;
}
.page-home #stats .cta-opening {
  padding: 3rem 0;
  color: #549190;
}
@media (max-width: 767px) {
  .page-home #stats .cta-opening p {
    padding-left: 40px;
    padding-right: 40px;
  }
  .page-home #stats .cta-opening p br {
    display: none;
  }
}
@media (min-width: 768px) {
  .page-home #stats .cta [class*=grid] {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 767px) {
  .page-home #stats .cta [class*=grid] .column {
    flex: 1;
    padding-left: 5px;
    padding-right: 5px;
  }
}
.page-home #stats .cta [class*=grid] a {
  color: #549190;
  font-weight: 500;
  font-family: "worksans";
}
.page-home #stats .cta [class*=grid] a::after {
  content: "";
  display: block;
  width: 120px;
  height: 1px;
  background: #549190;
  margin: 1rem auto;
}
.page-home #dynamic-content {
  height: 100%;
}

footer#footer {
  padding: 3rem 0;
  color: white;
  background: #152f4a;
  font-size: 0.8rem;
  line-height: 2;
}
footer#footer .footer-columns {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -2rem 2rem;
  color: #549190;
}
footer#footer .footer-columns .footer-text {
  line-height: 21pt;
}
footer#footer .footer-columns .column:first-child {
  flex: 0 0 60%;
  max-width: 60%;
}
footer#footer .footer-columns .column {
  flex: 0 0 20%;
  max-width: 20%;
  padding: 0 2rem;
}
footer#footer .footer-columns .column:not(:first-child) {
  font-family: "worksans";
  font-weight: 500;
}
@media (max-width: 767px) {
  footer#footer .footer-columns .column {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
  footer#footer .footer-columns .column:not(:last-child) {
    margin-bottom: 1rem;
  }
}
footer#footer a {
  color: white;
}
footer#footer .credit {
  font-family: "worksans";
}
footer#footer > .group {
  position: relative;
}
footer#footer .up-arrow {
  position: absolute;
  bottom: 0;
  right: 0;
}
footer#footer .up-arrow a {
  font-size: 2rem;
}
footer#footer .up-arrow a i {
  padding: 0 1rem;
}

.listings-carousel .owl-stage {
  display: flex;
}
.listings-carousel .listing {
  height: 100%;
}
.listings-carousel .listing .details {
  padding: 20px;
}
.listings-carousel .listing .details .suburb {
  font-size: 15pt;
}
.listings-carousel .listing .details .suburb a {
  color: #152f4a;
}

.gform_wrapper li.hidden_label .ginput_container_textarea {
  padding-top: 12px;
}
.gform_wrapper li.hidden_label input {
  margin-top: 0 !important;
}
.gform_wrapper .gfield .btn-slide-nav {
  text-align: center;
  padding: 2rem 0;
}
.gform_wrapper .gfield .gfield_radio, .gform_wrapper .gfield .gfield_checkbox {
  width: 100% !important;
}
.gform_wrapper .gfield .gfield_radio li, .gform_wrapper .gfield .gfield_checkbox li {
  margin-bottom: 1.2rem !important;
  padding-bottom: 0.5rem !important;
  border-bottom: 2px solid #549190;
}
.gform_wrapper .gfield .gfield_radio li input[type=radio], .gform_wrapper .gfield .gfield_radio li input[type=checkbox], .gform_wrapper .gfield .gfield_checkbox li input[type=radio], .gform_wrapper .gfield .gfield_checkbox li input[type=checkbox] {
  top: 7px !important;
}
.gform_wrapper .gfield .gfield_radio li label, .gform_wrapper .gfield .gfield_checkbox li label {
  font-family: "worksans";
  font-weight: 500 !important;
  color: #549190;
}
.gform_wrapper .gfield.gfield_error {
  border: 0 !important;
}

.mfp-content .gform_wrapper .gfield_html .section-subtitle, .mfp-content .gform_wrapper .gfield_html .title {
  font-size: 25pt;
  text-align: center;
  padding: 3rem 0;
  color: #549190;
}
@media (max-width: 767px) {
  .mfp-content .gform_wrapper .gfield_html .section-subtitle, .mfp-content .gform_wrapper .gfield_html .title {
    font-size: 22pt;
  }
}
.mfp-content .gform_wrapper .gform_footer {
  text-align: center;
}
.mfp-content .gform_wrapper .gform_page_footer {
  text-align: center;
  border: none;
}

.ui-selectmenu .ui-selectmenu-button {
  color: #549190;
  border: none;
  border-radius: 0;
}
.ui-selectmenu .ui-selectmenu-button .ui-selectmenu-text {
  line-height: 55px;
}
.ui-selectmenu .ui-selectmenu-button .ui-icon {
  border: none !important;
  width: auto;
  height: auto;
  background: none;
  margin-top: 0;
  font-family: "themify";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 1rem;
  text-indent: 0;
  right: 15px;
}
.ui-selectmenu .ui-selectmenu-button .ui-icon::before {
  content: "";
}
.ui-selectmenu .ui-selectmenu-menu ul.ui-menu {
  border: none;
  padding: 10px 20px;
}
.ui-selectmenu .ui-selectmenu-menu ul.ui-menu .ui-menu-item {
  color: #549190;
}
.ui-selectmenu .ui-selectmenu-menu ul.ui-menu .ui-menu-item:not(:last-child) {
  margin-bottom: 8px;
}
.ui-selectmenu .ui-selectmenu-menu ul.ui-menu .ui-menu-item.ui-state-focus {
  border: none;
  background: none;
  font-weight: 500;
}

#quick-search-2 form .fields {
  max-width: 1000px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
#quick-search-2 form .fields .field {
  flex: auto;
}
#quick-search-2 form .fields .field.actions {
  flex: 0 0 5%;
  text-align: center;
}
#quick-search-2 form .fields .field.actions a {
  color: #549190;
}
#quick-search-2 form .fields .field:not(:nth-child(n+5)) {
  padding-right: 2px;
}
@media (max-width: 576px) {
  #quick-search-2 form .fields {
    justify-content: space-between;
  }
  #quick-search-2 form .fields .field {
    padding-bottom: 2px;
  }
  #quick-search-2 form .fields .field.suburbs, #quick-search-2 form .fields .field.prices, #quick-search-2 form .fields .field.land {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.listings {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 100%;
}
.listings .listing {
  flex: 0 0 100%;
  max-width: 100%;
}
@media (min-width: 992px) {
  .listings .listing {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px;
    margin-bottom: 50px;
  }
}
.listings .listing .image {
  width: 100%;
  position: relative;
}
.listings .listing .image .centering {
  padding-bottom: calc(100% * 3/4);
}
.listings .listing .image .centering img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.listings .listing .image .add-fav {
  position: absolute;
  top: 30px;
  right: 30px;
}
.listings .listing .image .add-fav a {
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background: white;
  border-radius: 100%;
  color: #549190;
}
.listings .listing .details {
  padding: 0;
  width: 100%;
  text-align: center;
  max-width: 70%;
  margin-top: -80px;
  z-index: 1;
  min-height: unset !important;
}
.listings .listing .details .title {
  margin-bottom: 15px !important;
  padding-bottom: 15px;
  border-bottom: 1px solid #549190;
  font-size: 15pt;
}
.listings .listing .details .times {
  font-family: "worksans";
  font-weight: 500;
  font-size: 1rem;
  text-transform: uppercase;
}

.search-results .page-entry #info {
  padding: 80px 0;
}
.search-results .page-entry #info .copy {
  font-size: 2rem;
  margin-bottom: 50px;
  color: #549190;
}
.search-results .page-entry #video {
  width: 100vw;
  max-width: 100vw;
  margin-left: calc(50% - 50vw);
  background: white;
  padding: 80px 0;
}
.search-results .page-entry #video .video-placeholder {
  max-width: 1168px;
  margin-right: auto;
  margin-left: auto;
}
.search-results .page-entry #video .section-title {
  margin-bottom: 5rem;
  font-size: 2.5rem;
  color: #549190;
}

#info-register {
  padding: 3rem 0;
}
#info-register h1.title {
  margin-bottom: 3rem;
  color: #549190;
}
#info-register #register_form {
  max-width: 550px;
  margin: 0 auto;
  padding: 0 1rem;
}
#info-register #register_form form {
  padding-top: 2rem;
}
#info-register #register_form form .submit-button {
  padding: 2.5rem 0;
}
#info-register #register_form form input[type=text] {
  background: transparent !important;
  border-bottom: 2px solid #549190 !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  font-size: 10pt !important;
  color: #549190;
  font-family: "worksans" !important;
}
#info-register #register_form form input[type=text]::placeholder {
  color: #549190;
}
#info-register #register_success {
  padding: 2rem 0;
}
#info-register .socials a.item {
  display: inline-block;
  background: #549190;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  line-height: 30px;
  margin: 0 2px;
}

.page-team .wp-block-group.section {
  max-width: 800px;
  margin: 0 auto;
}
.page-team .wp-block-group.section > .wp-block-group__inner-container {
  padding: 5rem 0;
  text-align: center;
}
.page-team .wp-block-group.section > .wp-block-group__inner-container h2 {
  margin-bottom: 2rem;
  font-size: 2.5rem;
  color: #549190;
}
.page-team #agents .panel-items {
  justify-content: space-around;
  padding-bottom: 3rem;
}
.page-team #agents .panel-items a {
  color: #549190;
  text-align: center;
  text-transform: uppercase;
}
.page-team #agents .panel-items a::after {
  content: "";
  display: block;
  max-width: 100px;
  width: 70px;
  margin: 1rem auto;
  height: 2px;
  background: #549190;
}

.agent .agent-box .agent-info {
  background: white;
}
.agent .agent-box .agent-info .agent-name::after {
  content: "";
  display: block;
  width: 80%;
  height: 1.5px;
  background: #549190;
  margin: 1rem auto;
}
.agent .agent-box .agent-info .contact {
  justify-content: center;
  margin-bottom: 0!important;
}
.agent .agent-box .agent-info .contact p {
  font-family: "worksans";
  padding: 0 10px;
  position: relative;
}
.agent .agent-box .agent-info .contact p:not(:last-child)::after {
  content: "|";
  position: absolute;
  right: 0;
  bottom: 0;
}

#agent section.agent-info .agent-thumbnail {
  width: 100vw;
  max-width: 100vw;
  margin-left: calc(50% - 50vw);
}

@media (max-width: 768px) {
  #agent section.agent-info .agent-thumbnail > .wrapper {
      padding-bottom: 60vh;
  }
}
#agent section.agent-info .agent-details {
  max-width: 550px;
  background: white;
  padding: 25px;
  text-align: center;
  margin: -4rem auto 0;
  position: relative;
  width: max-content;
  width: -moz-max-content;
}

@media (max-width: 768px) {
  #agent section.agent-info .agent-details {
      width: auto;
  }
}

#agent section.agent-info .agent-details .agent-name::after {
  content: "";
  display: block;
  width: 80%;
  height: 1.5px;
  background: #549190;
  margin: 1rem auto;
}
#agent section.agent-info .agent-details .agent-contact {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: "worksans";
}
#agent section.agent-info .agent-details .agent-contact > div {
  padding: 0 10px;
  position: relative;
}
#agent section.agent-info .agent-details .agent-contact > div:not(:last-child)::after {
  content: "|";
  position: absolute;
  right: 0;
  bottom: 0;
}
#agent section.agent-info .agent-details .agent-contact > div i {
  color: #549190;
}
#agent section.agent-info .agent-bio {
  padding: 3rem 0;
  text-align: center;
}
#agent section.agent-info .agent-enquiry {
  text-align: center;
  padding-bottom: 3rem;
}
#agent section.agent-info .agent-enquiry .title-enquiry {
  margin-bottom: 3rem;
}
#agent section.listing-tiles {
  padding-top: 0;
}
#agent section.listing-tiles .panel-items {
  text-transform: uppercase;
}
@media (max-width:768px) {
  #agent section.listing-tiles .panel-items {
    flex-wrap: nowrap;
  }
}
#agent section.listing-tiles .panel-items a {
  color: #549190;
}
@media (max-width:768px) {
  #agent section.listing-tiles .panel-items a {
    margin:0 1rem;
    padding:1rem 0;
  }
}
#agent section.listing-tiles .panel-items a::after {
  content: "";
  display: block;
  max-width: 100px;
  width: 70px;
  margin: 1rem auto;
  height: 2px;
  background: #549190;
}

#agent section.listing-tiles .listings-carousel {
    padding-bottom: 100px;
}

#agent section.listing-tiles .listings-carousel .owl-dots {
  flex-wrap: wrap;
  gap:1rem;
  bottom:20px;
}

@media (max-width:768px) {
  #agent section.listing-tiles .listings-carousel .owl-dots {
    margin:5px 8px!important;
  }
}

#agent section.testimonials {
  padding: 5rem 0;
  background: white;
}
#agent section.testimonials .testimonials-carousel .owl-dots {
  position: static;
}

.display-posts li .post-data {
  background: white;
  padding: 20px;
  max-width: 400px;
  margin: -4rem auto 0;
  z-index: 1;
  position: relative;
  text-align: center;
}
.display-posts li .post-data .title {
  font-size: 1.5rem;
}
.display-posts li .post-data .title::after {
  content: "";
  display: block;
  width: 80%;
  height: 2px;
  background: #b2d1b9;
  margin: 1.5rem auto;
}
.display-posts li .post-data p {
  font-family: "worksans";
  font-weight: 500;
  text-transform: uppercase;
}

#contacts_tab .contact-details {
  max-width: 500px;
  margin: auto;
  padding: 4rem 0;
}
#contacts_tab .contact-details > *:not(:last-child) {
  border-bottom: 2px solid #549190;
  padding: 0 10px 5px;
  color: #549190;
  font-family: "worksans";
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  align-items: center;
}
#contacts_tab .contact-details a[data-toggle] i {
  transition: 0.3s;
}
#contacts_tab .contact-details a[data-toggle].active i {
  transform: rotate(180deg);
}
#contacts_tab .contact-details #office-map {
  max-height: 0;
  transition: 0.3s;
  overflow: hidden;
}
#contacts_tab .contact-details #office-map.expand {
  max-height: 100em;
  overflow: visible;
}

.realty_plugins.realty_widget_media #property-media {
  position: relative;
}
@media (min-width: 768px) {
  .realty_plugins.realty_widget_media #property-media .image-carousel {
    margin-bottom: 2rem;
  }
}
.realty_plugins.realty_widget_media #property-media .image-carousel .owl-stage-outer::after {
  content: "";
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
@media (max-width: 767px) {
  .realty_plugins.realty_widget_media #property-media .image-carousel .owl-stage-outer .centering.sixteenth-ninth {
    padding-bottom: 80%;
  }
}
.realty_plugins.realty_widget_media #property-media .address {
  position: absolute;
  bottom: 6rem;
  z-index: 1;
  width: 100%;
  text-align: center;
  font-size: 3rem;
  color: white;
}
@media (max-width: 767px) {
  .realty_plugins.realty_widget_media #property-media .address {
    font-size: 1.5rem;
  }
}
.realty_plugins.realty_widget_media #property-media .sticker {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(10deg);
  width: 150px;
  height: 150px;
  z-index: 1;
  color: white;
  font-size: 2.5rem;
  background: #b2d1b9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.realty_plugins.realty_widget_media #property-media .sticker::before {
  content: "";
  display: block;
  width: inherit;
  height: inherit;
  position: absolute;
  transform: rotate(-20deg);
  background: #549190;
  z-index: -1;
}

@media (max-width: 767px) {
  .realty_plugins.realty_widget_media #property-media .sticker {
    transform:unset;
    width:100%;
    left: 0;
    top:0;
    font-size: 0.85rem;
    padding:0.85rem 0.85rem;
    height: auto;
    background: #549190;
  }
  .realty_plugins.realty_widget_media #property-media .sticker::before {
    display: none;
  }
}

.realty_plugins.realty_widget_property_description .auction::after {
  display: block;
  content: "";
  width: 300px;
  height: 2px;
  background: #549190;
  margin: 1rem auto;
}
.realty_plugins.realty_widget_property_description .description .copy {
  display: block !important;
  max-height: 180px;
  overflow: hidden;
  transition: 0.3s;
}
.realty_plugins.realty_widget_property_description .description .copy.expand {
  max-height: 50rem;
}
@media (max-width: 767px) {
  .realty_plugins.realty_widget_property_description .box-details {
    margin: 0;
  }
  .realty_plugins.realty_widget_property_description .box-details .column {
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 10px;
    padding-right: 10px;
  }
}
.realty_plugins.realty_widget_property_description .box-details .column .box {
  border: 2px solid #549190;
}
.realty_plugins.realty_widget_property_description .box-details .column .box .label {
  font-family: "worksans";
  color: #549190;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 500;
}
.realty_plugins.realty_widget_property_description .box-details .column .box .label::after {
  content: "";
  display: block;
  max-width: 100px;
  width: 70px;
  margin: 1rem auto;
  height: 2px;
  background: #549190;
}
.realty_plugins.realty_widget_property_description .box-details .column .box .label::after {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.realty_plugins.realty_widget_action_buttons {
  padding: 3rem 0;
}
@media (max-width: 767px) {
  .realty_plugins.realty_widget_action_buttons #property_tools .group > div {
    margin: 0;
  }
}
.realty_plugins.realty_widget_action_buttons #property_tools .action {
  display: flex;
  justify-content: space-between;
  padding: 0 10px 10px;
  border-bottom: 1px solid #549190;
  margin-bottom: 1rem;
  color: #549190;
  font-family: "worksans";
}
.realty_plugins.realty_widget_action_buttons #property_tools .action .action-label {
  font-weight: 500;
  text-transform: uppercase;
}
.realty_plugins.realty_widget_action_buttons #property_tools .action a {
  color: inherit;
}
.realty_plugins.realty_widget_map #map-canvas {
  padding-bottom: 0;
  overflow: hidden;
  transition: 0.3s;
}
.realty_plugins.realty_widget_map #map-canvas.expand {
  padding-bottom: 56.25%;
}
.realty_plugins.realty_widget_contact_agent [class*=grid] {
  justify-content: center;
}
.realty_plugins.realty_widget_contact_agent [class*=grid] .agent .agent-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.realty_plugins.realty_widget_contact_agent [class*=grid] .agent .agent-info .agent-name {
  flex: 0 0 100%;
  max-width: 100%;
}
.realty_plugins.realty_widget_contact_agent [class*=grid] .agent .agent-info .agent-name::after {
  content: "";
  display: block;
  width: 80%;
  height: 1.5px;
  background: #549190;
  margin: 1rem auto;
}
.realty_plugins.realty_widget_contact_agent [class*=grid] .agent .agent-info p {
  font-family: "worksans";
  padding: 0 10px;
  position: relative;
}
.realty_plugins.realty_widget_contact_agent [class*=grid] .agent .agent-info p:not(:last-child)::after {
  content: "|";
  position: absolute;
  right: 0;
  bottom: 0;
}
.realty_plugins.realty_widget_contact_agent [class*=grid] .owl-dots {
  position: static;
  margin-top: 3rem;
}
.realty_plugins.realty_widget_property_features li {
  padding: 0 10px 10px;
  margin-bottom: 1rem;
  border-bottom: 1px solid #549190;
  display: flex;
  justify-content: space-between;
}
.realty_plugins.realty_widget_property_features li span {
  font-family: "worksans";
  font-weight: 500;
}
.realty_plugins.realty_widget_property_features li span strong {
  font-weight: 500;
}
.realty_plugins[class*=similar] table {
  font-family: "worksans";
}
.realty_plugins[class*=similar] table tr {
  margin-bottom: 10px;
  color: #549190;
}
.realty_plugins[class*=similar] table tr a {
  color: inherit;
}
.realty_plugins.realty_widget_suburb_statistic .suburb-details {
  padding-left: 120px;
  padding-right: 120px;
}
.realty_plugins.realty_widget_suburb_statistic .suburb-details .column {
  text-align: center;
  margin-bottom: 2rem;
  padding: 0 1rem;
}
.realty_plugins.realty_widget_suburb_statistic .suburb-details .column .value {
  font-size: 5rem;
  color: #549190;
  border-bottom: 1px solid #549190;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
.realty_plugins.realty_widget_suburb_statistic .suburb-details .column .label {
  margin: 0 30%;
}

.mfp-bg {
  background: #152f4a;
}

@media (min-width: 992px) {
  #content {
    padding-top: 0 !important;
  }
}

.ti-mouse-alt {
  color: transparent;
  background: url("../images/mouse.svg") no-repeat;
}

.fa-arrow-circle-o-down {
  color: transparent;
  background: url("../images/arrow.svg") no-repeat;
}

@media (max-width: 767px) {
  [data-panel-id=agent-properties] {
    text-align: center;
  }
  [data-panel-id=agent-properties] .panel-items {
    display: inline-flex;
    flex-direction: column;
    position: relative;
  }
  [data-panel-id=agent-properties] .panel-items .item:not(.active) {
    max-height: 0;
    overflow: hidden;
  }
  [data-panel-id=agent-properties] .panel-items .item:not(.active).expanded {
    max-height: 100px;
  }
  [data-panel-id=agent-properties] .panel-items .item.active {
    order: -1;
    text-align: left;
  }
  [data-panel-id=agent-properties] .panel-items::after {
    content: "";
    font: normal normal normal 14px/1 FontAwesome;
    display: block;
    position: absolute;
    right: 20px;
    top: 3px;
    color: #549190;
  }
}

@media (max-width: 767px) {
  #property-media .owl-dots {
    display: flex;
    position: static;
    padding: 2rem 0;
  }
}

@media (min-width: 768px) {
  .mobile {
    display: none;
  }
}

@media (max-width: 767px) {
  .desktop {
    display: none;
  }
}

@media (max-width: 767px) {
  [class*=cta] > [class*=grid] {
    display: inline-flex;
    flex-direction: column;
    position: relative;
  }
}
[class*=cta] .expand {
  position: absolute;
  right: -10px;
}
[class*=cta] .expand a::after {
  display: none !important;
}

/* recent changes */
.aligncenter {
  text-align: center;
}

body#team .wp-block-carousel.owl-carousel {
  margin: auto;
}
@media (min-width:992px) {
  body#property .realty_plugins.realty_widget_media #property-media .image-carousel .items .owl-stage-outer .owl-item a.placeholder {
    padding-bottom: calc(100vh - 50px);
  }
}

body#property div[data-panel-id] .panels .panel .owl-carousel {
  padding-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

body#property div[data-panel-id] .panels .panel .owl-carousel.listings-carousel .owl-nav button[class^=owl-] {
  border:0;
}

body#property div[data-panel-id] .panels .panel .owl-carousel.listings-carousel .owl-nav {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-85%);
  /* padding:0 2.5rem; */
}

body#property div[data-panel-id] .panels .panel .owl-carousel.listings-carousel .owl-nav.disabled {
  display: none;
}

body#property div[data-panel-id] .panels .panel .owl-carousel.listings-carousel .owl-nav > button {
  font-size: 0;
  color:white;
  width: unset;
  height: unset;
  margin:0;
}

body#property div[data-panel-id] .panels .panel .owl-carousel.listings-carousel .owl-nav > button::before {
  content:'';
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width:56px;
  height: 56px;
  background-repeat: no-repeat;
  background-size: 100%;
}

@media (min-width:1200px) {
  body#property div[data-panel-id] .panels .panel .owl-carousel.listings-carousel .owl-nav > button::before {
    transform: scale(1.25);
  }
}

body#property div[data-panel-id] .panels .panel .owl-carousel.listings-carousel .owl-nav > button.owl-prev::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='56' height='56' viewBox='0 0 24 24' fill='none' stroke='%23111' stroke-width='0.85' stroke-linecap='square' stroke-linejoin='arcs'%3E%3Cpath d='M15 18l-6-6 6-6'/%3E%3C/svg%3E");
}

body#property div[data-panel-id] .panels .panel .owl-carousel.listings-carousel .owl-nav > button.owl-next::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='56' height='56' viewBox='0 0 24 24' fill='none' stroke='%23111' stroke-width='0.85' stroke-linecap='square' stroke-linejoin='arcs'%3E%3Cpath d='M9 18l6-6-6-6'/%3E%3C/svg%3E");
}

@media (max-width:768px) {
  body#property div[data-panel-id] .panels .panel .owl-carousel.listings-carousel .owl-nav > button::before {
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(232deg) brightness(102%) contrast(103%);
  }
}

@media (min-width:1200px) {
  body#property .realty_plugins.realty_widget_contact_agent .grid-4 > .column {
    width: 33.3333%;
  }
}

body#property div[data-panel-id] .panels .panel .owl-carousel.listings-carousel .owl-nav > button:hover {
 color:#549190;
   filter: invert(55%) sepia(19%) saturate(706%) hue-rotate(130deg) brightness(90%) contrast(95%);
}

@media (min-width:1200px) {
  body#property div[data-panel-id] .panels .panel .owl-carousel.listings-carousel .owl-nav > button.owl-next {
    transform: translateX(80px);
  }
  body#property div[data-panel-id] .panels .panel .owl-carousel.listings-carousel .owl-nav > button.owl-prev {
    transform: translateX(-80px);
  }
}

body .display-posts .latest-posts > p { width: 100%; text-align: center;}
body .ultp-block-wrapper { margin-bottom: 80px!important; }

@media (max-width:768px) {
  .wp-block-group .wp-block-group__inner-container h2 {
    font-size: 24px!important;
  }
  .wp-block-group .wp-block-group__inner-container p br {
    display: none;
  }
  .padding-top-80 {
    padding-top: 40px;
  }
  .padding-bottom-80 {
    padding-bottom: 40px;
  }
}

input#search-keywords:placeholder-shown {
    text-overflow: ellipsis;
}

body#property .realty_plugins.realty_widget_media #property-media .owl-nav {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    padding:0 2.5rem;
}

@media (max-width:768px) {
  body#property .realty_plugins.realty_widget_media #property-media .owl-nav {
      transform: translateY(-100%);
  }
}

body#property .realty_plugins.realty_widget_media #property-media .owl-nav > button {
  font-size: 0;
  color:white;
}

body#property .realty_plugins.realty_widget_media #property-media .owl-nav > button::before {
  content:'';
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width:56px;
  height: 56px;
  background-repeat: no-repeat;
  background-size: 100%;
}

@media (min-width:1200px) {
  body#property .realty_plugins.realty_widget_media #property-media .owl-nav > button::before {
    transform: scale(1.5);
  }
}

body#property .realty_plugins.realty_widget_media #property-media .owl-nav > button.owl-prev::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='56' height='56' viewBox='0 0 24 24' fill='none' stroke='%23fff' stroke-width='0.85' stroke-linecap='square' stroke-linejoin='arcs'%3E%3Cpath d='M15 18l-6-6 6-6'/%3E%3C/svg%3E");
}

body#property .realty_plugins.realty_widget_media #property-media .owl-nav > button.owl-next::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='56' height='56' viewBox='0 0 24 24' fill='none' stroke='%23fff' stroke-width='0.85' stroke-linecap='square' stroke-linejoin='arcs'%3E%3Cpath d='M9 18l6-6-6-6'/%3E%3C/svg%3E");
}

body#property .realty_plugins.realty_widget_media #property-media .owl-nav > button:hover {
  filter: invert(55%) sepia(19%) saturate(706%) hue-rotate(130deg) brightness(90%) contrast(95%);
}

body#property .realty_plugins.realty_widget_map #map-canvas.expand {
  padding-bottom: 75%;
}

@media (max-width:768px) {
  body#property .realty_plugins.realty_widget_media #property-media .owl-nav {
    padding:0 0.5rem;
  }
}

@media screen and (max-width: 1121px) {
  #page:not(.homepage) #content {
      padding-top: 70px;
  }
  #page #content > .page-entry .wp-block-image {
    padding-bottom: 80%;
  }
  #page #content > .page-entry .wp-block-image {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #page #content > .page-entry .wp-block-image img, figure.full-width-block::before {
    left:0;
    top:0;
  }
}

body#blog.single-post  main#main #content > .group { position: relative;max-width: 100%;}
body#blog.single-post  main#main #content > .group > .centering {padding-bottom: calc(85vh - 0px); overflow: hidden;}
body#blog.single-post  main#main #content > .group > .centering img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

body#blog.single-post  main#main #content > .group > .centering #title {
  position: absolute;
  left: 0;
  bottom:70px;
  width: 100%;
  padding:0 2.5rem;
}

body#blog.single-post  main#main #content > .group > .centering #title h1 {
  color:white;
}

@media (max-width:768px) {
  body#blog.single-post  main#main #content > .group > .centering {padding-bottom:50vh; overflow: hidden;}
  body#blog.single-post  main#main #content > .group > .centering #title h1 {
    font-size: 24px;
  }
}

button#load-listings {
  background:transparent;
  border:0;
}

button#load-listings img {
  max-width: 30px;
}

body .full-width-block { padding-bottom: 85vh;}

body#team #agent section.listing-tiles .owl-carousel.listings-carousel .owl-nav button[class^=owl-] {
  border:0;
}

body#team #agent section.listing-tiles .owl-carousel.listings-carousel .owl-nav {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

body#team #agent section.listing-tiles .owl-carousel.listings-carousel .owl-nav > button {
  font-size: 0;
  color:white;
  width: unset;
  height: unset;
  margin:0;
}

body#team #agent section.listing-tiles .owl-carousel.listings-carousel .owl-nav > button::before {
  content:'';
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width:56px;
  height: 56px;
  background-repeat: no-repeat;
  background-size: 100%;
}

@media (min-width:1200px) {
  body#team #agent section.listing-tiles .owl-carousel.listings-carousel .owl-nav > button::before {
    transform: scale(1.25);
  }
  body#team #agent section.listing-tiles .owl-carousel.listings-carousel .owl-nav > button.owl-prev {
    transform: translateX(-80px);
  }
  body#team #agent section.listing-tiles .owl-carousel.listings-carousel .owl-nav > button.owl-next {
    transform: translateX(80px);
  }
}

body#team #agent section.listing-tiles .owl-carousel.listings-carousel .owl-nav > button.owl-prev::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='56' height='56' viewBox='0 0 24 24' fill='none' stroke='%23111' stroke-width='0.85' stroke-linecap='square' stroke-linejoin='arcs'%3E%3Cpath d='M15 18l-6-6 6-6'/%3E%3C/svg%3E");
}

body#team #agent section.listing-tiles .owl-carousel.listings-carousel .owl-nav > button.owl-next::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='56' height='56' viewBox='0 0 24 24' fill='none' stroke='%23111' stroke-width='0.85' stroke-linecap='square' stroke-linejoin='arcs'%3E%3Cpath d='M9 18l6-6-6-6'/%3E%3C/svg%3E");
}

@media (max-width:768px) {
  body#team #agent section.listing-tiles .owl-carousel.listings-carousel .owl-nav > button::before {
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(232deg) brightness(102%) contrast(103%);
  }
}

body#team #agent section.listing-tiles .owl-carousel.listings-carousel .owl-nav > button:hover {
 color:#549190;
   filter: invert(55%) sepia(19%) saturate(706%) hue-rotate(130deg) brightness(90%) contrast(95%);
}

.agent-thumbnail a img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
