@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/screenwidth' as *;

.footer {
    padding-bottom: 4.5rem;
    margin-top: 4.5rem;
    color: rgba(var(--body-text), 1);

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width:60rem) {
            flex-direction: column;
            justify-content: center;
        }
    }

    &__credit {
        @media (max-width:60rem) {
            margin-top: 0.85rem;
        }

        a {
            color: rgba(var(--body-text), 1);
            font-weight: bold;
        }
    }
}