@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/screenwidth' as *;


.nav {
    position: relative;
    width: 100%;
    padding:1.5rem 0;
    background-color: rgba(var(--header-navigation-bg), 1);
    color:rgba(var(--header-navigation-text), 1);

    z-index: 5;

    @media (max-width:60rem) {
        padding:1.25rem 1rem;
    }

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width:60rem) {
            padding:0.75rem 0;
        }
    }

    &__logo {
        display: inline-flex;
        align-items: center;
        gap:0.65rem;

        &__circle {
            width:18px;
            height: 18px;
            border-radius: 50%;

            &-one {
                background-color:rgba(var(--header-navigation-circle-one), 1);
            }
            &-two {
                background-color:rgba(var( --header-navigation-circle-two), 1);
            }
        }
    }

    &__menu {
        margin:0;
        padding:0;
        list-style: none;

        display: flex;
        align-items: center;
        gap:0 6px;

        @media (max-width:$max-md) {
            display: none;
        }

        &__item {
            a {
                display: inline-flex;
                align-items: center;
                text-decoration: none;
                padding:9px 16px;
                border-radius: 30px;
                color:rgba(var(--header-navigation-text), 1);

                font-size: var(--text-md);
                transition: 0.5s;
                border:2px solid rgba(var(--header-navigation-text), 0.1);

                &:hover {
                    background-color: rgba(var(--header-navigation-text), 0.1);
                }
            }
            &-active {
                a {
                    border-color: transparent;
                    background-color: rgba(var(--header-navigation-text), 0.1);
                }
            }
        }
    }

    &__button {
        margin-inline-start: 12px;
        display: inline-flex;
        align-items: center;
        gap:0.65rem;

        button {
            cursor: pointer;

            display: inline-flex;
            align-items: center;
            justify-content: center;

            width:40px;
            height: 40px;
            border:0;

            border-radius: 50%;

            svg {
                width: 18px;
                height: 18px;
            }

            &.btn-nav {
                border:2px solid rgba(var(--header-navigation-text), 1);
                background:transparent;

                color:var(--header-navigation-link);

                transition: all 500ms cubic-bezier(0.230, 1.000, 0.320, 1.000);

                &.is-actived {
                    transform: rotate(90deg);
                    background-color: rgba(#111, 0.1);
                }
            }

            &.btn-dark {
                background-color:rgba(var(--header-navigation-text), 1);
                color:rgba(var(--header-navigation-bg), 1);
            }
        }
    }

    &__additional {
        position: relative;
        margin-top:0;

        display: none;

        align-items: center;
        justify-content: flex-end;

        &.is-shown {
            display: flex;
            margin-top: 2.5rem;
        }

        &__links {
            width: fit-content;

            display: flex;
            align-items: center;
            flex-wrap: wrap;
            list-style: none;
            margin:0;
            padding:0.5rem;

            gap:0 4px;
            border-radius: 30px;

            background-color:rgba(var(--header-navigation-text), 1);
            color:rgba(var(--header-navigation-bg), 1);

            @media (max-width:$max-lg) {
                border-radius: 6px;
                gap:6px;
            }

            &::after {
                content:'';
                position: absolute;
                right:68px;
                top:-28px;

                width: 0;
                height: 0;
                border-width: 0 0 28px 28px;
                border-color: transparent transparent rgba(var(--header-navigation-text), 1) transparent;
                border-style: solid;
            }

            li {
                a {
                    display: inline-flex;
                    align-items: center;
                    color:rgba(var(--header-navigation-bg), 1);
                    text-decoration: none;

                    padding:8px 16px;
                    border-radius: 30px;
                    transition: 0.5s;
                    &:hover {
                        background-color: rgba(#fff, 0.25);
                    }
                    @media (max-width:$max-lg) {
                        border-radius: 6px;
                    }
                }
            }
        }
    }
}