.nav {
   position: sticky;
   left: 0;
   top: 0;
   width: 100%;
   z-index: 4;
   padding: 1.25rem 2rem;

   background-color: rgba(var(--bg-card), 1);
   border-top: 3px solid rgba(var(--accent), 1);
   box-shadow: rgba(var(--heading-text), 0.15) 1.95px 1.95px 2.6px;

   backdrop-filter: blur(4px);
   transition: 0.4s;

   &.with-hero {
      background-color: rgba(var(--bg-card), 0.1);
      border-bottom: 2px solid rgba(var(--bg-card), 0.25);
   }

   &:not(.with-hero) {
      ul {
         li {
            a {
               color:rgba(var(--heading-text), 1);
            }
            &.actived {
               a {
                  background-color: rgba(var(--heading-text), 0.1);
               }
            }
         }
      }
   }

   &.fade-in {
      background-color: rgba(var(--bg-card),1 );

      ul {
         li {
            a {
               color:rgba(var(--heading-text), 1);
            }
            &.actived {
               a {
                  background-color: rgba(var(--heading-text), 0.1);
               }
            }
         }
      }
   }

   &__hamburger {
       cursor: pointer;

       width:3rem;
       height: 3rem;
       display: inline-flex;
       align-items: center;
       justify-content: center;

       background-color:rgba(var(--accent), 1);
       color:rgba(var(--bg-card), 1);

       border:0;

       padding:0.85rem;
       border-radius: 50%;

       &--close {
         position: absolute;
         right: 0;
         top: 0;
         margin: 1.25rem;
       }

       &:not(.is-visible) {
         visibility: hidden;
         opacity: 0;
         pointer-events: none;
       }
   }

   &__inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 68rem;
      margin: 0 auto;

      ul {
         display: flex;
         align-items: center;
         list-style: none;
         margin: 0;
         padding: 0;

         li {
            @media (max-width:60rem) {
               &:not(.home) {
                  display: none;
               }
            }

            & + li {
               margin-left: 0.75rem;
            }

            a {
               display: inline-flex;
               align-items: center;
               color: rgba(var(--header-link-color), 1);
               padding: 0.5rem 0.75rem;

               border-radius: 8px;

               text-decoration: none;
               transition: 0.5s;

               svg {
                   margin-right: 0.5rem;
                   width:18px;
                   height: 18px;
               }

               &:hover {
                  background-color: rgba(var(--header-link-color), 0.1);
               }
            }

            &.actived {
               a {
                  font-weight: bold;
                  background-color: rgba(var(--header-link-color), 0.1);
               }
            }
         }
      }
   }
}
