.modal {
   position: fixed;
   left: 0;
   top: 0;
   background: rgba(#f9f9f9, 0.95);
   background-image: url("https://static.tumblr.com/5ojoydj/XCmo5xbcq/geometry__2x.png");
  
   background-repeat: repeat;
   background-attachment: fixed;

   width: 100%;
   height: 100vh;

   z-index: 999999;

   display: flex;
   flex-direction: column;
   align-items: center;
   // justify-content: flex-start;

   opacity: 0;
   visibility: hidden;
   overflow-y: auto;
   transition: 0.4s cubic-bezier(0.87, 0, 0.13, 1);

   &.is-center {
      justify-content: center;
   }

   &__inner {
      display: grid;
      grid-template-columns: 1fr 1fr minmax(auto, 60rem) 1fr 1fr;
      margin: 3.5rem 1rem;

      &:focus {
         outline: 3px solid red;
      }

      .posts {
         grid-column: 3/4;
         background-color: var(--bg-card);
         font-family: var(--body-font);
         position: relative;
         overflow: hidden;
         border-radius: 8px;

         border: 1px solid rgba(0, 0, 0, 0.1);

         box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.05);

         &__view, &__user, &__date {
             display: none;
         }

         &__text {
            @media (min-width:60rem) {
               margin:0 4.5rem;
            }
         }

         &__img, &__music {
             .posts__inner {
                position: relative;
                display: grid;
                grid-template-columns: 30rem auto;
                min-height: 500px;

                @media (max-width:60rem) {
                   grid-template-columns: 1fr;
                }
             }
         }

         &__audio {
            position: relative;
            border-right:1px solid rgba(0, 0, 0, 0.15);

            &--album {
               position: relative;
               height: 0;
               padding-bottom: 100%;

            //    filter: blur(10px);

               img {
                  position: absolute;
                  left: 0;
                  top: 0;

                  width: 100%;
                  height: 100%;
                  object-fit: cover;
               }
            }
            &--info {
               position: absolute;
               left:0;
               bottom:0;

               display: flex;
               align-items: center;

               width: 100%;
               height: auto;

               padding: 0.5rem 1rem;
               z-index: 2;

               background-color: rgba(0, 0, 0, 0.85);
               color: white;

               svg {
                  margin-right: 0.5rem;
               }

               > div {
                  overflow: hidden;
                  white-space: nowrap;
                  text-overflow: ellipsis;
               }
            }

            &--player {
               position: absolute;
               display: flex;
               align-items: center;
               justify-content: center;

               width: 100%;
               height: 100%;

               z-index: 1;
               transition: 0.5s;

               .btn-play {
                  cursor: pointer;

                  display: inline-flex;
                  align-items: center;
                  justify-content: center;

                  width: 75px;
                  height: 75px;

                  font-size: 2rem;
                  color: white;

                  background-color: rgba(#111, 0.945);
                  border: 2px solid #111;

                  border-radius: 50%;
                  transition: 0.5s;

                  &:hover {
                     transform: scale(0.9);
                  }

                  @media (max-width: 60rem) {
                     width: 60px;
                     height: 60px;
                  }
               }
            }
         }

         &__image {
            position: relative;
            height: 0;
            padding-bottom: calc(100% + 35px);

            img {
               position: absolute;
               left: 0;
               top: 0;

               width: 100%;
               height: 100%;
               object-fit: cover;
            }
         }

         &__question {
            background-color: #eee;
            padding: 2.5rem 2.5rem;
            font-size: 1.25rem;

            &--asker {
               width: 100%;
               display: inline-flex;
               align-items: center;

               svg {
                  margin-right: 0.5rem;
               }

               a {
                  color: var(--body-link);
                  font-weight: bold;
                  margin-right: 0.25rem;
               }
            }
         }

         &__answer {
            position: relative;
            padding: 2.5rem 2.5rem;

            color: var(--body-text);

            p + p {
               margin-top: 1rem;
            }
         }

         &__quote {
            padding: 2.5rem;
            font-size: 1.85rem;
            font-weight: 600;
            font-family: var(--heading-font);

            cite {
               display: block;
               font-weight: normal;
               font-family: var(--body-font);

               font-size: 1rem;
               margin-top: 1rem;
            }
         }

         &__body {
            padding: 3rem 2.5rem;
            color: var(--body-text);
            
            p + p {
               margin-top: 1rem;
            }

            h1,h2,h3,h4,h5,h6 {
               color:var(--heading-text);
               font-family: var(--heading-font);
            }

            h1 {
               margin-bottom: 1rem;
               font-size: 1.6rem;
            }

            h2 {
               margin-bottom: 0.5rem;
               font-size: 1.25rem;
            }

            ol,
            ul {
               margin: 1.5rem 0;
               padding: 0;

               li {
                  margin-left: 1rem;
               }
            }

            a {
               color: var(--posts-link);
            }
         }
      }
   }

   &__close {
      position: fixed;
      right: 3rem;
      top: 2rem;
      z-index: 930945045;

      cursor: pointer;

      display: inline-flex;
      align-items: center;

      background-color: #40BF8C;
      color:var(--bg-card);
      border:0;
      padding:1rem 1rem;
      border-radius: 50%;

      @media (max-width: 40rem) {
         right: 0 !important;
         top: 0 !important;
      }

      &:focus {
         outline: 3px solid #ccc;
      }
   }

   &.is-appear {
      visibility: visible;
      opacity: 1;
   }

   .btn-post {
      display: none;
   }
}
