:root {
    --heading-font:'Source Serif Pro', serif;
    --body-font: 'Inter', sans-serif;
    --code-font:'Oxygen Mono', monospace;
    
    --white:255, 255, 255;

    --accent:64, 191, 140;

    // light
    --bg-color:242, 242, 242;
    --bg-card:255, 255, 255;

    --heading-text:17,17,17;
    --body-text:68,68,68;
    --hero-text:255, 255, 255;

    --body-link:17,17,17;


    // dark
    // --bg-color: 0,0,0;
    // --bg-card: 34,34,34;

    // --heading-text: 238,238,238;
    // --body-text: 246,246,246;
    // --hero-text: 238,238,238;

    // --body-link: 204,204,204;
}