:root {
    --heading-font:'Source Serif Pro', serif;
    --body-font: 'Favorit', sans-serif;
    --code-font:'Oxygen Mono', monospace;
    
    --white:#fff;

    --primary-color:#40BF8C;

    --bg-color:#F2F2F2;
    --bg-card:#fff;

    --heading-text:#111;
    --body-text:#555;
    --body-link:#111;
}