.footer {
    margin-top: 6.5rem;
    padding:3.5rem;
    background-color: var(--bg-card);
    color:var(--body-text);

    &__inner {
        max-width: 65rem;
        margin: 0 auto;

        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width:60rem) {
            flex-direction: column;
            justify-content: center;
        }
    }

    &__credit {
        a {
            color:var(--body-link);
        }
        @media (max-width:60rem) {
            margin-top: 0.85rem;
        }
    }
}