:root {
    --heading-font:'Source Serif Pro', serif;
    --body-font: 'Source Sans Pro', sans-serif;
    --code-font:'Oxygen Mono', monospace;
    
    --white:#fff;

    --bg-color:#F2F2F2;
    --bg-card:#fff;
}