@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/screenwidth' as *;

.posts {
  position: relative;
  overflow: clip;
  // margin: var(--space-l) 0;
  background-color: rgb(var(--bg-card));
  color: rgb(var(--body-text));

  border-radius: 6px;

  .posts-trail {
    &-legacy {
      >.tmblr-full {
        img {
          width: 100%;
          border-radius: 8px;
        }
      }
    }

    &-body {
      :where(npf_row .npf_col figure p.tmblr-attribution, .tmblr-full .link-url, .tmblr-full .post_media_photo_anchor + p.tmblr-attribution, .attribution-block) {
        position: relative;
        width: 100%;
        padding: var(--space-2xs) var(--space-xs);
        margin-top: calc(-3.5*var(--space-2xs));
        background: rgba(var(--heading-text), 1);
        font-size: calc(0.85*var(--step--2));
        display: block;
        color: rgba(var(--bg-card), 1);
        text-decoration: none;
        border-radius: 0 0 8px 8px;

        z-index: 1;
        text-wrap: nowrap;
      }

      h1 {
        font-size: var(--step-2);
      }

      h2 {
        font-size: var(--step-1);
      }
    }

    &-item {
      display: grid;
      grid-template-columns: min(30rem, 100%) minmax(0, 1fr);
      align-items: flex-start;
    }

    &-blog {
      position: sticky;
      top: 0;

      display: flex;
      align-items: center;
      gap: var(--space-2xs);
      margin-bottom: var(--space-2xs);
      padding: var(--space-xs) 0;
      text-decoration: none;
      color: rgb(var(--title));

      &::before {
        content: '';
        width: 1rem;
        aspect-ratio: 1/1;

        background-color: rgba(var(--heading-text), 1);
        border-radius: 50%;
      }

      .avatar {
        display: none;
        width: 36px;
        height: 36px;

        border-radius: 50%;
      }
    }

    &-content {
      >* {
        margin: var(--space-xs) 0;
        padding: 0 var(--space-xs);
      }

      a:not([class]) {
        color: rgba(var(--body-link), 1);
        font-weight: bold;
      }

      .npf_row {
        img {
          border-radius: 8px;
        }
      }

      ul {
        margin: 0 var(--space-xs) !important;
      }

      ol {
        margin: 0 var(--space-m) !important;
      }
    }
  }

  &.posts-text {
    grid-column: 1/-1;
  }

  &:not(.posts-text) {
    aspect-ratio: 1/1;
    overflow: hidden;
    margin: 0;

    &.expanded {
      grid-column: span 2;
      aspect-ratio: 2.085/1;
    }

    .posts-trail {
      &-item {
        display: unset;
      }

      &-blog {
        position: absolute;
        left: 0;
        top: 0;

        width: 100%;
        z-index: 1;
        padding: var(--space-xs) var(--space-xs);
      }

      &-legacy {
        figure.tmblr-full {
          aspect-ratio: 1/1;
          width: 100%;
          height: 100%;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        + * {
          display: none;
        }
      }

      &-content {
        >* {
          margin: 0;
          padding: 0;
        }

        .posts-trail-legacy ~ .npf_row {
          ~ * {
            display: none;
          }
          figure.tmblr-full {
            aspect-ratio: 1/1;
            width: 100%;
            height: 100%;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: top;
            }
          }
        }
      }
    }
  }
}