@use '../abstracts/variables' as *;
@use '../abstracts/screenwidth' as *;
@use '../abstracts/mixins' as *;

@use '../base/animations' as *;
@use "sass:math";

.d {
    &-none {
        display: none;
    }
    &-block {
        display: block;
    }
    &-unset {
        display: unset;
    }
}

* {
   -webkit-tap-highlight-color: rgba(0,0,0,0);
   &:active {
      -webkit-tap-highlight-color: rgba(0,0,0,0);
   }
}

.tmblr-lightbox {
   backdrop-filter: blur(12px);
   .lightbox-image {
      max-width:none;
   }
}

body {
    font-family: var(--body-font);
    background-color: rgba(var(--bg-color), 1);

    &[data-blog-style="masonry"] {
      &.is-three-column {
         .container--width-xl {
            max-width: 1280px;
         }
         .wrapper {
            &__featured {
               @media (min-width:$min-lg) {
                  margin-left: -120px;
                  
                  &__slideshow .tns-inner {
                     margin-right:420px !important;
                  }
               }
            }
            &__blog, .pagination {
               @media (min-width:$min-lg) {
                  margin:0 -120px;
               }
            }
            &__back-to-top {
               margin-left: 120px;
            }
         }
         .grid-sizer {
            width: calc(33.333% - 20px);
            @media (max-width:1400px) {
                width: calc(50% - 20px);
            }
            @media (max-width:768px) {
                width: 100%;
            }
        }
        .posts {
            float: left;
            width: calc(33.333% - 20px);
            margin-bottom: 30px!important;
            @media (max-width:1400px) {
               width: calc(50% - 20px);
            }
            @media (max-width:768px) {
               width: 100%;
            }
         }
      }
      &.is-two-column {
         .wrapper {
            .pagination {
               @media (min-width:$min-lg) {
                  margin:0 -60px;
               }
            }
            &__featured {
               @media (min-width:$min-lg) {
                  margin-left: -60px;
                  &__slideshow .tns-inner {
                     margin-right: 300px !important;
                  }
               }
            }
            &__blog {
               @media (min-width:$min-lg) {
                  margin:0 -60px;
               }
               .grid-sizer {
                  width: calc(50% - 20px);
                  @media (max-width:1400px) {
                     width: calc(50% - 20px);
                  }
                  @media (max-width:768px) {
                     width: 100%;
                  }
            }
            .posts {
                  float: left;
                  width: calc(50% - 20px);
                  margin-bottom: 30px!important;
                  @media (max-width:1400px) {
                     width: calc(50% - 20px);
                  }
                  @media (max-width:768px) {
                     width: 100%;
                  }
               }
            }
            &__back-to-top {
               margin-left: 60px;
            }
         }
      }
    }

    &.is-scrollbar {
      &::-webkit-scrollbar, *::-webkit-scrollbar {
         width: 6px;
      }
      
      &::-webkit-scrollbar-thumb, *::-webkit-scrollbar {
         background-color: rgba(var(--accent), 1);
         border-radius: 5px;
      }
    }
}

html {
   scroll-behavior: smooth;
}

pre {
   max-width: 100%;
   overflow: hidden;
    white-space: pre-line;
    word-break: keep-all;
}

/* sparkling stars */
@keyframes comeInOut {
   0% {
       transform: scale(0);
   }

   50% {
       transform: scale(1);
   }

   100% {
       transform: scale(0);
   }
}

@keyframes spin {
   0% {
       transform: rotate(0deg);
   }

   100% {
       transform: rotate(180deg);
   }
}

.sparkling {
   position: relative;
   z-index: 0;
   overflow: visible;

   >span {
       z-index: -1;
       position: absolute;
       display: block;
       animation: comeInOut 700ms forwards;

       >svg {
           display: block;
           animation: spin 1000ms linear;
       }
   }
}

.wrapper {
   position: relative;
   border-radius: 12px;

   background-color: rgba(var(--bg-post-color), 1);

   @media (max-width:$max-md) {
      margin-top: 80px!important;
   }

   &__hero {
      position: relative;
      background-color: rgba(var(--hero-bg), 1);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-attachment: fixed;

      padding:3.5rem 1rem;
      border-radius: 12px 12px 0 0;
  
      min-height: var(--hero-height);
  
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      &[style] {
          .wrapper__hero__overlay {
              width: 100%;
              height: 100%;
              background-color: rgba(var(--hero-overlay), var(--hero-overlay-level));
  
              position: absolute;
              inset: 0;
              border-radius: 12px 12px 0 0;
          }
      }

      &__socmed {
         display: flex;
         align-items: center;
         flex-wrap: wrap;
         justify-content: center;
         gap: 0.65rem;
         list-style: none;
         margin: 0;
         margin-inline-start: 1rem;
         padding:0;
         -webkit-border-radius: 0 0 14px 14px;
         -moz-border-radius:  0 0 14px 14px;
         border-radius:  0 0 14px 14px;
   
         li {
           margin: 0;
   
           a {
             display: inline-flex;
             align-items: center;
             justify-content: center;

             text-decoration: none;
             font-size: 18px;
             background:rgba(var(--social-media-btn), 1);
             box-shadow:rgba(255, 255, 255, 0.2) 0px 2px 0px 0px inset, rgba(0, 0, 0, 0.25) 0px -1px 0px 1px inset, rgba(0, 0, 0, 0.1) 0px 2px 6px 0px;
             background: linear-gradient(180deg,rgba(var(--social-media-btn), 1) 0%, rgba(var(--social-media-btn), 0.75) 100%);
             color: rgba(var(--social-media-btn-text), 1);
             padding:1rem;
             -webkit-border-radius: 50%;
             -moz-border-radius: 50%;
             border-radius: 50%;

             transition: 0.3s;

             &:hover {
               background:rgba(var(--social-media-btn-hover), 1);
               color: rgba(var(--social-media-btn-text-hover), 1);
             }
   
             svg {
               width: 18px;
               height: 18px;
               vertical-align: middle;
   
               fill: currentColor;
             }
           }
         }
      }

      &__avatar {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        
        max-width: 100px;
        margin:1rem auto 1rem auto;

        #avatar {
           border-radius: 50%;
           padding: 8px;
           background-color: rgba(var(--bg-card), 1);
           img {
            border-radius: 50%;
           }
           &.avatar-square {
            border-radius: 8px;
            img {
               border-radius: 8px;
            }
           }
        }
      }
      
      &__acc {
         position: absolute;
         left:100%;
         bottom:0;
         width: max-content;
         margin: -20px 0 0 -30px;
         padding: 6px;
         background: #ec5a5a;
         color:#fff;

         border-radius: 30px;
         border:1px solid rgba(0, 0, 0, 0.15);
         box-shadow: rgba(0,0,0,.1) 0px 1px 3px 0px,rgba(0,0,0,.06) 0px 1px 2px 0px;

         display: flex;
         align-items: center;
         justify-content: center;

         width: 38px;
         height: 38px;
         overflow: hidden;
         transition: 0.5s;

         cursor:help;

         &-icon {
            font-size: 18px;
         }
         
         &-text {
            white-space: nowrap;

            width: 0;
            opacity: 0;

            font-size: 12px;
         }

         &:hover {
            width: auto;
            max-width: 200px;
            padding-left: 12px;
            .wrapper__hero__acc-text {
               width: auto;
               opacity: 1;
               margin-left: 4px;
               margin-right: 6px;
            }
         }
      }
      
      &__inner {
          position: relative;
          text-align: center;
          max-width: calc(1200px/2);
          margin: 0 auto;
  
          z-index: 2;
  
          h1,h2 {
              font-size: 2.85rem;
              @media (max-width:$max-lg) {
                  font-size:2.35rem;
              }
          }
  
          :where(h1,h2,h3,h4,h5) {
              font-family: var(--title-font);
              font-weight: var(--title-font-weight);
          }
  
          :where(h1,h2,h3,h4,p) {
              margin: 1rem 0;
              color: rgba(var(--hero-color), 1);
          }
  
          .btn__wrapper {
              justify-content: center;
              gap:0;
              @media (max-width:$max-md) {
               gap:1.25rem;
              }
          }
      }
      &::after {
         content: '';
         width: 100%;
         height:300px;
         position: absolute;
         left: 0;
         bottom: 0;
         background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) .01%, rgba(255,255,255,0) .02%, rgba(var(--bg-post-color), 1) 99.99%, rgba(var(--bg-post-color), 1) 100%);
      }
   }
   &__inner {
      position: relative;
      display: grid;
      grid-template-columns: 1fr min(60rem, 100%) 1fr;
      align-items: start;

      padding-bottom: calc(var(--padding-lg)*3);
      @media (max-width:$max-md) {
         padding-left:calc(var(--padding-lg)*0.5);
         padding-right:calc(var(--padding-lg)*0.5);
      }
   }
   &__featured {
      display: grid;
      grid-template-columns: 25rem minmax(0, 1fr);
      gap:3rem;
      grid-column: 2/4;

      padding:calc(var(--padding-lg)*1) 0 calc(var(--padding-lg)*3) 0;

      @media (max-width:$max-md) {
         grid-template-columns:minmax(0, 1fr);
         gap:1rem;
      }

      &__content {
         color: rgba(var(--body-text), 1);
         :where(h1,h2) {
            font-size: var(--text-xl);
            font-family: var(--heading-font);
            margin-bottom: 1rem;
            color: rgba(var(--heading-text), 1);
         }
      }

      &__controls {
         position: relative;
         display: flex;
         align-items: center;
         gap:12px;

         list-style: none;
         margin:0;
         padding:0;

         width: 100%;
         z-index: 2;
         li {
            &[aria-disabled="true"] {
              button {
               cursor: not-allowed;
               opacity: 0.25;
              }
            }
         }
         button {
            cursor: pointer;
            border:0;

            font-size: 2rem;
            padding:0;
            border:0;
            width: 40px;
            height: 40px;
            border-radius: 50%;

            display: inline-flex;
            align-items: center;
            justify-content: center;

            background-color: rgba(var(--btn-primary), 1);
            box-shadow:rgba(255, 255, 255, 0.2) 0px 2px 0px 0px inset, rgba(0, 0, 0, 0.25) 0px -1px 0px 1px inset, rgba(0, 0, 0, 0.1) 0px 2px 6px 0px;
            background: linear-gradient(180deg,rgba(var(--btn-primary), 1) 0%, rgba(var(--btn-primary), 0.75) 100%);
            color:rgba(var(--btn-text-primary), 1);

            transition: 0.25s;

            &:hover {
                background: linear-gradient(180deg,rgba(var(--btn-primary-hover), 1) 0%, rgba(var(--btn-primary-hover), 0.75) 100%);
               background-color: rgba(var(--btn-primary-hover), 1);
               color:rgba(var(--btn-text-primary-hover), 1);
            }

            
            @media (max-width:$max-md) {
               width: 35px;
               height: 35px;
               font-size: 1rem;
            }

            &[data-controls="prev"] {
               position: absolute;
               left: 1rem;
            }

            &[data-controls="next"] {
               position: absolute;
               right: 1rem;
            }
            
            &[disabled] {
               opacity: 0;
               visibility: hidden;
            }
         }
      }

      &__slideshow {
         position: relative;
         overflow: hidden;
         .tns-inner {
            @media (min-width:$min-lg) {
               margin-right: 250px!important;
            }
         }
         .slideshow {
            display: flex;

            &-item {
               > a {
                  text-decoration: none;
                  color:rgba(var(--body-text), 1);
               }
            }

            &__item {
               position: relative;
               aspect-ratio: 1/1;
               overflow: hidden;
               border-radius: 8px;
               z-index: 2;
               border:1px solid rgba(var(--border-color), 1);
               background-color: rgba(var(--bg-card), 1);
               box-shadow: rgba(0,0,0,.1) 0px 1px 3px 0px,rgba(0,0,0,.06) 0px 1px 2px 0px;

               margin-bottom: 12px;
               margin-top: 12px;

               transition: 0.3s;

               &:hover {
                  transform: translateY(-8px);
               }

               figure.tmblr-full {
                  padding:0;
               }

               .npf-link-block {
                  height: 140px;
                  .poster {
                     height: 85px;
                     .title {
                        font-size: 15px;
                        line-height: 1;
                     }
                  }
                  .bottom {
                     .description {
                        font-size: 12px;
                        line-height: 1;
                     }
                     .site-name {
                        font-size: 11px;
                        line-height: 1;
                     }
                  }
               }

               .npf_video {
                  position: absolute;
                  left: 0;
                  top: 0;
                  width: 100%;
                  height: 100%;
                  .npf-video-block {
                     width: 100%;
                     height: 100%;

                     background-repeat: no-repeat;
                     background-position: center;
                     background-size: cover;
                     
                     display: flex;
                     align-items: center;
                     justify-content: center;
                     &::before {
                        content:'';
                        width: 100%;
                        height: 100%;
                        background-color: rgba(0, 0, 0, 0.5);

                        position: absolute;
                        left: 0;
                        top:0;
                        z-index: 2;
                     }
                     > i {
                        position: relative;
                        z-index: 2;

                        display: inline-flex;
                        align-items: center;
                        justify-content: center;

                        width: 65px;
                        height: 65px;
                        font-size: 30px;

                        border-radius: 50%;

                        text-decoration: none;
                        z-index: 2;

                        background-color: rgba(var(--btn-primary), 1);
                        color:rgba(var(--btn-text-primary), 1);

                        transition: 0.5s;
                     }
                     &:hover > i {
                        transform: scale(1.25);
                     }
                  }
               }

               div[class*="npf_row"] {
                  position: relative;
                  z-index: 1;
                  margin:-1rem;
                  > *:not(:first-child) {
                     display: none;
                  }
                  figure.tmblr-full {
                     img {
                        aspect-ratio: 1/1;
                        object-fit: cover;
                        height: 100%;
                        width: 100%;
                     }
                  }
               }

               figure.is-photo {
                  width: 100%;
                  height: 100%;
                  img {
                     aspect-ratio: 1/1;
                     object-fit: cover;
                     object-position: top;
                     height: 100%;
                  }
               }

               &__source {
                  position: absolute;
                  left:0;
                  bottom:0;
                  padding:2ch;

                  width: 100%;
                  height: auto;
                  background: linear-gradient(180deg, rgba(255,255,255,0) 0%, #000 100%);
                  color:#fff;
                  &-username {
                     display: flex;
                     align-items: center;
                     gap:8px;
                     img {
                        width: 30px;
                        height: 30px;

                        border-radius: 6px;
                     }
                     
                     span {
                        font-weight: bold;
                     }
                  }

                  &-date {
                     margin-top: 1rem;
                  }
               }

               &__inner {
                  position: relative;
                  padding:2rem;
                  height: calc(100% - 0px);
                  overflow: hidden;

                  &.npf-image {
                     .trail-item {
                        .trail-item-username {
                           position: absolute;
                           z-index: 2;
                           bottom: 0;
                           left: 0;
                           margin:0;

                           width: 100%;
                           color: white;
                           padding: 2ch;
                           background: linear-gradient(180deg, rgba(255,255,255,0) 0%, #000 100%);
                        }
                        div[class*="npf_row"] {
                           position: absolute;
                           left:0;
                           top:0;
                           z-index: 1;
                           > *:not(:first-child) {
                              display: none;
                           }
                           figure.tmblr-full {
                              img {
                                 aspect-ratio: 1/1;
                                 object-fit: cover;
                                 height: 100%;
                                 width: 100%;
                              }
                           }
                        }
                     }
                  }

                  &.npf-audio {
                     &::after {
                        display: none;
                     }
                     .trail-item {
                        .trail-item-username {
                           display: none;
                        }
                        ~ .slideshow__item__inner-content {
                           display: none;
                        }
                     }
                     .npf-audio-inner {
                        .audio-caption {
                           position: absolute;
                           left: 0;
                           top: 0;
                           width: 100%;
                           height: 100%;

                           display: flex;
                           align-items: center;
                           justify-content: center;
                           i.las.la-play {
                              position: relative;
                              z-index: 2;
      
                              display: inline-flex;
                              align-items: center;
                              justify-content: center;
      
                              width: 65px;
                              height: 65px;
                              font-size: 30px;
      
                              border-radius: 50%;
      
                              text-decoration: none;
                              z-index:3;
      
                              background-color: rgba(var(--btn-primary), 1);
                              color:rgba(var(--btn-text-primary), 1);
      
                              transition: 0.5s;
                           }
                           .audio-details {
                              position: absolute;
                              left: 0;
                              bottom: 0;
                              width: 100%;
                              height: auto;

                              display: flex;
                              align-items: center;
                              flex-direction: column;
                              justify-content: flex-end;
                              
                              background: linear-gradient(180deg, rgba(255,255,255,0) 0%, #000 100%);
                              z-index: 2;
                              padding:1rem;
                              color:white;

                              > span {
                                 display: block;
                                 width: 100%;
                              }

                              .title {
                                 font-size: 1.25rem;
                                 font-weight: bold;
                              }
                           }
                           .album-cover {
                              position: absolute;
                              left: 0;
                              top: 0;
                              aspect-ratio: 1/1;
                              width: 100%;
                              height: 100%;
                           }
                        }
                     }
                  }

                  &::after {
                     content:'';
                     width: 100%;
                     height: 100px;
                     position: absolute;
                     left:0;
                     bottom:0;
                     background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(var(--bg-card), 1) 100%);
                  }
                  
                  h1 {
                     font-size: calc(var(--text-xl)*0.99);
                     font-family: var(--heading-font);
                     line-height: 1.25;
                     margin:0.5rem 0;
                  }
                  h2 {
                     font-size: var(--text-lg);
                     margin:0.5rem 0;
                  }

                  a {
                     color:rgba(var(--body-text), 1);
                     font-weight: bold;
                  }
                  
                  blockquote {
                     margin-bottom: 15px;
                     &.trail-item {
                        &:not(:nth-child(-n+3)) {
                           display: none;
                           div[class*="npf_row"] {
                              display: none;
                           }
                        }
                        ~ .slideshow__item__inner-content {
                           display: none;
                        }
                     }
                     .trail-item-username {
                        font-weight: bold;

                        display: flex;
                        align-items: center;
                        gap:12px;
                        margin-bottom: 6px;
                     }
                     .trail-item-avatar {
                        width: 30px;
                        height: 30px;

                        border-radius: 6px;
                     }
                     &:first-child:has(.npf_row) {
                        
                     }
                  }

                  &-content {
                     
                  }
               }

               &__question {
                  padding:2rem;
                  background-color: rgba(var(--accent), 1);
                  color:rgba(var(--bg-card), 1);
                  height: 100%;

                  display: flex;
                  flex-direction: column;
                  justify-content: space-between;

                  font-size: 18px;
                  font-family: var(--heading-font);

                  &-icon {
                     font-size: 40px;
                  }

                  > a:first-child {
                     display: flex;
                     flex-direction: column;
                     height: 100%;
                     .slideshow__item__question-icon {
                        margin-bottom: auto;
                     }
                  }

                  a {
                     text-decoration: none;
                     color:rgba(var(--bg-card), 1);;
                  }
               }

               &__quote {
                  padding:2rem;
                  background-color: rgba(var(--bg-card), 1);
                  color:rgba(var(--body-text), 1);
                  height: 100%;

                  display: flex;
                  flex-direction: column;
                  justify-content: space-between;

                  font-size: 22px;
                  font-family: var(--heading-font);

                  &-icon {
                     font-size: 48px;
                  }

                  &-source {
                     margin-top: auto;
                     font-size: 14px;
                     font-family: var(--body-font);
                     font-weight: bold;
                  }

                  > a:first-child {
                     display: flex;
                     flex-direction: column;
                     height: 100%;
                     .slideshow__item__question-icon {
                        margin-bottom: auto;
                     }
                  }

                  a {
                     text-decoration: none;
                     color:rgba(var(--body-text), 1);
                  }
               }
            }
         }
      }
   }
   &__content {
      position: relative;
      width: 100%;
      grid-column: 2;
      @media (min-width:$min-lg) {
         width: var(--blog-width);
      }
   }
   &__back-to-top {
      position: sticky;
      top:calc(100vh - 80px);

      display: flex;
      justify-content: center;
      padding:1.5ch 2ex;

      @media (max-width:$max-md) {
         display: none;
      }

      &__btn {
         display: inline-flex;
         align-items: center;
         justify-content: center;

         width: 45px;
         height: 45px;

         border-radius: 50%;

         text-decoration: none;
         z-index: 2;

         background-color: rgba(var(--btn-primary), 1);
         box-shadow:rgba(255, 255, 255, 0.2) 0px 2px 0px 0px inset, rgba(0, 0, 0, 0.25) 0px -1px 0px 1px inset, rgba(0, 0, 0, 0.1) 0px 2px 6px 0px;
         background: linear-gradient(180deg,rgba(var(--btn-primary), 1) 0%, rgba(var(--btn-primary), 0.75) 100%);
         color:rgba(var(--btn-text-primary), 1);
      }
   }
   &__footer {
      position: relative;
      min-height: var(--footer-height);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      background-position: center;
      border-radius: 0 0 12px 12px;

      padding:0 1rem;

      display: flex;
      align-items: center;
      justify-content: center;
      
      &::before {
         content: '';
         width: 100%;
         height:250px;
         position: absolute;
         left: 0;
         top: 0;
         background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) .01%, rgba(255,255,255,0) .02%, rgba(var(--bg-post-color), 1) 99.99%, rgba(var(--bg-post-color), 1) 100%);
      }

      &__additional {
         position: relative;
         z-index: 3;

         h2 {
            font-size: var(--text-xl);
            text-align: center;
            margin-bottom: 1.65rem;

            color: rgba(var(--heading-text), 1);
            -webkit-text-stroke: 1px rgba(var(--bg-card), 1);
         }

         ul {
            list-style: none;

            display: flex;
            align-items: center;
            list-style: none;
            flex-wrap: wrap;
            padding:1rem;
            margin:0;
            gap:0.5rem;

            border-radius: 30px;

            background-color: rgba(var(--bg-card), 1);
            color: rgba(var(--body-text), 1);

            overflow: hidden;
            
            border:1px solid rgba(var(--border-color), 1);
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

            li {
                a {
                    display: inline-flex;
                    align-items: center;

                    text-decoration: none;
                    padding:4px 12px;
                    border-radius: 30px;

                    font-size: 0.99rem;
                    
                    background-color:rgba(var(--header-navigation-text), 1);
                    color:rgba(var(--header-navigation-bg), 1);
                    border:2px solid rgba(var(--header-navigation-text), 1);
                    transition: 0.35s;

                    &:hover {
                        background-color: transparent;
                        color:rgba(var(--header-navigation-text), 1);
                    }
                }
            }
        }
      }
   }
}

.pagination {
   display: flex;
   align-items: center;
   justify-content: space-between;

   position: relative;
   background-color:rgba(var(--bg-card), 1);
   color: rgba(var(--body-text), 1);
   border-radius: 5px;
   border: 1px solid rgba(0,0,0,.1);
   padding:1rem 1rem 1rem 1.5rem;
   box-shadow: rgba(0,0,0,.1) 0px 1px 3px 0px,rgba(0,0,0,.06) 0px 1px 2px 0px;

   margin-top: 3rem !important;

   @media (max-width:$max-md) {
       flex-direction: column;
   }

   &__info {
       @media (max-width:$max-md) {
           margin-bottom: 2.5rem;
       }
   }

      &__inner {
         >*+* {
            margin-left: 1.25rem;
         }
   
         >a {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            transition: 0.4s;
   
            &:not(.is-link) {
               opacity: 0.35;
               cursor: not-allowed;
               background: transparent;
               color: rgba(var(--body-text), 1);
            }
   
            &:is(.is-jump) {
               opacity: 1;
               cursor: pointer;
               background: transparent;
               color: rgba(var(--body-text), 1);
               width: 50px;
   
               &:hover {
                  background: rgba(var(--btn-primary), 1);
                  color: rgba(var(--btn-text-primary), 1);
               }
            }
   
            &:is(.is-current) {
               background-color: rgba(var(--body-text), 0.35);
               color: rgba(var(--btn-text-primary), 1);
            }
   
            &:is(.is-jump, .is-current) {
               width: 50px;
               height: 50px;
   
               @media (max-width:$max-md) {
                  display: none;
               }
            }

            &:is(.is-link) {
               background-color: rgba(var(--btn-primary), 1);
               box-shadow:rgba(255, 255, 255, 0.2) 0px 2px 0px 0px inset, rgba(0, 0, 0, 0.25) 0px -1px 0px 1px inset, rgba(0, 0, 0, 0.1) 0px 2px 6px 0px;
               background: linear-gradient(180deg,rgba(var(--btn-primary), 1) 0%, rgba(var(--btn-primary), 0.75) 100%);
               color:rgba(var(--btn-text-primary), 1);
            }
   
   
            border-color: transparent;
   
            &:hover {
               background: linear-gradient(180deg, rgba(var(--btn-primary-hover), 1) 0%, rgba(var(--btn-primary-hover), 0.75) 100%);
               background-color: rgba(var(--btn-primary-hover), 1);
               color: rgba(var(--btn-text-primary-hover), 1);
            }
   
            padding:1rem 1.25rem;
            border-radius: 5px;
            transition: 0.15s;
   
            text-decoration: none;
   
            &:focus,
            &:focus-within {
               transform: translateY(2px);
            }
         }
      }
}

.tumblr_video_container {
   position: relative;
   width: 100%!important;
   height: 0!important;
   padding-bottom: 52.65%;
   iframe {
       position: absolute;
       left: 0;
       top: 0;
       width: 100%;
       height: 100%;
       object-fit: cover;
   }
}

#ask_form, #submit_form {
   margin: 2rem 0;
}

.soundcloud_audio_player {
   margin: 1.25rem 0;
   width:100%!important;
}

.is-spotify {
   position: relative;
   padding-bottom: 80px;
   
   margin:1rem 0;
}
.is-spotify .spotify_audio_player {
   position: absolute;
   width: 100%;
   height: 100%;
}

.is-bandcamp iframe.bandcamp_audio_player {
  width: 100%!important;
}

.like {
   color: currentColor;
}

.like .liked+svg {
   opacity: 1
}

.like .liked+svg path {
   fill: #ec5a5a;
   stroke: #ec5a5a;
}

.like .like_button {
   position: relative
}

.like .like_button iframe {
   position: absolute;
   top: -10px;
   left: -2px;
   bottom: 0;
   right: 0;
   z-index: 2;
   opacity: 0
}

.tumblr_audio_player {
   height: 90px;
   width: 100%;
}


.poll-post {
   margin: 2rem 0;
   background: #fff;
   padding: 1rem;
   border-radius: 8px;
   box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
   border: 1px dotted #ddd;
 }
 .poll-post  .poll-question {
   text-align: center;
   margin-bottom: 1rem;
   margin-top: 0;
 }
 
 .poll-post a.poll-row {
   background: transparent;
   border: 2px solid rgba(0, 0, 0, 0.1);
   transition:0.4s;
 }
 .poll-post a.poll-row:hover {
     background:rgba(var(--btn-primary), 1);
     color:rgba(var(--btn-text-primary), 1);
 }

 .popover.tutorial {
   font-family: var(--body-font);
   border:2px solid rgba(var(--body-text), 0.1);
   .ok_button {
      cursor: pointer;
      border:0;
      width: 100%;
      padding: 10px 15px!important;
      border-radius: 8px;
      background:rgba(var(--btn-primary), 1);
      color:rgba(var(--btn-text-primary), 1);
   }
 }

 .btn__wrapper__more-posts {
   @media (max-width:$max-md) {
      margin-top: -2rem;
   }
 }

 .page-load-status {
   display: none;
   text-align: center;
   padding:1.25rem 0;
   grid-column: 1/1;

   overflow: hidden;
   color: rgba(var(--body-text), 1);
}


@keyframes reveal {
	from {
		transform: scale(0.001);
	}
	to {
		transform: scale(1);
	}
}
@keyframes slide {
	to {
		transform: translateX(1.5em);
	}
}
.loader-ellips {
	font-size: 20px;
	position: relative;
	width: 4em;
	height: 1em;
	margin: 10px auto;
}
.loader-ellips__dot {
	display: block;
	width: 1em;
	height: 1em;
	border-radius: 0.5em;
	background: #555;
	position: absolute;
	animation-duration: 0.5s;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
	&:nth-child(1) {
		left: 0;
		animation-name: reveal;
	}
	&:nth-child(2) {
		left: 0;
		animation-name: slide;
	}
	&:nth-child(3) {
		left: 1.5em;
		animation-name: slide;
	}
	&:nth-child(4) {
		left: 3em;
		animation-name: reveal;
		animation-direction: reverse;
	}
}

/* sparkling stars */
@keyframes comeInOut {
   0% {
       transform: scale(0);
   }

   50% {
       transform: scale(1);
   }

   100% {
       transform: scale(0);
   }
}

@keyframes spin {
   0% {
       transform: rotate(0deg);
   }

   100% {
       transform: rotate(180deg);
   }
}

.sparkling {
   position: relative;
   z-index: 0;
   overflow: visible;

   >span {
       z-index: -1;
       position: absolute;
       display: block;
       animation: comeInOut 700ms forwards;

       >svg {
           display: block;
           animation: spin 1000ms linear;
       }
   }
}