body {
   font-family: var(--body-font);

   background-color: rgba(var(--bg-color), 1);   
   color: rgba(var(--body-text), 1);
   overflow: hidden;

   &.is-hidden {
    overflow: hidden;
   }

   &[data-blog-style="simple"] {
       .wrapper__inner {
           &--blog {
                grid-template-columns:1fr;
           }
           &--addon {
               display: none;
           }
           &--lists {
               &.is-widget {
                position: relative;
                padding-right: 300px;
                @media (max-width:1650px) {
                    padding-right: 0;

                    display: flex;
                    flex-direction: column;
                }
               }

               div[class*="wrapper__inner--addon"] {
                display: block;
               }

               .wrapper__inner--addon-sticky {
                    max-width: 270px;
               }

               .wrapper__inner--addon-music, 
               .wrapper__inner--addon-highlighted  {
                    width: 270px;
                    
               }
           }

           &--widgets {
                display: flex;
                flex-direction: column;
                position: absolute;
                right:6ch;
                top:6ch;

                @media (max-width:1650px) {
                    position: unset;
                    inset:unset;
                    max-width: 50rem;
                    width:100%;

                    margin:5rem auto 3rem auto;
                    padding-top: 3rem;

                    border-top: 1px solid rgba(var(--heading-text), 0.1);

                    order:3;

                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    justify-items: center;

                    gap:3rem;
                }

                @media (max-width:992px) {
                    grid-template-columns: 1fr;
                }

                > * + * {
                    margin-top: 3rem;
                    @media (max-width:1650px) {
                        margin:0;
                    }
                }
           }

           &--thumbs {
            display: none;
           }
       }
   }

   &[data-blog-style="notion"] {
    .wrapper {
        &__sidebar {
            &--tabs {
                ul {
                    li.is-widgets {
                        display: block;
                    }
                }
            }
        }
        &__inner {
            &--date, &--heading {
                @media (min-width:992px) {
                    display: none;
                }
            }
            &--source {
                display: block;
                @media (max-width:991.89px) {
                    display: none;
                }
            }
            &--thumbs {
                @media (max-width:991.89px) {
                    display: none;
                }
                .pagination {
                    padding: 0 1.75em;
                    margin-bottom: 0;
                }
            }
            &--widgets {
                opacity: 0;
                visibility: hidden;
                touch-action: none;

                &.is-shown {
                    opacity: 1;
                    visibility: visible;
                }

                div[class*="wrapper__inner--addon"] {
                    display: block;
                }
            }
            &--addon-sticky {
                position: fixed;
                right: 5ch;
                top: 13ch;
                width: 300px;

                z-index: 555;
            }
            &--addon-music {
                position: fixed;
                left: 79ch;
                bottom: 5ch;
                width: 315px;
                z-index: 555;
            }
            &--addon-highlighted {
                position: fixed;
                right: 5ch;
                bottom: 13ch;
                width: 315px;
                z-index: 555;
            }

            &--lists {
                display: grid;
                place-items: center;
                padding-bottom: 50px;
                padding-top: 200px;

                .posts {
                    @media (min-width:992px) {
                        &__audio {
                            margin:0rem;
                            border-radius: 8px;
                        }
                        &__body {
                            .tmblr-full {
                                margin:1rem 0;
                                > a[class] {
                                    img {
                                        border-radius: 8px;
                                    }
                                }
                            }
                        }
                    }
                    
                    @media (max-width:991.89px) {
                        display: block;
                    }
                }

                > .container {
                    article.posts {
                        overflow: initial;
                    }
                }
                
                .pagination, .credits {
                    display: none;
                    @media (max-width:991.89px) {
                        display: block!important;
                    }
                }

                .pagination {
                    @media (max-width:991.89px) {
                        display: flex!important;
                    }
                }
            }
        }
    }
   }

   &[data-blog-style="masonry"] {
        .wrapper__inner {
            &--blog {
                grid-template-columns:1fr;
            }
            &--addon {
               display: none;
            }
            &--lists {
                div[class*="wrapper__inner--addon"] {
                    display: block;
                    width: 100%;
                }
                .masonry {
                    max-width: 85rem;
                    overflow: hidden;
                    .grid-sizer {
                        width: calc(33.333% - 20px);
                        @media (max-width:1400px) {
                            width: calc(50% - 20px);
                        }
                        @media (max-width:768px) {
                            width: 100%;
                        }
                    }
                    .posts {
                        float: left;
                        width: calc(33.333% - 20px);
                        margin-bottom: 30px;
                        
                        @media (max-width:1400px) {
                            width: calc(50% - 20px);
                        }
                        @media (max-width:768px) {
                            width: 100%;
                        }

                        + .posts {
                            margin-top: 0;
                        }
                        .is-source {
                            display: none;
                        }
                        &__action {
                            width: 100%;
                            justify-content: space-between;
                        }
                        &__audio {
                            grid-template-columns:1fr;
                            margin:0;
                            min-height: 250px;
                            align-content: center;
                            padding: 1rem 3rem;

                            &--album {
                                display: none;
                            }
                        }

                        &-text {
                            .posts__inner {
                                &.is-truncated {
                                    position: relative;
                                    max-height: 500px;
                                    overflow: hidden;
                                    transition: 0.5s;

                                    &::after {
                                        position: absolute;
                                        content: "";
                                        width: 100%;
                                        height: 200px;
                                        background: linear-gradient(
                                        0deg,
                                        rgba(var(--bg-card), 1),
                                        rgba(var(--bg-card), 0.25)
                                        );
                                        bottom: 0px;
                                        left: 0px;
                                        transition: 0.5s;
                                        opacity: 1;
                                        visibility: visible;
                                    }
                                }
                            }
                        }
                        
                        &-photo, &-audio {
                            .posts__inner {
                                padding:0;
                            }
                            .posts__body {
                                display:none;
                            }
                        }

                        &__media {
                            margin:0;
                        }
                          
                        &__image {
                            img {
                             border-radius:0px;
                            }
                        }
                          
                         &__permalink, &__tags {
                            display:none;
                        }
                    }
                }
                .pagination {
                    max-width: 85rem;
                }
            }
            &--date {
               backdrop-filter: unset;
               padding-bottom: 1.35rem;
               background: transparent!important;
            }
            &--widgets {
                position: unset;
                inset:unset;
                max-width: 80rem;
                width:100%;

                margin:5rem auto 3rem auto;
                padding-top: 3rem;

                border-top: 1px solid rgba(var(--heading-text), 0.1);

                display: grid;
                grid-template-columns: repeat(3, 1fr);
                justify-items: center;

                gap:3rem;
                @media (max-width:992px) {
                    grid-template-columns: 1fr;
                }
            }
            &--thumbs {
                display: none;
            }
        }
        &:not(.is-permalink-page) {
            .wrapper__inner--lists {
                [photoset-layout] {
                    div:not(:first-child) {
                        display: none;
                        grid-column: span 6;
                    }
                }
            }
        }
        &.is-permalink-page {
            .wrapper__inner--widgets {
                max-width: 60rem;
            }
            .wrapper__inner--lists {
                .posts {
                    &__inner {
                        &.is-truncated {
                            max-height: 9999px!important;
                            &::after {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
   }
   
   &.is-permalink-page {
    .wrapper__inner {
        &--blog {
            grid-template-columns: 1fr;
        }
        &--lists {
            .masonry {
                max-width: 60rem;
                .posts {
                    width: 100%;
                    max-width: 100%;
                }
            }
            .pagination {
                max-width: 60rem;
            }
        }
        &--thumbs {
            display: none;
        }
    }
}

   @media (max-width:1198px) {
    overflow: initial;
   }
}

html {
    font-size: 14px;
}

* {
    scrollbar-width: thin;
    scrollbar-color: rgba(var(--heading-text), 0.25) rgba(var(--bg-color), 1);
}
  
::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background-color:rgba(var(--heading-text), 0.25);
}

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;   
}

/******
Table of contents
1. Wrapper
   1.1 Wrapper Sidebar
       1.1.1 User
       1.1.2 Description
       1.1.3 Tabs
   1.2 Wrapper Inner
       1.2.1 Wrapper Home
       1.2.2 Wrapper Blog


******/


// 1. Wrapper
.wrapper {
    display: grid;
    grid-template-columns: 22.5rem 1fr;
    gap:0rem;
    height: 100vh;

    @media (max-width:1198px) {
        grid-template-columns: 1fr;
    }
    
    // 1.1 Wrapper Sidebar
    &__sidebar {
        align-self: flex-start;

        position: sticky;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        height: 100%;
        overflow-y: auto;
        top:0;
        padding:2.5rem 1.75rem 1.35rem 1.75rem;
        // background-color:rgba(var(--body-text), 0.05);

        @media (max-width:1198px) {
            position: fixed;
            z-index: 99999;
            background: rgba(var(--bg-card), 1);
            width: calc(100% - 2rem - 2px);
            height: calc(100% - 1rem);
            top: 75px;
            left: 1px;

            transform: translateX(-120%);
            margin: 1rem;

            transition: 0.5s;
            overflow: hidden;

            &.is-shown {
                transform: translateX(0%);
            }
        }

        // 1.1.1 User
        &--user {
            display: flex;
            align-items: center;
            margin-bottom: 1.5rem;
        }
        &--avatar {
            flex:none;
            
            position: relative;
            display: block;
            width: 64px;
            height: 64px;
            overflow: hidden;

            margin-right: 1rem;

            &.circle {
                border-radius: 50%;
            }

            &.square {
                border-radius: 8px;
            }

            img {
                display: block;

                position: absolute;
                left: 0;
                top:0;
                width:100%;
                height: 100%;
            }
        }
        &--title {
            display: flex;
            flex-direction: column;

            h2 {
                font-family: var(--title-font);
                font-weight: var(--title-font-weight);
                font-size: 1.25rem;
                margin-bottom: 0.35rem;
            }
            span.username {
                width:max-content;
                display: inline-flex;
                align-items: center;
                background:rgba(var(--accent), 1);

                color:rgba(var(--bg-card), 1);
                padding:0.25rem 0.65rem;

                border-radius: 30px;

                font-size: 0.85rem;
            }
        }

        // 1.1.3 Tabs
       &--tabs {
           margin:1.5rem 0;
           ul {
                border:0;
                list-style: none;
                padding: 0;
                margin: 0;
                li {
                    width:100%;
                    + li {
                        margin-top: 0.5rem;
                    }

                    &.is-widgets {
                        display: none;
                       a {
                        background: linear-gradient(-45deg, rgba(var(--accent), 1), rgba(var(--accent-2), 1), rgba(var(--accent-3), 1), rgba(var(--accent-4), 1));
                        color: rgba(var(--bg-card), 1);

                        background-size: 450% 450%;
                        animation: gradient 10s ease infinite;

                        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
                       }
                    }
                    a {
                        display: inline-flex;
                        align-items: center;

                        width:100%;
                        height: auto;

                        padding:0.65rem 1.25rem;
                        border-radius: 6px;
                        border:0!important;
                        text-decoration: none;

                        color:rgba(var(--sidebar-link), 1);
                        transition: 0.5s;

                        &[aria-selected="true"], &.is-actived {
                            background-color:rgba(var(--sidebar-text), 0.1);
                            font-weight: bold;
                        }

                        &:hover {
                            background-color:rgba(var(--sidebar-text), 0.1);
                            font-weight: bold;
                        }

                        &[role="tab"]:hover:not([aria-selected="true"]) {
                            background-color:transparent;
                        }

                        svg {
                            margin-inline-end: 1rem;
                        }
                        
                        span {
                            margin-left: auto;
                            background-color: rgba(var(--accent), 1);
                            color: rgba(var(--bg-card), 1);
                            padding: 0.25rem 0.65rem;
                            border-radius: 30px;
                            font-size: 0.85rem;
                        }
                    }
                }
           }
       }
       
       &--wrap {
        flex-grow: 1;
       }

       &--links {
           border-top:2px solid rgba(var(--body-text), 0.1);
           padding:2rem 0;

           ul {
               list-style: none;
               margin:0;
               padding:0;
               display: flex;
               flex-wrap: wrap;
               gap:0.85rem;

               li {
                   a {
                       position:relative;
                       font-size: 0.95rem;
                       display: inline-flex;
                       align-items: center;
                       background-color: rgba(var(--sidebar-link), 0.1);
                       color:rgba(var(--sidebar-link), 1);
                       padding:0.35rem 0.85rem;
                       transition: 0.4s;

                       border-radius: 6px;
                       overflow: hidden;

                       text-decoration: none;
                       
                       &:hover {
                           background-color:rgba(var(--accent), 1);
                           color:rgba(var(--bg-card), 1);
                       }
                   }
               }
           }
       }

       &--mode {
           margin-top: auto;
           width: 100%;

           display: grid;
           grid-template-columns: 1fr 1fr;
           gap:0.5rem;
           background-color: rgba(var(--sidebar-link), 0.08);
           padding:0.35rem 0.35rem 0.35rem 0.45rem;

           border-radius: 6px;
           > button {
               appearance: none;
               cursor: pointer;
               border:0;
               box-shadow: none;

               background-color: transparent;
               border-radius: 4px;

               display: inline-flex;
               align-items: center;
               justify-content: center;
               padding:0.45rem 0.65rem;

               color:rgba(var(--sidebar-heading), 1);
            
               svg {
                margin-inline-end:0.75rem;
               }

               &.is-actived {
                background-color: rgba(var(--bg-card), 0.95);
                font-weight: bold;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
               }
           }
       }
    }

    // 1.2 Wrapper Inner
    &__inner {
        position: relative;
        height: 100%;
        overflow-y: auto;
        padding:1.35rem;

        @media (max-width:992px) {
            overflow: initial;
            padding:1rem;
        }

        &--home {
            position: relative;
            width:100%;
            height: 100%;
            background-repeat: no-repeat;
            background-size: cover;

            &.is-repeat {
                background-repeat: repeat;
                background-size: auto;
            }

            /*&::before {
                content:'';
                position: absolute;
                left: 0;
                top:0;

                width:100%;
                height: 100%;

                background-color: rgba(#111, 0.25);
            }*/
        }

        &--heading {
            width: 100%!important;
            position: relative;

            display: inline-flex;
            align-items: center;
            color:rgba(var(--heading-text), 1);
            margin-bottom: 2rem;
            border:0!important;

            @media (max-width:992px) {
                margin-bottom: 0;
            }

            h1 {
                font-size:1.5rem;
                letter-spacing: -1px;
            }

            &::before {
                content:'';
                width: 15px;
                height: 15px;

                margin-right: 1rem;

                background-color: rgba(var(--accent), 1);
                border-radius: 50%;
            }
            
            ~ .wrapper__inner--heading {
                margin-top: 2rem;
                &::before {
                    background-color: rgba(var(--accent-2), 1);
                }
                ~ div {
                    &::before {
                        background-color: rgba(var(--accent-4), 1);
                    }
                }
            }
        }

        &--date {
            position: sticky;
            top:-3.6rem;
            padding-top: 1rem;
            padding-bottom: 1rem;
            padding-left: 15px;
            padding-right: 15px;
            margin-bottom: 3rem;
            margin:0 -15px;
            background-color: rgba(var(--bg-card), 0.5)!important;

            backdrop-filter: blur(8px);

            width:calc(100% + 15px)!important;
            border:0;
            border-radius: 0px!important;

            z-index: 100;

            ~ .wrapper__inner--date {
                margin-top: 5rem!important;
            }

            span {
                position: relative;
                display: inline-flex;
                align-items: center;
                justify-content: center;

                background-color: rgba(var(--accent-3), 1);
                color:rgba(var(--bg-card), 1);

                width: auto;
                min-width: 155px;
                padding:0.5rem 1rem;
                border-radius: 50px;

                font-size: 0.85rem;

                // &::after {
                //     content:'';
                //     position: absolute;
                //     left:0;
                //     bottom:-15px;
                //     width: 100%;
                //     height: 2px;
                //     background-color: rgba(var(--accent-3), 1);
                // }
            }
        }

        &--featured {
            position: absolute;
            left:0;
            bottom:0;
            width:100%;

            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap:2.5rem;

            padding:3.5rem;
        }

        &--blog {
            position: relative;
            display: grid;
            grid-template-columns: 27.5rem auto;
            grid-template-rows: minmax(min-content, max-content);
            height: 100%;
            overflow: hidden;

            border-radius: 8px;
            background-color: rgba(var(--bg-card), 1);
            border: 1px solid rgba(var(--heading-text), 0.1);

            @media (max-width:1198px) {
                grid-template-columns: 1fr;
                overflow: initial;
                height: 100%;
            }
        }

        &--lists {
            padding:50px 35px 80px 35px;
            height: 100%;
            overflow-y: auto;
            background-color: rgba(var(--bg-card), 1);

            div[class*="wrapper__inner--addon"] {
                display: none;
            }

            @media (max-width:1198px) {
                overflow: initial;
                padding:20px 20px!important;
            }

            .wrapper__inner--heading {
                &::before {
                    background-color: rgba(var(--accent-3), 1);
                }
            }

            .container.notion {
                padding: 0 0 3rem 0;
                min-width: 50rem;
                @media (max-width:1300px) {
                    min-width: auto;
                }
            }

            .container:not(.masonry) {
                .posts__view {
                    display: none;
                }
            }
        }

        &--breadcrumbs {
            grid-column: 1/-1;
            width: 100%;
            height: 75px;
            padding:15px 15px 15px 35px;

            border-bottom: 1px solid rgba(var(--heading-text), 0.1);

            display: flex;
            align-items: center;
            justify-content: space-between;

            .controls {
                display: flex;
                align-items: center;
                gap: 1rem;
                button {
                    appearance: none;
                    cursor: pointer;
                    border:  1px solid rgba(var(--heading-text), 0.1);
                    background-color: rgba(var(--bg-card), 1);
                    color:rgba(var(--heading-text), 1);

                    width: 40px;
                    height: 40px;
                    border-radius: 6px;

                    display: inline-flex;
                    align-items: center;
                    justify-content: center;

                    svg {
                        transform: scale(0.85);
                    }

                    &.is-disabled {
                        pointer-events: none;
                        opacity: 0.25;
                    }

                    &.hamburger {
                        @media (min-width:992px) {
                            display: none;
                        }
                    }
                }
                
            }
        }

        &--addon {
            padding:35px 35px 35px 35px;
            overflow-y: auto;
            border-right:  1px solid rgba(var(--heading-text), 0.1);
            @media (max-width:1198px) {
                height: 100%;
                overflow: initial;
                padding:15px 15px;
                order: 2;
            }

            > * + * {
                margin-top:3rem;
            }

            &-pinned {
                .wrapper__inner--heading {
                    margin:0;
                    padding-bottom: 1rem;

                    &::before {
                        background-color: rgba(var(--accent), 1);
                    }
                }
                .posts {
                    border:  1px solid rgba(var(--heading-text), 0.1);
                    box-shadow: rgba(var(--accent), 0.15) 0px 7px 29px 0px;
                    &__pinned {
                        color:rgba(var(--accent), 1);
                    }
                    &.pinned {
                        background-color: rgba(var(--accent), 0.085);
                    }
                }
            }

            &-music {
                .wrapper__inner--heading {
                    margin:0;
                    
                    padding-bottom: 1rem;
                    &::before {
                        background-color: rgba(var(--accent-2), 1);
                    }
                }
            }

            &-highlighted {
                .wrapper__inner--heading {
                    margin:0;
                    
                    padding-bottom: 1rem;
                    &::before {
                        background-color: rgba(var(--accent-4), 1);
                    }
                }
            }

            &-sticky {
                .wrapper__inner--heading {
                    margin:0;
                    
                    padding-bottom: 1rem;
                    &::before {
                        background-color: rgba(var(--sticky-notes-heading), 1);
                    }
                }
            }
        }

        &--sticky {
            .title {
                background-color: rgba(var(--sticky-notes-heading), 1);
                color:rgba(var(--heading-text), 1);
                padding:1rem 1.5rem;
                margin:-1.5rem -1.5rem 1rem -1.5rem;
            }
            background-color: rgba(var(--sticky-notes-body), 1);
            color: #222;

            padding:1.5rem;
            overflow: hidden;
            border-radius: 8px;
            border:1px solid rgba(var(--heading-text), 0.08);

            box-shadow: rgba(var(--sticky-notes-body), 0.35) 0px 7px 29px 0px;
        }

        &--highlighted {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap:1rem;
            border-radius: 8px;
            overflow: hidden;
            background-color: rgba(var(--accent-4), 0.35);
            backdrop-filter: blur(8px);
            border:  1px solid rgba(var(--heading-text), 0.1);
            box-shadow: rgba(var(--accent-4), 0.15) 0px 7px 29px 0px;

            padding:1rem;

            a {
                position: relative;
                overflow: hidden;
                border-radius: 6px;

                &:first-child {
                    grid-column: 1/3;
                    grid-row: 1/3;
                }
                .view-more {
                    position: absolute;
                    inset:0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(var(--accent-4), 0.5);
                    color:rgba(var(--bg-card), 1);

                    backdrop-filter: blur(8px);

                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    z-index: 2;

                    opacity: 0;
                    visibility: hidden;

                    transition: 0.5s;

                    span {
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;

                        width: 45px;
                        height: 45px;

                        border-radius: 50%;

                        background-color: rgba(var(--heading-text), 1);
                        color:rgba(var(--bg-card), 1);
                    }
                }
                &:hover .view-more {
                    opacity: 1;
                    visibility: visible;
                }
                figure {
                    position: relative;
                    height: 0;
                    padding-bottom: 100%;
                    overflow: hidden;
                    border-radius: 6px;
                    img {
                        position: absolute;
                        inset:0;
                        object-position: top;
                        object-fit: cover;

                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }

        &--details {
            position: relative;
            height: 100%;
            overflow-y: auto;

            &.is-filled {
                background: rgba(var(--bg-color), 1);
            }

            .notes-button {
                clip: rect(0 0 0 0);
                clip-path: inset(50%);
                height: 1px;
                overflow: hidden;
                position: absolute;
                white-space: nowrap;
                width: 1px;
            }

            .posts {
                &__pinned, &__view { display: none;}
                &__media {
                    p.npf_quote {
                        font-size: 1.5rem;
                    }

                    p.source {
                        margin:1rem 0;
                    }
                }
                &__body {
                    h1, h2, h3, h4, h5, h6 {
                        margin:1rem 0;
                    }
                    p {
                        margin:1rem 0;
                    }
                    a {
                        color:rgba(var(--body-link), 1);
                        font-weight: bold;
                    }
                    .npf-link-block {
                        margin:1rem 0;
                    }
                }
                &__media {
                    > h1 {
                        font-size: 1.5rem;
                        margin: 1rem 0;
                        color:rgba(var(--body-link), 1);

                        a {
                            color:rgba(var(--body-link), 1);
                        }
                    }
                }
                &__type {
                    display: none;
                }
                &__permalink {
                    display: none;
                }
                &__image {
                    img {
                        width: 100%;
                        border-radius: 6px;
                    }
                }
                .original, .reblog-list {
                    padding:0;
                }
                .npf_photoset, .tmblr-full {
                    margin:0;
                }
            }
        }

        &--appended {
            max-width: 45rem;
            margin: 0 auto;
            height: 100vh;
            padding: 5ch 0;
        }

        &--source {
            background-color: rgba(var(--bg-card), 1);
            padding: 1.5rem;
            border-radius: 8px;
            margin-bottom: 3.5rem;
            position: absolute;
            left: 0;
            top: -150px;
            width: 100%;
            border: 1px solid rgba(var(--heading-text), 0.15);

            display: none;
        }

        &--url {
            border:2px solid rgba(var(--accent-3), 0.95);
            background-color: rgba(var(--accent-3), 0.05);

            display: flex;
            align-items: center;
            padding:1rem;
            border-radius: 8px;

            > * + * {
                margin-left: 1rem;
            }

            .icon {
                background-color: rgba(var(--accent-3), 1);
                color:rgba(var(--bg-card), 1);
                padding:0.85rem;

                display: inline-flex;
                align-items: center;
                justify-content: center;

                border-radius: 50%;
            }

            .url {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                
                a {
                    color:rgba(var(--body-link), 1);
                }
            }
        }

        &--credit {
            padding-top: 50px;
            text-align: center;

            color:rgba(var(--heading-text), 1);
            a {
                color:rgba(var(--heading-text), 1);
            }
        }

        &--popup {
            position: absolute;
            left:0;
            right:0;
            bottom:0;
            top:75px;
            width: 100%;
            height: calc(100% - 75px);

            backdrop-filter: blur(20px);
            background: rgba(var(--bg-card), 0.85);

            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            z-index: 10005;

            opacity: 0;
            visibility: hidden;

            transition: 0.4s;

            &.is-shown {
                opacity: 1;
                visibility: visible;
            }

            &-card {
                background-color: rgba(var(--bg-card), 1);
                border-radius: 10px;
                
                box-shadow: rgba(var(--heading-text), 0.08) 0px 8px 24px, rgba(var(--heading-text), 0.08) 0px 16px 56px, rgba(var(--heading-text), 0.08) 0px 24px 80px;
                min-width: 640px;
                max-height: 400px;
                overflow: hidden;

                @media (max-width:992px) {
                    min-width: auto;
                    width: 90%;
                }

                .input {
                    display: flex;
                    align-items: center;
                    gap:1rem;
                    
                    padding: 16px 24px;
                    background: rgba(var(--bg-card), 1);
                    border-bottom: 1px solid rgba(var(--heading-text), 0.15);
                }

                form {
                    input {
                        position: sticky;
                        top: 0;

                        width: 100%;
                        height: auto;

                        color: inherit;

                        font-size: 20px;
                        line-height: 32px;

                        border: none;
                        outline: none;

                        background: transparent;

                        @media (max-width:991.89px) {
                            font-size: 14px;
                        }

                        &:focus {
                            box-shadow: none;
                        }
                    }
                }

                ul {
                    display: flex;
                    flex-direction: column;
                    margin:0;
                    padding:0;

                    li {
                        &.headline {
                            display: inline-flex;
                            align-items: center;

                            padding: 16px 24px;
                            background-color: rgba(var(--heading-text), 0.08);

                            text-transform: uppercase;
                            font-size:12px;
                        }
                        a {
                            display: inline-flex;
                            align-items: center;
                            width:100%;

                            padding: 16px 24px;
                            color:rgba(var(--body-link), 1);

                            text-decoration: none;
                            border-top:1px solid rgba(var(--heading-text), 0.08);

                            font-weight: bold;

                            i {
                                color:currentColor;
                                margin-right: 1rem;

                                font-weight: normal;
                                font-size: 24px;
                            }

                            &.twt {
                                color:#1da1f2;
                                background-color: rgba(#1da1f2, 0.05);
                            }

                            &.inst {
                                color:#c13584;
                                background-color:rgba(#c13584, 0.05);
                            }

                            &.ptrn {
                                color:#f96854;
                                background-color:rgba(#f96854, 0.05);
                            }

                            &.disc {
                                color:#7289da;
                                background-color:rgba(#7289da, 0.05);
                            }
                        }
                    }
                }
            }

            @media (max-width:992px) {
                justify-content: flex-start;
                padding: 3rem 1rem;
            }
        }

        &--thumbs {
            overflow-y: auto;
            border-right:  1px solid rgba(var(--heading-text), 0.1);
            padding-bottom: 25px;
            @media (max-width:1198px) {
                height: 100%;
                overflow: initial;
                padding:15px 15px;
                order: 2;
            }
            ul {
                border:0;
                list-style: none;
                padding: 0;
                margin: 0;
                li {
                    width:100%;
                    + li {
                        margin-top: 0.75rem;
                    }
                    &.is-date {
                        padding: 1rem 1.5rem;
                        width: 100%;
                        display: block !important;
                        position: sticky;
                        top: 0;
                        background-color: rgba(var(--bg-card), 0.99);
                        backdrop-filter: blur(5px);
                        z-index: 2;

                        border-bottom: 1px solid rgba(var(--heading-text), 0.124);
                    }
                    &[role="presentation"] {
                        margin: 1rem 1rem 0 1rem!important;
                        width: calc(100% - 2rem) !important;
                    }
                    a {
                        position: relative;
                        display: inline-flex;
                        align-items: center;
                        flex-direction: column;

                        width:100%;
                        height: auto;

                        padding:1.5rem;
                        border-radius: 6px;
                        border:0!important;
                        text-decoration: none;

                        color:rgba(var(--sidebar-link), 1);
                        transition: 0.1s;

                        &[aria-selected="true"], &.is-actived {
                            background-color:rgba(var(--sidebar-text), 0.1);
                            font-weight: bold;
                        }

                        &:hover {
                            background-color:rgba(var(--sidebar-text), 0.1)!important;
                        }

                        &[role="tab"]:hover:not([aria-selected="true"]) {
                            background-color:transparent;
                        }

                        svg {
                            margin-inline-end: 1rem;
                        }

                        &.is-pinned {
                            background: rgba(var(--accent-3), 0.15);
                        }

                        span.pinned {
                            width: 25px;
                            height: 25px;
                            display: inline-flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 50%;
                            background: rgba(var(--accent-3), 1);
                            color: rgba(var(--bg-card), 1);
                            position: absolute;
                            left: -0.5ch;
                            top: -0.5ch;
                        }

                        .is-title {
                            width: 100%;
                            
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            gap:1rem;

                            &__from {
                                display: flex;
                                align-items: center;
                                gap: 1rem;
                                span.from {
                                    text-overflow: ellipsis;
                                    overflow: hidden;
                                    white-space: nowrap;
                                    width: 160px;
                                }
                                img {
                                    width: 30px;
                                    border-radius: 100%;
                                    background-color: rgba(var(--bg-card), 1);
                                    border-radius: 6px;
                                }
                            }

                            &__when {
                                color:rgba(var(--body-link), 1);
                            }
                        }
                        
                        .is-excerpt {
                            &__quote, &__caption {
                                margin-top: 1rem;
                                overflow: hidden;
                                display: -webkit-box;
                                -webkit-line-clamp: 3;
                                -webkit-box-orient: vertical;
                            }
                        }
                    }
                }
           }
        }
    }
}

#archive {
    width:100%;
    height:100%;
    background-color: rgba(var(--bg-card), 1);
    border: 1px solid rgba(var(--heading-text), 0.3);
    border-radius:8px;
    overflow:hidden;
 }
 #archive iframe {
    width:100%;
    height:100%;
    outline:none;
    border:0;
 }
 
 [photoset-layout] {
     border-radius:8px;
     overflow:hidden;
 }

 .d-block {
    display: block!important;
 }

 .d-none {
    display: none!important;
 }

 @keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
 }

 .draggable {
    @media (max-width:992px) {
        transform: none!important;
    }
 }