ol.notes {
    list-style: none;
    padding:0;
    margin:2rem 0;

    li {
        position: relative;
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        font-size: 0.9rem;
        color: rgba(var(--body-text), 1); 

        & + li {
            margin-top: 1rem;
        }

        blockquote {
            position: relative;
            width: 100%;

            font-size: 0.8rem;

            margin:1rem 0 1rem 3.25rem;

            background-color: #eee;
            padding:1.5rem 1.25rem;
            border-radius: 30px 30px 30px 8px;
            border:0;
            

            &:before, &:after {
                content: "";
                position: absolute;
                bottom: -0.75rem;
                height: 25px;
            }

            &:before {
                left: -7px;
                width: 20px;
                background-color: #eee;
                border-bottom-right-radius: 16px 14px;
              }
            
            &:after {
                left: -26px;
                width: 26px;
                background-color: rgba(var(--bg-card), 1);
                border-bottom-right-radius: 10px;
            }
        }

        &.like {
            .avatar_frame {
                &::before {
                    content: '\f004';
                    background-color:indianred;
                    color:white;
                   
                }
            }
        }

        &.reblog {
            .avatar_frame {
                &::before {
                    content: '\f3e5';
                    background-color:rgb(61, 121, 61);
                    color:white;
                }
            }
        }

        &.original_post {
            .avatar_frame {
                &::before {
                    content: '\f118';
                    background-color:rgb(43, 43, 43);
                    color:white;
                }
            }
        }

        &.with_commentary {
            span.action {
                margin-left: 3.25rem;
            }

            .avatar_frame {
                position: absolute;
                bottom:0;
                left:0;

                &::before {
                    content: '\f27a';
                    left:0;

                    background-color:rgb(63, 75, 143);
                    color:white;
                }
            }
        }
 
        a {
            color: rgba(var(--body-link), 1);
            font-weight: bold;
            text-decoration: none;
        }

        a.more_notes_link {
            display: flex;
            align-items: center;
            justify-content: center;

            margin-top: 1rem;

            width: 100%;
            padding:0.85rem 1rem;
            background-color: rgba(var(--accent), 1);
            color: rgba(var(--bg-card), 1);

            border-radius: 8px;
        }

        a.avatar_frame {
            position: relative;
            margin-right: 1rem;
            z-index: 2;

            &::before {
                font-family: 'Line Awesome Free';
                font-weight: 900;
                position: absolute;
                right:-0.35rem;
                bottom:-0.35rem;

                display: inline-flex;
                align-self:center;
                justify-content: center;

                font-size: 10px;

                width:1.15rem;
                padding:0.2rem 0 0.1rem 0;

                border-radius: 50%;

            }

            img {
                width:36px;
                height: 36px;

                border-radius: 50%;
            }
        }
    }

    .notes_loading {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        width:100%;
        padding:0.25rem 0.5rem;
    }
}