.posts {
    position: relative;
    background-color: rgba(var(--bg-card), 1);
    border: 1px solid rgba(var(--heading-text), 0.175);
    border-radius: 8px;
    overflow: hidden;
    + .posts {
        margin-top: 25px;
    }

    &.pinned {
        background-color: rgba(var(--accent-3), 0.05);
    }

    .notes-button {
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;
    }

    &__audio {
        display: grid;
        grid-template-columns: 150px 1fr;
        gap:2rem;
        padding: 1.5rem;
        margin:0rem -2rem 0 -2rem;

        @media (max-width:992px) {
            grid-template-columns: 1fr;
        }

        &--album {
            position: relative;
            width: 150px;
            height: 150px;
            color:rgba(var(--body-link), 1);
            background: rgba(var(--bg-card), 1);
            border-radius: 8px;

            &::before {
                font-family: "Line Awesome Free";
                font-weight: 900;
                font-size: 45px;
                
                color:rgba(var(--body-link), 1);
          
                content: "\f03e";

                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                padding: 0 1rem;
             }
            
            img {
                border-radius: 8px;
                position: relative;
                z-index: 1;
            }
        }

        &--main {
            button {
                cursor: pointer;
                display: inline-flex;
                align-items: center;
                justify-content: center;

                width: 45px;
                height: 45px;
                appearance: none;
                border:0;
                background-color: black;
                color:white;
                border-radius: 6px;
            }
        }

        &--info {
            margin-top: 1rem;
        }
    }

    &__view {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(var(--bg-card), 0.95);
        padding: 2.5rem;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        z-index: 2;
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        border-radius: 8px;

        h2 {
            margin-bottom: 0.5rem;
            font-size: 1.35rem;
            max-width: 65%;
        }

        .tags {
            overflow: hidden;
            margin:1rem 0 0rem 0;
    
            display: inline-flex;
            align-items: center;
            flex-wrap: wrap;
            
            gap:0.75rem;

            list-style: none;
            padding:0;

            li {
                a {

                    &::before {
                      content:"#";
                    }

                    display: inline-flex;
                    text-decoration: none;
                    padding:0.35rem 0.95rem!important;

                    color:rgba(var(--body-link), 1);
                    background-color:rgba(var(--heading-text), 0.08);

                    font-size:0.825rem;
                    border-radius: 30px;
                }
            }
        }

        nav {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            margin-top: 3rem;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            a {
                &.is-action {
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    padding:0;  
                    
                    background-color: rgba(var(--bg-card), 1);
                    border:1px solid rgba(var(--heading-text), 0.15);
                    padding:0.45rem;
  
                    color: rgba(var(--body-link), 1);
                    border-radius: 8px;

                    margin-right: 1rem;
  
                    svg {
                        width:18px;
                        height:18px;
                    }
                }
            }
        }
    }

    &:hover .posts__view {
        visibility: visible;
        opacity: 1;
    }

    &__question {
        padding:1rem 1.5rem;
        margin-top: 1rem;
        background-color:rgba(var(--accent-3), 0.1);
        border-radius: 6px;

        ul,ol {
            margin:1rem;
            padding:0;
        }

        :where(h1,h2,h3,h4,h5,h6,p) {
            margin:1rem 0;
        }

        a {
            color:rgba(var(--body-link), 1);
        }

        &--asker {
            font-size: 1.5rem;
            font-weight: bold;
            margin-bottom: 0.5rem;
            a {
                color:rgba(var(--body-link), 1);
            }
        }
    }

    &__answer {
        margin-top: 1rem;
        padding:1rem 0.5em;
    }

    &__answerer {
        padding:1rem 1.5rem;
        margin-top: 1rem;
        background-color:rgba(var(--heading-text), 0.1);
        border-radius: 6px;

        ul,ol {
            margin:1rem;
            padding:0;
        }

        :where(h1,h2,h3,h4,h5,h6,p) {
            margin:1rem 0;
        }

        a {
            color:rgba(var(--body-link), 1);
        }

        &--asker {
            font-size: 1.5rem;
            font-weight: bold;
            margin-bottom: 0.5rem;
            a {
                color:rgba(var(--body-link), 1);
            }
        }
    }

    &__pinned {
        padding:1rem 0rem;
        display: flex;
        align-items: center;
        color:rgba(var(--accent-3), 1);
        font-weight: bold;

        svg {
            margin-inline-end: 0.5rem;
        }
    }

    &__media {
        margin:1rem 0;
        .npf-link-block {
            margin:0;
        }
        p.npf_quote {
            padding:0 0.5rem;
            font-size: 1.5rem;
        }

        p.npf_chat {
            padding: 0rem 0.5rem;
            margin: 1rem 0;
        }

        p.source {
            padding: 1rem 0.5rem;
            a {
                color:rgba(var(--body-link), 1);
                font-weight: bold;
            }
        }
    }

    &__body {
        h1 {
            font-size: 1.5rem;
        }
        h2 {
            font-size: 1.25rem;
        }
        h1, h2, h3, h4, h5, h6 {
            margin:1rem 0;
        }
        p {
            margin:1rem 0;
        }
        a {
            color:rgba(var(--body-link), 1);
            font-weight: bold;
        }

        .npf-link-block {
            margin: 1rem -1rem
        }

        .reblog-list, .original {
            padding:0;
        }
    }

    &__media {
        > h1 {
            font-size: 1.5rem;
            padding: 0;
            margin: 1rem 0;
            color:rgba(var(--body-link), 1);
            a {
                color:rgba(var(--body-link), 1);
            }
        }
    }

    &__permalink {
        position: relative;
        margin: 1rem 0rem;

        &--avatar {
          display: inline-flex;
          align-items: center;
          justify-content: space-between;

          width: 100%;

          @media (max-width:992px) {
            flex-direction: column;
            gap:1rem;
          }

          > .is-source {
            display: grid;
            grid-template-columns: auto auto;
            align-items: center;
            gap: 0rem;

            a {
              margin: 0;
              > img {
                width: 40px;
                border-radius: 100%;
                padding: 5px;
                background-color: rgba(var(--bg-card), 1);
                border: 1px solid rgba(var(--heading-text), 0.1);
              }
            }

            span {
                margin-left: 0.5rem;
            }
          }
          > .is-notes {
            margin-left: 1.25rem;
            opacity: 0.65;
            color:rgba(var(--heading-text), 1);
            @media (max-width:45rem) {
              display: none;
            }
            a {
              color: rgba(var(--body-link), 1);
            }
          }
        }


    }

    &__type {
        display: inline-flex;
        align-items: center;
        justify-content: center;

        width:max-content;
        height: auto;
        padding:0.65rem 1rem;
        margin:1rem 0;

        background-color: rgba(var(--accent-3), 0.05);
        border:1.5px solid rgba(var(--accent-3), 0.3);
        border-radius: 8px;

        a {
            color:rgba(var(--body-link), 1);
            text-decoration: none;
        }

        > svg {
            width: 18px;
            height: 18px;
        }

        > img {
            width: 18px;
            height: 18px;
            border-radius: 3px;
        }

        span {
            margin-left: 0.5rem;
        }
    }

    &-answer, &-photo, &-video, &-audio{
        .posts__inner {
            padding:1rem 2rem;
            iframe[id*="youtube"] {
                border-radius: 6px;
                overflow: hidden;
            }

            .posts__image {
                position: relative;
                width: 100%;
                figcaption {
                    margin-top: 1rem;
                }
                img {
                    width: 100%;
                    border-radius: 6px;
                }
            }
        }
    }
    &-quote {
        .posts__body {
            display: none;
        }
    }

    &-quote, &-text, &-chat, &-link {
        .posts__inner {
            padding:1rem 2rem;
        }
    }

    &-audio {
        .soundcloud_audio_player {
            margin-bottom: 0;
        }

        .posts__media {
            width: 100%;
            margin:1rem 0;
        }
    }

    &__perma {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    &__tags {
        flex-grow: 1;
        overflow: hidden;
        margin:2rem 0 1rem 0;

        ul {
            margin:0;
            padding:0;
            list-style: none;

            display: inline-flex;
            align-items: center;
            flex-wrap: wrap;
            
            gap:0.75rem;

            li {
                a {

                    &::before {
                      content:"#";
                    }

                    display: inline-flex;
                    text-decoration: none;
                    padding:0.35rem 0.95rem!important;

                    color:rgba(var(--body-link), 1);
                    background-color:rgba(var(--heading-text), 0.08);

                    font-size:0.825rem;
                    border-radius: 30px;
                }
            }
        }
    }

    &__action {
      display: inline-flex;
      align-items: center;
      gap:2rem;
      a {
        color:rgba(var(--body-link), 1);
        text-decoration: none;
      }
      ul {
          margin:0;
          padding:0;
          list-style: none;

          display: inline-flex;
          align-items: center;
          gap:0.75rem;

          li {
              a {
                  display: inline-flex;
                  align-items: center;
                  justify-content: center;
                  padding:0;  

                  border:1px solid rgba(var(--heading-text), 0.15);
                  padding:0.45rem;

                  color: rgba(var(--body-link), 1);
                  border-radius: 8px;

                  svg {
                      width:18px;
                      height:18px;
                  }
              }
            }
          }
      }
}

nav.breadcrumb {

    ol {
      margin: 0;
      padding-left: 0;
      list-style: none;
    }
  
    li {
      display: inline;
  
      + li::before {
        display: inline-block;
        margin: 0 0.5em;
        transform: rotate(15deg);
        border-right: 0.1em solid currentColor;
        height: 0.8em;
        content: "";
      }

      a {
          color:rgba(var(--body-link), 1);
      }
    }
  
    [aria-current="page"] {
      color: rgba(var(--accent), 1);
      font-weight: 700;
      text-decoration: none;
    }
  }

  #ask_form, #submit_form {
    margin:1rem 0;
  }

  .posts-perma {
    padding:2.5rem 2.75rem;
    background-color: rgba(var(--bg-card), 1);

    border-radius: 8px;

    &--info {
        h3 {
            font-size: 1.35rem;
            font-family: var(--body-font);

            text-align: center;
            margin-bottom: 1.75rem;
            color:rgba(var(--heading-text), 1);

        }

        padding-bottom: 1rem;
    }

    &--data {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 1rem;

        @media (max-width:60rem) {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
        }

        &__blog {
            display: inline-flex;
            align-items: center;
            margin-top: 1rem;
            color: rgba(var(--body-text), 1);

            @media (min-width:60rem) {
                margin-top: 0;

                & + * {
                    margin-left: 2.75rem;
                }
            }

            img {
                width:48px;
                height: 48px;
                border-radius: 8px;

                margin-right: 1rem;
            }

            span {
                a {
                    color: rgba(var(--body-link), 1);
                    font-weight: bold;
                }
            }
        }
    }
}

.like {color:currentColor;}
.like .liked+svg{opacity:1}
.like .liked+svg path{fill:#ec5a5a}
.like .like_button{position:relative}
.like .like_button iframe{position:absolute;top:-10px;left:-2px;bottom:0;right:0;z-index:2;opacity:0}