:root {
    --hero: url("https://64.media.tumblr.com/fa1a1197e5c8837df7dce95202d3e6fb/tumblr_p4pvygbztf1uzdx4lo1_1280.png");

    --heading-font:'Source Serif Pro', serif;
    --body-font: 'Inter', sans-serif;

    --accent:244, 81, 108;

    --bg-color:255,255,255;
    --bg-card:255,255,255;

    --heading-text:17,17,17;
    --body-text:68,68,68;
    --body-link:17,17,17;
}